.hair-extention-header
  display flex
  flex-direction column
  align-items center
  padding (basePadding*2) basePadding
  background linear-gradient( #5a2f28 , #e9ae86)
  border-radius 0.33rem
  text-align center
  &__title
    margin-bottom basePadding
    font-size (font-m*2)
    line-height (line-m*2)
    color #ffffff
    font-weight normal
    text-shadow 2px 2px 1px #5a2f28
  &__description
    margin-bottom (basePadding*2)
    max-width 42rem
    font-size font-m
    line-height line-m
    color #f1e1cc
  &__subtitle
    margin-bottom (basePadding*2)
    position relative
    font-size font-l
    font-weight bold
    font-family fontHeader
    line-height 1
    padding basePadding (basePadding*2)
    background-color #fff
    border 1px solid #dab686
    border-radius 0.2rem
    color #ad0a31
    box-shadow 3px 3px 6px rgba(130, 81, 65, .14)
    align-self center
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
    &::before
    &::after
      content ''
      position absolute
      top 50%
      transform translateY(-50%)
      width 10rem
      max-width 100%
      height 1px
      background #dab686;
      @media screen and (max-width point-m)
        top auto
        bottom (-(basePadding))
        width 50%
        transform translateY(50%)
    &::before
      left -10rem
      background linear-gradient( to right, transparent, #dab686 )
      @media screen and (max-width point-m)
        left 0
    &::after
      right -10rem
      background linear-gradient( to left, transparent, #dab686 )
      @media screen and (max-width point-m)
        right 0

  &__types
    width 100%
    .grid__cell
      display flex
      flex-direction column
      align-items center
      p
        margin-bottom font-l
        line-height line-l
        font-size font-l
        color #000
        &:first-of-type
          margin 0
          font-family fontHeader
          font-size font-xl
          font-weight bold
  &__button
    width 12rem
    font-size font-l
    line-height line-l
    padding-y ((line-l - font-l)/2)
    margin-bottom (basePadding*2)
  &__clarification
    align-self stretch
    text-align left
    font-size font-xs
