| <script type="text/javascript">// <![CDATA[
|  jQuery(function()
|                  {
|                    jQuery('.countdownHolder').each(function(i, elem) {
|                      jQuery(elem).countdown(
|                      {
|                        timestamp: new Date(2018, 03, 01)
|                      });
|                    })
|                  });
| </script>
.hair-extention-section.hair-extention-header
  h1.hair-extention-header__title Наращивание волос в Санкт-Петербурге
  p.hair-extention-header__description Сертифицированные мастера. Широкий асортимент длин от 40 см до 85 см. Все цвета в наличии. Самая низкая цена на волосы в городе. 100% качество славянских волос.
  .hair-extention-header__subtitle Укладка и прическа в подарок!
  +grid({'justify':'center'}).hair-extention-header__types
    +grid__item({'m':4,'s':6,'xs':12})
      p Голливудское (холодное)
      p от 4000 руб. *
      a(href='#hair-extention-sign-hollywood' data-name='голливудское наращивание').hair-extention-header__button.btn Записаться
    +grid__item({'m':4,'s':6,'xs':12})
      p Капсульное (горячее)
      p от 3000 руб. *
      a(href='#hair-extention-sign-capsule' data-name='капсульное наращивание').hair-extention-header__button.btn Записаться
    +grid__item({'m':4,'s':6,'xs':12})
      p Ленточное (холодное)
      p от 2000 руб. *
      a(href='#hair-extention-sign-tape' data-name='ленточное наращивание').hair-extention-header__button.btn Записаться
  .hair-extention-header__clarification * Цены указаны на работы, без стоимости волос.
