mixin catalogSlider(slides)
  .catalog-slider
    .catalog-slider__swiper.swiper
      .catalog-slider__wrapper.swiper-wrapper
        each item in slides
          .catalog-slider__slide.swiper-slide
            a(href='/').catalog-slider__image
              +img({
                name: item.img,
                path: '/images/new-catalog/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' },
                ]
              })(alt= item.alt title= item.alt width='168' height='100')
            a(href='/').catalog-slider__link= item.text
    button.catalog-slider__button.catalog-slider__button--prev
    button.catalog-slider__button.catalog-slider__button--next
