.catalog-slider
  position relative
  &__image
    & img
      display block
    &:hover + .catalog-slider__link
      color #B81F33
  &__link
    margin-top 0.5rem
    margin-bottom 0
    line-height 1
    font-weight 700
    color #222222
    text-decoration none
    &:hover
      color #B81F33
  &__swiper
    margin 0 50px
  &__slide
    display flex
    flex-direction column
    align-items center
    text-align center
    & img
      object-fit contain    
  &__button
    position absolute
    top 2.5rem
    background-color transparent
    border none
    display flex
    transition .4s background-color, .4s box-shadow
    z-index 10
    &::after
      width 1.75rem
      height 1.75rem
      border-left .5rem solid rgba(#ad0a31, .5)
      border-top .5rem solid rgba(#ad0a31, .5)
      transition .4s border
      content ''
    &:hover
      transition none
      &::after
        border-left .5rem solid rgba(#ad0a31, 1)
        border-top .5rem solid rgba(#ad0a31, 1)
        transition none
    &--prev
      left 0
      &::after
        transform translateX(25%) rotate(-45deg)
    &--next
      right 0
      &::after
        transform translateX(-25%) rotate(135deg)
