-
  var trainingResultsList = [
    {
      title:'Сертификат',
      body:'Сертификат о прохождении обучения.'
    },
    {
      title:'Наборы мастера для наращивания',
      body:'Наборы мастера для наращивания по специальной цене.'
    },
    {
      title:'Максимальная оптовая скидка',
      body:'Максимальная оптовая скидка 35% в течении месяца после прохождения любого учебного курса компании Волосы24 на волосы в срезах и на капсулах.'
    },
    {
      title:'Знания по заработку на наращивании',
      body:'Другие школы наращивания, работающие при салонах не выдают полностью все секреты своим ученикам, чтобы не плодить успешных конкурентов. Основная прибыль компании Волосы24 идёт от продажи наших волос мастерам и мы заинтересованы в успехе наших учениц. Мы расскажем Вам всё!'
    },
    {
      title:'Знание по обработке срезанных волос',
      body:'Только на наших курсах Вы научитесь основам постижерных работ и сможете самостоятельно обрабатывать срезанные волосы, производить капсулы, ленты и трессы из «сырых» волос.'
    },
  ]

section.training-section.training-results
  h2.training-section__header Результаты обучающих курсов
  p Наши мастера  занимаются наращиванием уже 8 лет, и готовы передать Вам этот многолетний опыт,  упакованный в разработанные нами учебные программы.
  ul.training-results__list
    each item in trainingResultsList
      li.training-results__item
        h3= item.title
        p= item.body
