.instagram-widget
  &__title
    @extend .aside-header

    margin-bottom 0

    a

      display block
      padding-left 1.75rem
      text-decoration none
      background-image svgImport('svg/instagram.svg')
      background-repeat no-repeat
  &__list
    display flex
    flex-wrap wrap
    padding unquote('calc(' + basePadding + ' - 2px)')
    border 1px solid #fafafa
  &__item
    width 25%
    padding 2px

    img
      display block
