mixin listBlocks(list = [], settings)
  -
    settings = settings ? settings : {}
    settings.type = settings.type ? settings.type : 'fixed'
    let classList = [
      ( settings.background ? `list-blocks--background-${settings.background}` : '' ),
      ( settings.textAlign ? `list-blocks--text-align-${settings.textAlign}` : '' )
    ]
  if settings.type == 'fixed'
    .list-blocks(class != classList)
      each item in list
        .list-blocks__item
          .list-blocks__item-body
            div !{item}
  else
    - let itemWidth = settings.width ? settings.width : {m:3,xs:6}
    +grid({paddingy: true}).list-blocks(class != classList)
      each item in list
        +grid__item(itemWidth).list-blocks__item
          .list-blocks__item-body
            div !{item}
