include ../scripts/scripts
include ../grid/grid
include ../iframe-responsive/iframe-responsive
include ../youtube-responsive/youtube-responsive
include ../aside-header/aside-header
include ../aside-menu/aside-menu
include ../catalog-list/catalog-list
include ../breadcrumbs/breadcrumbs
include ../gallery/gallery
include ../list-starred/list-starred
include ../list-features/list-features
include ../list-blocks/list-blocks
include ../modal-content/modal-content
include ../features-title/features-title
include ../block-marked/block-marked
include ../page-section/page-section
include ../page-subheader/page-subheader
include ../home-announcement/home-announcement
include ../highlighted-subtitle/highlighted-subtitle
include ../img/img

include /blocks/style/style

include /helpers/classes

doctype html
html(lang='ru')
  include ../head/head
  +scripts(['jquery-3.3.1.min.js'])
  body
    .page
      include ../header/header
      main
        block content
      include ../footer/footer
    +style('rest')
    if isHomePage
      div home
      +style('home')
    else
      div inner
      +style('inner')
    +scripts(['jquery-3.3.1.min.js','jquery.flexslider-min.js', 'fotorama.js', 'jquery.countdown.js', 'jquery.maskedinput.js', 'jquery.fancybox.min.js', 'likely.js', 'script.js'])
