.hair-extention-masters
  &__item
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__description
    margin-bottom (basePadding*2)
    padding-left basePadding
    padding-right basePadding
    &--center
      text-align center
  &__image
    padding 0 basePadding
    background linear-gradient(#fff 25%, #fefaf1 25%)
    img
      width 100%
      border 0.5rem solid #fff
      box-shadow 0 0 font-s rgba(0,0,0,.1)
  &__name
    padding basePadding
    font-size font-xl
    font-family fontHeader
    text-align center
    line-height line-xl
    background-color #fefaf1
