.hair-extention-section.hair-extention-masters
  h2.hair-extention-subheader Наши мастера по наращиванию
  .hair-extention-masters__description
    p Работают сертифицированные мастера-технологи с многолетним опытом. Мастера нарастят волосы капсульным или летночным методом. После наращивания подстригут, сделают укладку и прическу в подарок.

  +grid({justify:'center'})
    +grid__item({m:9,xs:12})
      +grid({paddingy:true, justify:'center'})
        +grid__item({'m':4,'xs':6}).hair-extention-masters__item
          .hair-extention-masters__image
            img(src='/images/hair-extention/masters-bogdanova.jpg' alt='Ирина Богданова')
          .hair-extention-masters__name Ирина Богданова
        +grid__item({'m':4,'xs':6}).hair-extention-masters__item
          .hair-extention-masters__image
            img(src='/images/hair-extention/masters-smirnova.jpg' alt='Екатерина Смирнова')
          .hair-extention-masters__name Екатерина Смирнова
        +grid__item({'m':4,'xs':6}).hair-extention-masters__item
          .hair-extention-masters__image
            img(src='/images/hair-extention/masters-mihaylova.jpg' alt='Наталья Михайлова')
          .hair-extention-masters__name Наталья Михайлова
        +grid__item({'m':4,'xs':6}).hair-extention-masters__item
          .hair-extention-masters__image
            img(src='/images/hair-extention/masters-shanygina.jpg' alt='Наталья Шаныгина')
          .hair-extention-masters__name Наталья Шаныгина
        +grid__item({'m':4,'xs':6}).hair-extention-masters__item
          .hair-extention-masters__image
            img(src='/images/hair-extention/masters-pristanskova.jpg' alt='Виктория Пристанскова')
          .hair-extention-masters__name Виктория Пристанскова
