.hair-extention-section.hair-extention-result
  h2.hair-extention-subheader Результат наращивания
  +grid({'justify':'center'})
    +grid__item({'m':4,'s':6,'xs':12}).hair-extention-result__item
      .hair-extention-result__image
        img(src='/images/hair-extention/result-1.jpg')
      .hair-extention-result__description
        p Нарастили волосы на капсуле:
          | <br>200 капсул. длина 55 см, цвет № 1.
        p Стоимость:
          | <br>19 800 (волосы) 
          span.hair-extention-result__plus +
          |  6 000 (работа мастера)
        .hair-extention-result__price = 25 800 рублей
        p
          strong Со стоимостью волос
    +grid__item({'m':4,'s':6,'xs':12}).hair-extention-result__item
      .hair-extention-result__image
        img(src='/images/hair-extention/result-2.jpg')
      .hair-extention-result__description
        p Нарастили волосы на ленте:
          | <br>40 лент, длина 60 см, цвет № 201.
        p Стоимость:
          | <br>14 960 (волосы) 
          span.hair-extention-result__plus +
          |  2 000 (работа)
        .hair-extention-result__price = 16 960 рублей
        p
          strong Со стоимостью волос
    +grid__item({'m':4,'s':6,'xs':12}).hair-extention-result__item
      .hair-extention-result__image
        img(src='/images/hair-extention/result-3.jpg')
      .hair-extention-result__description
        p Нарастили волосы на трессе:<br>80 грамм, длина 45 см, цвет № 81В.
        p Стоимость услуги:
          | <br>10 340 (волосы) 
          span.hair-extention-result__plus +
          |  4 000 (работа)
        .hair-extention-result__price = 14 340 рублей 
        p
          strong Со стоимостью волос
