.banner-friday-products
  align-self: flex-end
  justify-content center
  list-style none
  @media(min-width point-l)
    transform translateY(120%)
  &::after
    content ''
    position absolute
    top 0
    right -17%
    width 320px
    aspect-ratio 1/1
    background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-3')
    background-repeat no-repeat
    @media(max-width point-xl - 1)
      display none
  &__grid
    @media(min-width point-l)
      padding-right 0
  &__text
    font-size font-xs
    line-height 1
    text-align center
  &__img
    display block
    margin 0 auto