.checkout-item
  .checkout-item__item.checkout-item__item--info
    .checkout-item__name Волосы для наращивания в срезе
    .checkout-item__clarification упаковка 100 гр.
    .vm-customfield-cart
      span.product-field-type-I Длина: 40 см.
      .product-field-type-M
        | Цвет: 
        img(src='/images/stories/virtuemart/palette/1.jpg')
        span.vm-img-desc № 1
  .checkout-item__item.checkout-item__item--price
    .checkout-item__count 10 шт.
    .checkout-item__price
      .checkout-item__total 96 800 руб.
      .checkout-item__single-price 1 шт. = 9 680 руб.
