.header-main-bottom
  .header-main-bottom__item
    include ../home-menu-info/home-menu-info
  .header-main-bottom__item.header-main-bottom__item--search
    include ../search-form/search-form
  .header-main-bottom__item
    include ../header-cart/header-cart
