.consultation-item
  margin-bottom (basePadding*3)
  &__header
    display flex
    flex-wrap wrap
    margin-bottom (basePadding*1.5)
    margin-x -(basePadding)
  &__title
    margin-right auto
    margin-bottom (basePadding/2)
    padding-x (basePadding)
    font-size font-xxxl
    line-height line-xxxl
  &__subtitle
    margin-left auto
    flex 1 1 100%
    font-weight bold
    color #585858
    padding-x (basePadding)
  &__question
    background-color #fafafa
    padding (basePadding*2)
    margin-bottom (basePadding*2)
  &__question-body
    @extends p
  &__question-footer
    display flex
    margin-x -(basePadding/2)
    align-items baseline
  &__question-author
    font-weight bold
    padding-x (basePadding/2)
  &__question-date
    padding-x (basePadding/2)
  &__answer-title
    font-weight bold
    color #585858
    margin-bottom (basePadding*1.5)
  &__answer-body
    display flex
    margin-x -(basePadding/2)
    @media screen and (max-width point-s)
      flex-wrap wrap
      // justify-content center
  &__answer-photo
    padding-x (basePadding/2)
    width 6.75rem
    flex-shrink 0
    @media screen and (max-width point-s)
      margin-bottom (basePadding*2)
  &__answer-text
    padding-x (basePadding/2)
    @extends p
  &__answer-header
    display flex
    align-items center
    margin-x -(basePadding/2)
    margin-bottom (basePadding*2)
  &__question-author
    font-weight bold
    padding-x (basePadding/2)
  
  &__question-desc
    padding-x (basePadding/2)
    
