.product-photos
  margin-bottom (basePadding*2)
  &__main
    padding (basePadding*2)
    border 1px solid #dab686
    margin-bottom (basePadding)
    position relative
    overflow-y hidden
    img
      display block
      width 100%
      z-index 1
    &::after
      content ''
      position absolute
      bottom basePadding
      right basePadding
      width 1.5rem
      height 1.5rem
      display block
      background url('../images/zoom-in.svg')
      background-size contain
  &__additional
    display flex
    flex-wrap wrap
    justify-content center
    margin -(basePadding/2)
    &--hair
      display none
    .fancybox_product
      width 5rem
      padding (basePadding/2)
      border-bottom none
      img
        display block
        width 100%
  &__ruler
    _width =' calc(100% - ' + (basePadding*4)+ ')'
    position absolute
    top (basePadding*2)
    left (basePadding*2)
    z-index 10
    display none
    width unquote(_width)
    height 2
    border-top 4px solid #dab686
    transition transform .2s
    &::after
      position absolute
      top 0
      left 0
      z-index 1
      width 100%
      height 352px
      content ''
      background-color rgba(255,255,255,.5)
    &--30
      transform translateY(158.25px)
    &--35
      transform translateY(186.5px)
    &--40
      transform translateY(214.75px)
    &--45
      transform translateY(243px)
    &--50
      transform translateY(271.25px)
    &--55
      transform translateY(299.5px)
    &--60
      transform translateY(327.75px)
    &--65
      transform translateY(356px)
    &--70
      transform translateY(384.25px)
    &--75
      transform translateY(412.5px)
    &--80
      transform translateY(440.75px)
    &--85
      transform translateY(469px)
    &--90
      transform translateY(486px)
    &--95
      transform translateY(486px)
  &__ruler-value
    position absolute
    top 0
    left 0
    z-index 2
    display block
    width 2.5rem
    height 2.5rem
    background #fff
    border 4px solid #dab686
    border-radius 50%
    transform translateY(calc(-1.25rem - 2px))
    font-size 1.25rem
    line-height 2rem
    text-align center
