.product-photos
  .product-photos__main
    a(href='#' data-fancybox-group='fancybox_product').fancybox_product
      img(src='https://volosy24.ru/images/stories/virtuemart/product/sample_na_capsule_000.jpg')
    img(src='/images/hair-length.jpg').product-photos__length
    .product-photos__ruler
      .product-photos__ruler-value
  .product-photos__additional
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
      
    a(href='#' data-fancybox-group='fancybox_product').modal.fancybox_product
      img(src='/images/hair_palette.png')
