+grid({'align':'center'}).hair-extention-action.hair-extention-section

  +grid__item({'m':7,'s':6,'xs':12}).hair-extention-action__left
    .hair-extention-action__title Акция
    .hair-extention-action__info.hair-extention-action__info_big Скидка на волосы 
      strong 20%
      | <br>при наращивании в нашем салоне
    .hair-extention-action__gift + подарок
    .hair-extention-action__counter
      p до конца акции осталось:
      .countdownHolder
  +grid__item({'m':5,'s':6,'xs':12}).hair-extention-action__right
    p.hair-extention-action__byphone Вы можете получить<br>консультацию по телефону
    p.hair-extention-action__phone +7 (812) 385-01-51
    p или закажите обратный звонок
    form.hair-extention-action__form
      .hair-extention-action__input
        input(type='tel' placeholder='+7 (___) ___-__-__')
      .hair-extention-action__submit
        button(type='submit') Заказать обратный звонок


      
