.training-form
  margin-bottom (basePadding*4)
  padding (basePadding*2) (basePadding*2) // basePadding
  display flex
  flex-direction column
  align-items center
  background linear-gradient(#efdfbe, #d5b383)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  &__header
    margin-bottom basePadding
    font-family fontHeader
    text-align center
    &_marked
      margin-bottom (basePadding*2)
      padding basePadding (basePadding*2)
      font-weight normal
      background #fff
      border-left 0.2rem solid #ad0a31
      border-right 0.2rem solid #ad0a31
      text-align center
  &__subheader
    margin-top 0
    margin-bottom (basePadding*2)
    font-family fontHeader
    font-size font-l
    text-align center
  h4
    margin-bottom font-xs
  input[type='text']
  input[type='tel']
    // padding 0 basePadding
    flex 1 1 14rem
    // font-size font-m
    // line-height line-xxl
    // border 1px solid #dab686
    border-radius 0.25rem
    margin-x (basePadding/2)
    @media screen and (max-width point-s)
      margin-bottom (basePadding)
  input[type='submit']
  button[type='submit']
    height line-xxl

    margin-x (basePadding)
  .validation-msg
    width 14rem
  &__col
    display flex
    flex-direction column
  &__col-header
    font-weight bold
    margin-bottom font-m
    font-size font-l
    font-family fontHeader
  &__duration-price
    font-size font-l
    font-weight bold
    line-height font-l
    color #ad0a31
  &__materials
    margin-bottom (basePadding*2)
  &__dates
    @media screen and (max-width point-m)
      margin-bottom (basePadding)
    label
    input
      display inline-block
  .form
    max-width 30rem
    width 100%
  &__phone-submit
    display flex
    flex-grow 1
    align-items center
    justify-content center
    margin-x -(basePadding/2)
    @media screen and (max-width point-m)
      flex-wrap wrap
  &-thanks
    margin-bottom (basePadding*4)
  &__coffee-break
    position relative
    display none
    margin-top 0
    margin-bottom 0
    padding-left 110px
    font-size 16px
    font-family sans
    font-style italic
    color #423231
    &::before
      content ''
      position absolute
      left 0
      top -36px
      height 99px
      width 100px
      background url('/images/obuchenie/coffee-break.png')
