-
  var discounts = [
    {
      'header':'25% скидка',
      'pars': [
        'Заказываете на сумму 65 000 руб.<br>оплачиваете: 48 750 руб.<br><strong>экономия - 16 250 руб.</strong>',
        '(около 0,6 кг волос в срезе, или около 680 капсул, или 200 лент)'
      ]
    },
    {
      'header':'30% скидка',
      'pars': [
        'Заказываете на сумму 150 000 руб.<br>оплачиваете: 105 000 руб.<br><strong>экономия - 45 000 руб.</strong>',
        '(около 1,4 кг волос в срезе, или около 1 600 капсул, или 450 лент)'
      ]
    },
    {
      'header':'35% скидка',
      'pars': [
        'Заказываете на сумму 200 000 руб.<br>Оплачиваете 130 000 руб.<br><strong>экономия - 70 000 руб.</strong>',
        '(около 1,8 кг волос в срезе, или около 2 120 капсул, или 600 лент)'
      ]
    }
  ]

+grid({'justify':'center'}).wholesale-discounts
  each item in discounts
    +grid__item({'m':4,'s':6,'xs':12}).wholesale-discounts__item
      p.wholesale-discounts__title !{item.header}
      each par in item.pars
        p !{par}
