.palette
  display flex
  flex-wrap wrap
  margin-x -(basePadding)
  &__item
    margin-x basePadding
    margin-bottom (basePadding*2)
    text-align center
    max-width calc(100%/3 - 1.5rem)
    img
      border 1px solid #DAB686
      border-radius (basePadding/3)
      padding (basePadding/3)
    p
      font-size font-s
      line-height line-s
      margin-bottom 0
