.footer-developer
  padding-left 2.5rem
  background-image url('../images/medreclama.png')
  background-repeat no-repeat
  background-position  left center
  background-size 2rem
  font-size font-xs
  @media screen and (max-width point-m)
    margin-top (basePadding)
  a
    color #cb072f
    display block
    margin-top (font-xs/2)
    &:hover
      color #ad0a31
