.button
.btn
  -webkit-appearance none
  font-size font-m
  line-height line-m
  padding-x(font-m)
  background #ad0a31
  //background-image linear-gradient(rgb(203, 7, 47) 0%, rgb(173, 10, 49) 100%)
  color #ffffff
  border-radius .25rem
  text-decoration none
  transition .4s background-color
  cursor pointer
  display inline-block
  text-align center
  border none
  &:hover
    background-color #cb072f
    color #ffffff
    transition none
  &--big
    font-size font-xl
    line-height line-xl
    padding (font-xl/2) font-xl
    width 100%
a[href^='#'].button
a[href^='#'].btn
  text-decoration none
  @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
    text-decoration none
