.button
.btn
  -webkit-appearance none
  background #ad0a31
  color #ffffff
  border-radius .25rem
  text-decoration none
  transition .4s background-color
  cursor pointer
  &:hover
    background-color #cb072f
    color #ffffff
    transition none
  &--big
    font-size font-xl
    line-height line-xl
    padding (font-xl/2) font-xl
    width 100%
a[href^='#'].button
a[href^='#'].btn
  text-decoration none
  @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
    text-decoration none
