.get-price
  background-color #dfd3b4
  margin-x 0
  padding-x basePadding
  margin-bottom (basePadding*2)
  padding-y (basePadding*2)
  &__title
    font-size font-xl
    line-height line-xl
    text-align center
    margin-bottom (font-xl/2)
    margin-top 0
    font-weight bold
  &__text
    @extends p
    text-align center
    margin-top 0
  &__right-side
    margin-x auto
  &__form
    display flex
    flex-direction column
  &__form-input
    margin-bottom basePadding
    .form__input
      margin-bottom 0
