
mixin hairExtCalc(calc)
  - var formClassList = '' 
  if calc.type == 'rows'
    - formClassList += 'hair-extention-calculator--rows'
  form.hair-extention-calculator(class= formClassList)
    if calc.header
      h3.hair-extention-calculator__header !{calc.header}
    each item in calc.items
      .hair-extention-calculator__item
        label.hair-extention-calculator__label !{item.name}
        if item.type != 'output'
          .hair-extention-calculator__input
            if item.type == 'select'
              select.hair-extention-calculator__select
                each option in item.options
                  option !{option}
            if item.type == 'text'
              input(type='text')
            if item.desc
              .hair-extention-calculator__description !{item.desc}
        else
          .hair-extention-calculator__output
            output 0
            if item.desc
              .hair-extention-calculator__description !{item.desc}
    if calc.noSubmit != true
      .hair-extention-calculator__submit
        button(type='submit').btn Рассчитать стоимость
