.header-cart-item
  font-size font-s
  margin-bottom basePadding
  &__info
    display flex
    margin-bottom (basePadding/2)
  &__title
    font-weight bold
    color #000000
  &__count
    color #999999
  &__price
    flex-shrink 0
  .vm-customfield-mod
    display flex
    flex-direction column
    & > *
      display flex
      align-items center
      margin-bottom (basePadding/3)
    img
      max-width 1rem
      margin-x (basePadding/3)
