.wholesale-cities#wholesale-cities
  +grid({'justify':'center'}).wholesale-cities__inner
    +grid__item({'m':4,'s':6,'xs':12}).wholesale-cities__item
      | Астрахань
      | <br>Барнаул
      | <br>Владикавказ
      | <br>Волгоград
      | <br>Волжский
      | <br>Вологда
      | <br>Грозный
      | <br>Ижевск
      | <br>Иркутск
      | <br>Калининград
      | <br>Калуга
      | <br>Кемерово
      | <br>Киров
      | <br>Кострома
      | <br>Красноярск
      | <br>Курган
      | <br>Курск
    +grid__item({'m':4,'s':6,'xs':12}).wholesale-cities__item
      | Липецк
      | <br>Магнитогорск
      | <br>Махачкала
      | <br>Мурманск
      | <br>Набережные Челны
      | <br>Нижневартовск
      | <br>Нижний Тагил
      | <br>Новокузнецк
      | <br>Омск
      | <br>Орёл
      | <br>Пенза
      | <br>Петрозаводск
      | <br>Ростов-на-Дону
      | <br>Рязань
      | <br>Севастополь
      | <br>Симферополь
      | <br>Смоленск
      | <br>Сочи
    +grid__item({'m':4,'s':6,'xs':12}).wholesale-cities__item
      | Сургут
      | <br>Тамбов
      | <br>Тверь
      | <br>Тольятти
      | <br>Томск
      | <br>Тула
      | <br>Улан-Удэ
      | <br>Ульяновск
      | <br>Хабаровск
      | <br>Чебоксары
      | <br>Челябинск
      | <br>Череповец
      | <br>Чита
      | <br>Якутск
      | <br>Ярославль
