.hair-extention-about
  background-color #f0f0f0
  padding (basePadding*2)
  &__info
    position relative
    background-color #ffffff
    padding 1rem 2rem
    margin-bottom 2.5rem
    h3
      margin-top 0
      margin-bottom 1.25rem
      font-size 1.25rem
      line-height 1.875rem
    & ^[-1]__caption
      position absolute
      right 0
      bottom 0
      transform translateY(100%)
      line-height 2.0625rem
      padding 0.21875rem 1rem
      background-color #ffffff
      border-top 1px solid #f1f1f1
      font-family 'Playfair Display', serif
      font-style italic
      font-size 1rem
  &__photo
    position relative
    img
      display block
      //filter  grayscale(1)
    &::after
      position absolute
      top 50%
      right 0
      transform translate( 100%, -50%)
      content ''
      width 2.5rem
      height 0.125rem
      display block
      background-color #000000
      z-index 2
      @media screen and (max-width 1024px)
        top auto
        bottom 0
        left 50%
        transform translate( -50%, 100%)
        height 2.5rem
        width 0.125rem
