.pagination
  margin-bottom (basePadding*2)
  & > ul
    display flex
    margin-x -(basePadding/3)
    & > li
      margin-x (basePadding/3)
      span.pagenav
        color #999999
        padding (basePadding/4) (basePadding/3*2)
        display inline-block
        border 1px solid #cccccc
        font-size font-xs
        line-height line-xs
        cursor default
        transition background-color .4s
        &:hover
          background-color #f0f0f0
          transition none
      a.pagenav
        padding (basePadding/4) (basePadding/3*2)
        display inline-block
        border 1px solid #cccccc
        font-size font-xs
        line-height line-xs
        transition color .4s, background-color .4s, border-color .4s
        text-decoration none
        &:hover
          background-color #cb072f
          color #ffffff
          transition none
          border-color #cb072f
          
