.pagination
  p.counter
    | Страница 1 из 2
  ul
    li.pagination-start
      span.pagenav <<
    li.pagination-prev
      span.pagenav <
    li
      span.pagenav 1
    li
      a.pagenav(title='2', href='') 2
    li.pagination-next
      a.pagenav(title='Вперёд', href='') >
    li.pagination-end
      a.pagenav(title='В конец', href='') <<
