.hair-palette
  display flex
  justify-content center
  align-items center
  margin-bottom (basePadding*2)
  a
    display flex
    justify-content center
    align-items center
    height 16rem
    width 16rem
    background-image url('../images/hair-palette.png')
    background-size contain
    background-repeat no-repeat
    background-position center
    font-size font-xl
    text-decoration none
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hair-palette@2.png')
    span
      font-size (font-xl*2)
      margin-right (basePadding/2)
