.wholesale-become.wholesale-section
  h2 Станьте единственным представителем в своем регионе
  p Предлагаем заключить эксклюзивных договор на работу в вашем регионе.
    | <br>В регионе Вы будете единственным представителем.
    | <br>Все обращения по оптовой и розничной покупке будем направлять на вас.

  p
    strong Условия:
    |  закуп в месяц от 800 тыс. рублей.
  .wholesale-become__note Скидка оптового заказа распространяется на инструменты и материалы
  p Также продаем 
    a(href='/shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/') инструменты и материалы для наращивания
    | / 
    a(href='/shop/instrumenty-i-materialy-dlia-postizhernykh-rabot/') для постижерных работ.
  p Оказываем услугу 
    a(href='/uslugi/promyshlennoe-okrashivanie-volos/') промышленного окрашивания волос.
