mixin action-banner( settings = { 'title':'','info':'','clarification':'','class':'','countDate':'2017, 00, 00','countNum':'1', 'background':'' } )
  | <script type="text/javascript">
  |   jQuery(function(){
  |     jQuery('#countdown-!{settings.countNum}').countdown({timestamp: new Date(!{settings.countDate})});
  |    });
  | </script>
  a.action-banner( class='action-banner_'+settings.class href='' style='background-image: url("/images/banners/' + settings.background + '.png"), linear-gradient(#ede5bf, #d6b384)')
    .action-banner__right
      .action-banner__header Акция
      .action-banner__title !{settings.title}
      if settings.info
        .action-banner__info !{settings.info}
      if settings.clarification
        .action-banner__clarification !{settings.clarification}
      .action-banner__counter До конца акции осталось:
        div(id='countdown-'+settings.countNum)
