mixin action-banner( banner = { 'title':'','info':'','clarification':'','class':'','countDate':'2017, 00, 00','countNum':'1', 'background':'' }, settings = {} )
  | <script type="text/javascript">
  |   jQuery(function(){
  |     jQuery('#countdown-!{banner.countNum}').countdown({timestamp: new Date(!{banner.countDate})});
  |    });
  | </script>
  a.action-banner( class='action-banner_'+banner.class href='' style='background-image: url("/images/banners/' + banner.background + '.png"), linear-gradient(#ede5bf, #d6b384)')
    .action-banner__right
      if banner.header
        .action-banner__header Акция
      .action-banner__label !{banner.label}
      if banner.info
        .action-banner__info !{banner.info}
      if banner.clarification
        .action-banner__clarification !{banner.clarification}
  .action-banner__counter До конца акции осталось: 
    div(id='countdown-'+banner.countNum)
