$backgroundGradient =  linear-gradient(#ede5bf, #d6b384)
.action-banner
  --custom-background url("/images/banners/capsules.png")
  display flex
  justify-content flex-end
  padding 2.5rem 4rem 2.5rem 20rem
  width 100%
  max-height 100%
  height 18rem
  background-repeat no-repeat
  background-size auto 100%
  border-radius 4px
  text-decoration none
  @media screen and (max-width point-m)
    padding 0
    height 100%
    max-height 400px
  &__right
    display flex
    flex-direction column
    text-align right
    justify-content center
    @media screen and (max-width point-m)
      padding 1rem
      background rgba(255,255,255,0.75)
      width 100%
      // @support (backdrop-filter) or (-webkit-backdrop-filter)
      //   backdrop-filter blur(10px)
  &__counter
    margin-top auto
    text-align right
    color #202020
    font-size font-xs
    .countdownHolder
      display flex
      margin-top font-xs
      justify-content flex-end
      .position
        display inline-block
        height line-xxl
        overflow hidden
        position relative
        width line-xxl*(3/4)
      .digit
        background #b0986e
        box-shadow none
        position: absolute;
        display: block
        width line-xxl*(3/4)
        line-height line-xxl
        font-size font-xxl
        border-radius: 0.2rem
        text-align: center
        color: #fff
        letter-spacing: -1px
        @media screen and (max-width point-s)
          line-height line-xl
          font-size font-xl
          
      .digit.static
        background #b0986e
        box-shadow none
        display block
      .countDays::after
        font-size 12px
        content 'дней'
        display block
        text-align center
      .countHours::after
        font-size 12px
        content 'часов'
        display block
        text-align center
      .countMinutes::after
        font-size 12px
        content 'минут'
        display block
        text-align center
      .countSeconds::after
        font-size 12px
        content 'секунд'
        display block
        text-align center
      .countDiv
        display flex
        align-items center
        &::after
          margin-x .25rem
          line-height line-xxl
          font-size font-xxl
          content ':'
        
  &__header
    margin-bottom 16px
    font-size 3rem
    font-weight bold
    font-style italic
    line-height 1
    text-transform uppercase
    color #ad0a31
    text-shadow 1px 1px 2px #faf8e0
  &__info
    color #ad0a31
    font-size font-s
    line-height 30px !important
  &__title
    color #ad0a31
    line-height line-xl
    font-size font-xl
    margin-bottom 8px
  &__clarification
    color #5e061a
    margin-bottom 8px
  // &_inst-vk
  //   background url('/images/banners/inst-vk.png') left top no-repeat, $backgroundGradient
  // &_master-set
  //   background url('/images/banners/master-set.png') left top no-repeat, $backgroundGradient
  // &_instruments-30
  //   background url('/images/banners/instruments.png') left top no-repeat, $backgroundGradient
  // &_red-capsules
  //   background url('/images/banners/red-capsules.png') left top no-repeat, $backgroundGradient
  // &_capsules
  //   background url('/images/banners/capsules.png') left top no-repeat, $backgroundGradient
  // &_long-hair-srez
  //   background url('/images/banners/long-hair-srez.png') left top no-repeat, $backgroundGradient
  // &_zak-slav
  //   background url('/images/banners/zak-slav.png') left top no-repeat, $backgroundGradient
  //   padding-left 260px
  
