-
  var calc2 = {
    header: '<strong>Я знаю необходимое количество материалов</strong>',
    items: [
      {
        type: 'select',
        name: 'Вид наращивания',
        options: ['капсульное', 'ленточное']
      },
      {
        type: 'select',
        name: 'Длина волос',
        options: ['35-45 см']
      },
      {
        type: 'text',
        name: 'Кол-во',
        options: ['Каскадная', 'Густые кончики (одной длины)']
      },
    ]
  }
