-
  var calc1 = {
    header: '<strong>Я не знаю необходимое количество материалов</strong>',
    items: [
      {
        type: 'select',
        name: 'Вид наращивания',
        options: ['капсульное', 'ленточное']
      },
      {
        type: 'select',
        name: 'Ваша длина волос',
        options: ['до подбородка', 'до плеч', 'ниже лопаток']
      },
      {
        type: 'select',
        name: 'Стрижка',
        options: ['Каскадная', 'Густые кончики (одной длины)']
      },
      {
        type: 'select',
        name: 'Объем (густота) своих волос',
        options: ['малый', 'средний', 'большой']
      },
      {
        type: 'select',
        name: 'Желаемая длина волос',
        options: ['40 см', '50 см', '60 см', '70 см', '80 см']
      }
    ]
  }
