-
  var hairExtRes = [
    {
      'image': {
        'src':'/images/hair-extention/result-01.jpg',
        'alt':''
      },
      'desc':[
        'Нарастили волосы на капсуле:<br>200 капсул. длина 55 см, цвет № 1.',
        'Стоимость:<br>19 800 (волосы) + 6 000 (работа)'
      ],
      price: '= 25 800 рублей'
    },
    {
      'image': {
        'src':'/images/hair-extention/result-02.jpg',
        'alt':''
      },
      'desc':[
        'Нарастили волосы на ленте:<br>40 лент, длина 60 см, цвет № 201.',
        'Стоимость:<br>14 960 (волосы) + 2 000 (работа)'
      ],
      price: '= 16 960 рублей'
    },
    {
      'image': {
        'src':'/images/hair-extention/result-03.jpg',
        'alt':''
      },
      'desc':[
        'Нарастили волосы на трессе:<br>80 грамм, длина 45 см, цвет № 81В.',
        'Стоимость:<br>10 340 (волосы) + 4 000 (работа)'
      ],
      price: '= 14 340 рублей'}
  ]
