-
  var calc3 = {
    // noSubmit: true,
    type: 'rows',
    items: [
      {
        type: 'select',
        name: 'Вид наращивания',
        options: ['капсульное', 'ленточное']
      },
      {
        type: 'text',
        name: 'Кол-во',
        desc: 'капсул'
      },
      {
        type: 'output',
        name: 'Стоимость',
        desc: 'руб.'
      },
    ]
  }
