.banner-shopping
  margin-top 3rem
  @media (max-width point-l - 1)
    margin-top 1.5rem
  &__inner
    display flex
    flex-direction column
    align-items center
    padding-top 2rem
    padding-bottom 2rem
    text-align center
    background-image image-set(url('../images/banner-shopping.webp') 1x, url('../images/banner-shopping@2x.webp') 2x)
    background-repeat no-repeat
    background-size cover
    background-position right 15% center
  &__title
    font-size 2rem
    line-height 1.5
    color #B81F33
    font-weight bold
    &--sales
      font-weight 900
    @media(max-width point-m)
      font-size line-m
      &--sales
        font-size 2rem
  &__info
    position relative
    margin-bottom 0.75rem
    padding 2rem 1.8rem 1.5rem
    z-index 3
    &::before
    &::after
      position absolute
      content ''
      top 50%
      left 50%
      transform translate(-50%, -50%)
      z-index -1
    &::before
      width 100%
      aspect-ratio 1 / 1
      background linear-gradient(180deg, rgba(245, 237, 221, 0.8) 0%, rgba(227, 212, 183, 0.8) 100%)
      box-shadow 0px 14.2857px 32.1429px #A68D61
      border-radius 50%
    &::after
      width 170px
      height 170px
      background-image url('../images/svg-sprites/home.svg#promocode')
      background-position center
      background-repeat no-repeat
  &__text
    color #4E4E4E
    font-size 0.81rem
    line-height 1
  &__text-bottom
    margin-bottom 0.625rem
    font-size font-xs
    line-height 1.2
  &__promocode
    padding 0.3rem
    color #F1EDE4
    font-weight 700
    font-size 0.81rem
    line-height 1
    text-align center
    background-color #8B6347
    text-transform uppercase
  &__button
    padding 0.75rem 2.5rem
    font-weight bold
  &__title--sales
  &__text
  &__promocode
    margin-bottom 0.4rem
