.hair-extention-question
  border 1px solid #b0986e
  margin-bottom 24px
  &__label
    position relative
    padding 8px 16px 8px  38px
    display block
    font-size 16px
    line-height 22px
    color #333
    cursor pointer
    &::before
      position absolute
      content ''
      width 22px
      height 22px
      top 8px
      left 8px
      background-image url('/images/hair-extention/questionplus.png')
      background-repeat no-repeat
      background-position center
  &__body
    display none
    padding 16px 16px 0
    p:not(last-child)
      margin-bottom 16px
  &__radio
    display none
    &:checked ~ 
      .hair-extention-question
        &__body
          display block
        &__label
          color #fff
          background-color #b0986e
          &::before
            background-image url('/images/hair-extention/questionminus.png')
        
