.footer-menu
  &__header
    font-size font-s
    line-height line-s
    font-weight bold
    margin-bottom (font-xs)
    font-family fontHeader
  &__item
    margin-bottom (font-xxs/1.5)
    font-size font-xs
    line-height line-xs
    position relative
    padding-left basePadding
    &::before
      content ''
      position absolute
      top 0
      left 0
      transform translateY(50%)
      display inline-block
      border 0.25rem solid transparent
      border-left 0.25rem solid #c9ad85
  a
    color #000000
    display inline-block
    text-decoration none
    &:hover
      color #000000
      text-decoration underline
      
