mixin footerMenu( settings = {'header':'','items': [{ 'name':'' , 'url':'' }]} )
  .footer-menu
    .footer-menu__header !{settings.header}
    ul.footer-menu__list
      each item in settings.items
        li.footer-menu__item
          a(href!= item.url) !{item.name}
