.hair-extention-consultation
  padding (basePadding*2)
  background linear-gradient(#ede5bf, #d6b384)
  border-radius 4px
  display flex
  flex-direction column
  align-items center
  &__title
    margin-bottom basePadding
    font-family 'georgia', 'times new roman', sans
    font-size font-l
    font-weight bold
    line-height line-l
    text-align center
    max-width 42rem
  &__input
    input
      padding (basePadding/2) (basePadding*2)
      line-height line-m
      font-size font-m
      width 100%
      border 1px solid #ddbc8e
      border-radius 4px
    @media screen and (max-width point-s)
      margin-bottom basePadding
  &__submit
    button
      display block
      width 100%
      padding (basePadding/2) (basePadding*2)
      font-size font-s
      line-height line-m
      text-transform uppercase
      color #fff
      background #cc0033
      border none
      cursor pointer
      outline none
      transition background .2s
      border-radius 4px
      &:hover
        background #990033
        text-shadow none
