.hair-extention-consultation.hair-extention-section
  p.hair-extention-consultation__title Оставьте номер телефон, наш мастер перезвонит и ответит на оставшиеся вопросы по наращиванию
  +grid.hair-extention-consultation__form
    +grid__item({'s':6,'xs':12}).hair-extention-consultation__input
      input(type='tel' placeholder='+7 (___) ___-__-__')
    +grid__item({'s':6,'xs':12}).hair-extention-consultation__submit
      button(type='submit') Проконсультироваться
