.header-contacts
  &__city
    margin-bottom .25rem
    text-align center
  &__phone
    margin-bottom 0.5rem
    padding-left line-s
    position relative
    white-space no-wrap
    &--subdomain
      margin-bottom .75rem
  .btn
    font-size 0.875rem
    width 100%
