.breadcrumbs
  display flex
  flex-wrap wrap
  padding-y basePadding
  font-size font-xs
  line-height line-xs
  align-items center
  border-bottom 1px solid #F7EFDF
  &__parent
    padding-right (basePadding /2 )
  &__separator
    border 0.25rem solid transparent
    border-left 0.25rem solid #cccccc
