.hair-extention-section.hair-extention-how-we-work#hair-extention-section__how-we-work
  h2.hair-extention-subheader Как мы работаем?
  ul.hair-extention-how-we-work__list
    li.hair-extention-how-we-work__item
      p
        strong Рекомендуем
        |  подходящий вид наращивания волос при любой длине, состоянии волос (редкие или тонкие), длительности ношения, степени естественности.
      p Сможем нарастить волосы близко к лицу, в области челки.
    li.hair-extention-how-we-work__item
      p Поможем 
        strong выбрать нужную длину
        |  волос исходя из исходной длины и густоты волос, стрижки, роста и образа жизни. Чтобы получить максимально естественный результат.
      p Подберем нужный 
        strong оттенок
        |  и определим необходимое 
        strong количество прядей
        | .
      p За счет использования прядей различного цвета добьемся любого эффекта: 
        strong мелирование, колорирование, омбре
        | .
    li.hair-extention-how-we-work__item
      p Рассчитаем примерную стоимость услуги.
    li.hair-extention-how-we-work__item
      p Перед наращиванием, при необходимости 
        strong выполним адаптационную стрижку
        | . Волосы будут выглядеть 
        strong аккуратно
        | , а короткие собственные пряди не будут выбиваться из общей прически.
      p Также 
        strong обновим цвет собственных волос
        |  чтобы не был заметен переход между ними и нарощенными волосами.
    li.hair-extention-how-we-work__item
      p Дадим 
        strong консультацию по уходу за волосами
        | , порекомендуем профессиональную косметику, которую вы сможете приобрести в нашем салоне.
