.hair-extention-how-we-work
  &__list
    counter-reset howWeWorkCounter
    // display flex
    // flex-direction column
    // align-items center
  &__item
    margin-bottom (basePadding*2)
    position relative
    padding-left (basePadding*6)
    min-height 5.5rem
    display flex
    flex-direction column
    justify-content center
    counter-increment howWeWorkCounter
    // max-width 56rem
    // width 100%
    p:last-child
      margin-bottom 0
    &::before
      content counter(howWeWorkCounter)
      position absolute
      left 0
      top 0
      font-size 5.5rem
      line-height 5.5rem
      width (basePadding*4)
      color #ad0a31
