.catalog-mobile-filter
  position relative
  display flex
  align-items center
  justify-content space-between
  column-gap 1.2rem
  &__block
    --filter-inner-translate unquote('calc(-100% - ' + basePadding + ')')
    --filter-inner-duration 0.3s
    &--active
      --filter-inner-translate 0
      --filter-inner-duration 0.2s
    @media(max-width point-m - 1)
      width 50%
  &__button
    padding 0.2rem 1.25rem
    width 100%
    @media(min-width point-m)
      display none
