.header-cart
  display flex
  margin-x -(basePadding/2)
  align-items center
  &__item
    padding-x (basePadding/2)
    font-size font-s
    line-height line-s
    &--cart
      padding-left 2.375rem
      position relative
      padding-right 0
      & > a, & > span
        line-height line-xl
        display inline-block
        padding-x (basePadding)
    & > a
      text-decoration none
      border-bottom none
