.header-cart
  display flex
  margin-x -(basePadding/2)
  align-items center
  &__item
    padding-x (basePadding/2)
    font-size font-s
    line-height line-s
    color #999999
    &--cart
      padding-left 2.375rem
      background-size 2rem auto
      position relative
      padding-right 0
      & > a, & > span
        line-height line-xl
        display inline-block
        padding-x (basePadding)
        &.active
          background-color #cf052b
          color #ffffff
          border-radius 0.25rem 0.25rem 0 0
          &:hover
            color #f0f0f0
      &::before
        width 2rem
        height 2rem
        display block
        content ''
        position absolute
        top 0
        transform translateY(-6.75%)
        left 0
        background-size contain
        background-position left
        background-repeat no-repeat
        margin-right (basePadding/2)
        transition filter .4s
        background-image url('../images/cart.png')
        @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
          background-image url('../images/cart@2.png')
        
    & > a
      color #999999
      text-decoration none
      border-bottom none
      &:hover
        color #000000
