.block-marked
  height calc(100% - 1rem)
  display flex
  flex-direction column
  margin-bottom 1rem
  &--accept
    & ^[-1]__body
      position relative
      background-color #fdfcf8
      &::after
        position absolute
        bottom 0
        right 0.75rem
        content '+'
        font-size 4rem
        color #efe1ce
  &--deny
    & ^[-1]__body
      position relative
      background-color #f7f7f7
      border 1px solid #d9d9d9
      &::after
        position absolute
        bottom 0
        right 0.75rem
        content '−'
        font-size 4rem
        color #e5e5e5
  &--simple
    & ^[-1]__body
      background-color #f9eadd
      border none
      padding-y basePadding
  &__title
    text-align center
    padding (basePadding/3*2)
    background-color #f9eadd
    border-radius (basePadding/3) (basePadding/3) 0 0
    line-height 1.5rem
  &__body
    border 1px solid #dab686
    padding (basePadding*2)
    flex-grow 1
    & > :first-child
      margin-top 0
    & > :last-child
      margin-bottom 0
