section.training-section.training-header
  h1.training-header__header Курсы по наращиванию волос
  .training-header__subheader Индивидуальное и самое полное обучение мастеров
  .training-header__subheader-2 с раскрытием всех секретов
