-
  var coursesList = [
    {
      image:'/images/obuchenie/course-1.jpg',
      title:'Горячее (капсульное)<br>наращивание',
      subtitle:'2 дня - 12 000 руб.'
    },
    {
      image:'/images/obuchenie/course-2.jpg',
      title:'Наращивание<br>на трессе',
      subtitle:'8 академ. часов - 8 000 руб.'
    },
    {
      image:'/images/obuchenie/course-3.jpg',
      title:'Ленточное<br>наращивание',
      subtitle:'3 академ. часа - 3 000 руб.'
    }
  ]
section.training-section.training-courses
  h2.training-section__header Курсы которые вы можете пройти
  +grid({'tag':'ul', 'justify':'center'}).training-courses__list
    each item in coursesList
      +grid__item({'tag':'li','m':4,'s':6,'xs':12}).training-course
        figure
          .training-course__image
            .training-course__counter №
            img(src= item.image alt='')
          figcaption
            h3.training-course__title
              != item.title
            p.training-course__subtitle= item.subtitle
include /blocks/banner-training/banner-training
.training-form.form
  h3.training-form__header Оставьте номер телефона
  p.training-form__subheader Мы перезвоним и уточним какой курс вы выбрали.
  form
    .training-form__col
      .training-form__phone-submit
        input(type='tel' required).form__input
        button(type='submit').btn Отправить
  p.training-form__coffee-break Обучение проходит с перерывом на кофе-брейк
