.footer-copy
  span Все права защищены &copy; 2008-2017 ООО "Волосы24".<br>
  span.footer-copy__small Вопросы по продукции, заказы, сотрудничество: 
    a(href='mailto:market@volosy24.ru') market@volosy24.ru<br>
  span.footer-copy__small Пожелания и проблемы по качеству: 
    a(href='mailto:otk@volosy24.ru') otk@volosy24.ru
