.banner-friday-item
  position relative
  padding-bottom 3rem
  color #ffffff
  background-color #000000
  background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 26.03%, rgba(0, 0, 0, 0.8) 57.95%, #000000 79.32%), image-set(url('../images/banner-friday.webp') 1x, url('../images/banner-friday@2x.webp') 2x)
  background-repeat no-repeat
  background-size contain
  background-position left 55% top
  z-index 0
  overflow hidden
  @media(max-width point-m - 1)
    background-position left 11% top
    background-size auto 55%
  @media(max-width point-s - 1)
    background-position right 1% top
    background-size auto 23%
    background-image linear-gradient(180deg, rgba(0, 0, 0, 0) 26.03%, rgba(0, 0, 0, 0.8) 57.95%, #000000 79.32%), image-set(url('../images/banner-friday-mob.webp') 1x, url('../images/banner-friday-mob@2x.webp') 2x)
  &::after
    content ''
    position absolute
    top -16%
    right -3%
    width 500px
    aspect-ratio 1/1
    background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-2')
    background-repeat no-repeat
    @media(max-width point-xl - 1)
      display none
  &__title
    position relative
    margin-top 1.5rem
    margin-bottom 2.5rem
    color transparent
    font-weight 900
    text-transform uppercase
    background-clip text
    background-image linear-gradient(90deg, rgba(227, 212, 183, 0.28) 2.19%, rgba(241, 237, 228, 0.14) 96.22%)
    @media (max-width point-m - 1)
      margin-bottom 1.875rem
    @media (max-width point-s - 1)
      margin-bottom 1.25rem
      font-size font-s
    &::before
      content ''
      position absolute
      top -28px
      left -123px
      width 221px
      aspect-ratio 1/1
      background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-1')
      background-repeat no-repeat
      background-size cover
      @media(max-width point-xl - 1)
        display none
    &::after
      content '21-27.11.2022'
      display block
      position absolute
      top 50%
      left 250px
      width 116px
      height 100%
      color #FFFFFF
      font-size 0.75rem
      font-weight 700
      text-align center
      border 0.6px solid #FFFFFF
      opacity 50%
      transform translateY(-50%) rotate(15.22deg)
      @media (max-width point-m - 1)
        left 175px
      @media (max-width point-s - 1)
        width 85px
        left 150px
  &__discount
    position relative
    margin-bottom 0
    font-weight 900
    text-transform uppercase
    font-size 2rem
    line-height line-xxl
    @media(max-width point-s - 1)
      font-size 1.875rem
  &__percent
    margin-bottom 0
    font-weight 900
    font-size 2rem
    line-height line-xxl
    color #E51032
    & span
      font-weight 700
      font-size 1rem
  &__info
    position relative
    display flex
    flex-direction column
    justify-content flex-end
    align-items center
    margin-left 75px
    margin-top -20px
    margin-bottom 1.5rem
    width 203px
    height 60px
    background-image url('../images/svg-sprites/inner.svg#banner-friday-rect')
    background-repeat no-repeat
    background-size cover
    background-position center
    filter drop-shadow(0px 4px 8px #67121E)
    z-index -1
  &__promocode
    margin-bottom 0.2rem
    font-size font-xs
    line-height 1
    opacity 30%
  &__promocode-text
    margin-bottom 0.5rem
    padding 0 0.5rem
    font-weight 700
    text-transform uppercase
    background-color #151515
    border-radius 4px
  &__list
    position relative
    display flex
    flex-direction column
    justify-content center
    order 2
    margin-top 2rem
    list-style none
    @media (min-width point-m) and (max-width point-l - 1)
      flex-direction row
    @media (max-width point-m - 1)
      align-items center
    &::before
      content ''
      position absolute
      top 70%
      left -83%
      width 200px
      aspect-ratio 1/1
      background-image url('../images/svg-sprites/inner.svg#banner-friday-bg-4')
      background-repeat no-repeat
  &__item 
    position relative
    & + & 
      margin-top 0.5rem
    @media (min-width point-m) and (max-width point-l - 1)
      & + & 
        margin-top 0
        margin-left 1.5rem
    &::before
      content ''
      position absolute
      bottom -6px
      left -6px
      width 43px
      aspect-ratio 1/1
      border-radius 50%
      background-color #212121
      z-index -1
    &:nth-of-type(2)
      &::before
        bottom -15px
        left -7px
        width 50px
        background-color #616161
        z-index -2
    &:last-of-type
      &::before
        bottom -24px
        left -8px
        width 55px
        background-color #4B4B4B
    @media(max-width point-l - 1)
      &::before
        top 50%
        transform translateY(-50%)
  &__order-discount
    font-weight 700
    font-size font-xxl
    line-height 1
    z-index 3
  &__order
    font-size font-s
