include ../product-hard-to-choose/product-hard-to-choose

.product-properties
  .product-properties__item
    .product-properties__title 1. Выберите длину
      | 
      a(href='#product-choose-length') ?
    select(name='customPrice[][18]').product-properties__select.product-properties__select--length
      option(value='8792') 30–35см. (20000р.)
      option(value='8792') 35–40см. (20000р.)
      option(value='8792') 40см.  (1826р.)
      option(value='8793') 45см.  (1936р.)
      option(value='8794') 50см.  (2275р.)
      option(value='8795') 55см.  (2396р.)
      option(value='8796') 60см.  (2904р.)
      option(value='8797') 65см.  (3025р.)
      option(value='8798') 70см.  (3872р.)
      option(value='8799') 75см.  (4840р.)
      option(value='8800') 80см.  (5324р.)
      option(value='8801') 85см.  (5445р.)
      option(value='9244') 90см.  (5962р.)
      option(value='9245') 95см.  (6556р.)
  .product-properties__item
    .product-properties__title 2. Выберите цвет
      | 
      a(href='#product-choose-color') ?
    .product-properties__list
      -
        var colors = [
          '1','1b','2','3','3b','4','4b','5','5b','6',
          '8','10','12','16','16b','18','19','20','20b','22',
          '22b','24','24b','28','33','33b','61','71b','77','81',
          '81b','83','87','88','810','91','903','97','135','135b',
          '201','602','613','100','000','110','110b','220','330','440',
          '550','660','990','61/77/810','613/22','88/810','903/24/16'
        ]
      each color, index in colors
        - var image = '/images/stories/virtuemart/palette/' + color + '.jpg'
        -
          let attributes = index > 19 ? ({'data-mrc-sh-body': 'product-color'}) : undefined
        label.other-customfield&attributes(attributes)
          if index === 0
            input(checked='checked' type='radio' value='8678' name='customPrice[0][22]')
          else
            input(type='radio' value='8678' name='customPrice[0][22]')
          span.other-customfield-dec
          img(src= image)
          span.vm-img-desc !{color}
          span.customPrice
      .product-properties__more
        a(href='#' data-mrc-sh-title='product-color') показать все
  +grid
    +grid__item({s:6, xs:12})
      .product-properties__item
        .product-properties__title 3. Укажите количество упаковок:
        .product-quantity
          .product-quantity__counter
            input(type='button' value='-').quantity-controls.quantity-minus
            input(id='quantity_box' type='text' name='quantity[]' value='1').quantity-input
            input(type='button' value='+').quantity-controls.quantity-plus
          .product-quantity__desc цена указана за упаковку (100 гр.)
      .product-properties__item.product-properties__item--cur-balance
        .product-properties__title 4. Остаток:
        .product-properties__value.curBalance_message 18 упаковок
        .product-properties__deliver-today отправим сегодня
    +grid__item({s:6, xs:12})
      +productHTC
