.product-properties
  &__item
    margin-bottom (basePadding*2)
    &--cur-balance
      & ^[-2]__value
        display inline-block
        padding 5px 20px
        font-size 1.5rem
        font-weight bold
        background-color #fff
        &.curBalance_description
          margin-top .5rem
          padding 0
          font-size font-s
          line-height line-s
          background-color transparent
  &__title
    font-size font-m
    line-height line-m
    margin-bottom (font-m)
    font-weight bold
  &__list
    margin -(basePadding/4)
    margin-bottom -(basePadding*2)
    display flex
    flex-wrap wrap
    max-width 35rem
    .other-customfield
      display flex
      flex-direction column
      align-items center
      position relative
      margin (basePadding/4)
      margin-bottom (basePadding)
      width 50px
      input[type='radio']
        display none
        &:checked ~ .other-customfield-dec
          box-shadow 0 0 5px 1px #FF3300
          display block
          position absolute
          width 44px
          height 44px
          top -2px
          left 3px
      .vm-img-desc
        font-size font-xs
        max-width 100%
        text-align left
        text-overflow ellipsis
        overflow-x hidden
      img
        margin-bottom (basePadding/2)
  &__more
    width 100%
    margin-x (basePadding/4)
    margin-bottom (basePadding)
  &__deliver-today
    margin-top basePadding
    padding-left 2.5rem
    line-height 1.5rem
    background-image svgImport('svg/delivertoday.svg')
    background-position left center
    background-repeat no-repeat
.product-quantity
  display flex
  align-items center
  margin-x -(basePadding/2)
  &__counter
    display flex
    align-items center
    margin-x (basePadding/2)
    .quantity-controls
      width font-xl
      line-height font-xl
      font-size font-xl
      padding 0
      border none
      color #ffffff
      background-color #666666
      -webkit-appearance none
    .quantity-input
      width 3rem
      height line-xl
      padding (basePadding/3)
      margin-x (basePadding/3)
      text-align center
  &__desc
    font-size font-xs
    margin (basePadding/4)
