.product-properties
  &__item
    margin-bottom (basePadding*2)
    &--cur-balance
      & ^[-2]__value
        display inline-block
        padding 5px 20px
        font-size 1.5rem
        font-weight bold
        background-color #fff
        &.curBalance_description
          margin-top .5rem
          padding 0
          font-size font-s
          line-height line-s
          background-color transparent
  &__title
    display flex
    flex-wrap wrap
    gap (basePadding/2) basePadding
    align-items baseline
    font-size font-m
    line-height line-m
    margin-bottom (font-m)
    font-weight bold
  &__availability
    --quantity-color #008000
    display flex
    flex-wrap wrap
    gap (basePadding/2) basePadding
    align-items baseline
    // margin-left basePadding
    font-size .75rem
    &--not-available
      --quantity-color #D9001B
  &__color-list
    display flex
    gap (basePadding*2)
    @media(max-width point-s - 1)
      flex-direction column
  &__list
    // margin -(basePadding/2)
    // margin-bottom -(basePadding*2)
    display flex
    flex-wrap wrap
    gap (basePadding/1.4)
    // max-width 40rem
    padding-bottom 1rem
    // &--active
    //   --field-display block
    .other-customfield
      --box-shadow-color #FF3300
      display flex
      flex-direction column
      align-items center
      position relative
      // margin (basePadding/2)
      // margin-bottom (basePadding)
      width 28px
      height 28px
      // &:nth-child(n+19)
      //   display var(--field-display, none)
      &--available
        --box-shadow-color green
        .other-customfield-dec
          box-shadow 0 0 1px 1px var(--box-shadow-color)
      .other-customfield-dec
        display block
        position absolute
        width 32px
        height 32px
        top -2px
        left -2px
      input[type='radio']
        display none
        &:checked ~ .other-customfield-dec
          box-shadow 0 0 5px 2px var(--box-shadow-color)
      .vm-img-desc
        font-size font-xs
        max-width 100%
        color green
        // text-align left
        text-overflow ellipsis
        // overflow-x hidden
      img
        width 100%
        margin-bottom (basePadding/2)
    &--main
      .other-customfield
        width 90px
        height 90px
        .other-customfield-dec
          width 96px
          height 96px
          top -3px
          left -3px
  &__more
    width 100%
    margin-x (basePadding/4)
  &__quantity
    font-size font-s
    color var(--quantity-color)
    strong
      color #000
  &__deliver-today
    padding-left 2.5rem
    line-height 1.5rem
    background-image url(../images/svg-sprites/inner.svg#delivertoday)
    background-position left center
    background-repeat no-repeat
    background-size 2rem
  &__preorder-details
  &__preorder-details.fancybox-content
    display none
    max-width 30rem
.product-quantity
  display flex
  align-items center
  margin-x -(basePadding/2)
  &__counter
    display flex
    align-items center
    margin-x (basePadding/2)
    .quantity-controls
      width font-xl
      line-height font-xl
      font-size font-xl
      padding 0
      border none
      color #ffffff
      background-color #666666
      -webkit-appearance none
    .quantity-input
      width 3rem
      height line-xl
      padding (basePadding/3)
      margin-x (basePadding/3)
      text-align center
  &__desc
    font-size font-xs
    margin (basePadding/4)
