.checkout-table
  padding (basePadding*2)
  background-color #e4e4e4
  margin-bottom (basePadding * 2)
  @media screen and (max-width point-m)
    margin-x (-(basePadding))
  &__total
    border-top 1px solid #ffffff
    padding-top (basePadding*2)
    display flex
    justify-content flex-end
    strong
      margin-left basePadding
