mixin landingFeedback(item)
  .landing-feedback
    .landing-feedback__photo: img(src != item.photo alt != item.author)
    .landing-feedback__author !{item.author}
    .landing-feedback__occupation !{item.occ}
    .landing-feedback__body: block
