.landing-feedback
  display grid
  grid-template-areas 'photo body' 'photo author' 'photo occupation' 'photo .'
  grid-template-columns 10rem auto
  grid-column-gap (basePadding * 2)
  margin-bottom (basePadding * 2)
  @media (max-width point-m - 1)
    grid-template-areas 'photo author' 'photo occupation' 'photo .' 'body body'
    grid-template-columns 6rem auto
  &__photo
    grid-area photo
  &__author
    grid-area author
    margin 0
    font-size font-l
    font-weight bold
  &__occupation
    grid-area occupation
  &__body
    grid-area body
