
+grid({'align':'center'}).header-mobile
  +grid__item({'xs':2}).header-mobile__menu
    include ../mobile-menu/mobile-menu
  +grid__item({'xs':10})
    .header-mobile__logo
      include ../logo/logo
    .header-mobile__phone: a(href='tel:+78126123736') +7 (812) 612-37-36
    .header-mobile__logo-text Славянские волосы высочайшего качества по оптовым ценам
