.header-mobile
  &__phone 
    margin-top .5rem
    font-size font-l
    a
      text-decoration none
  & .logo
    a
      width 9.625rem
      height 1.75rem
      background url('../images/logo-small.png') left top no-repeat
      background-size contain
  &__logo-text
    margin-top .25rem
    font-size font-xs
