mixin gallery(object = {'images':[{'url':'', 'alt':'','desc':'','link':{'url':'','text':''}}], 'settings':{'size':''}})
  -
    var images = object.images
    var settings = object.settings 
    var classesList = []
    var classesString = ''
    if (settings.size)
      classesList.push(' gallery_' + settings.size)
    if (attributes.class)
      classesList.push(attributes.class)
  each item in classesList
    -
      classesString = classesString + ' ' + item
  .gallery(class= classesString style= attributes.style)
    each image in images
      .gallery__item
        if image.desc
          +image-desc(image.url, image.desc)
        else
          if image.link
            a(href= image.link.url)
              img(src= image.url alt= image.alt title= image.alt)
            if image.link.text
              a(href= image.link.url) !{image.link.text}
          else
            img(src= image.url alt= image.alt title= image.alt)
