.catalog-filter-aside
  & .aside-header
    margin-bottom 1.875rem
  @media(max-width point-m - 1)
    &.page-cols__aside
      order 0

.catalog-filter 
  &__inner
    display flex
    flex-direction column
    row-gap 1.875rem
    @media(max-width point-m - 1)
      position absolute
      top 2.5rem
      width 100%
      column-gap 1rem
      row-gap 1.5rem
      padding 1rem 1rem 2rem 0
      background-color #fff
      transform translate(var(--filter-inner-translate, -100%))
      transition transform var(--filter-inner-duration) ease
      z-index 10
      box-shadow 0px 15px 15px -15px rgba(174, 172, 168, 0.7)
    @media(max-width point-m - 1) and (min-width point-s)
      display grid
      grid-template-columns repeat(3, 32%)
  &__item 
    display flex
    align-items flex-start
    flex-direction column
    gap 0.5rem
    &--availability
      flex-direction row
      align-items center
    &--no-gap
      gap 0
    &--show
      flex-direction row
      column-gap 0.5rem
      @media(min-width point-m)
        display none
      @media(max-width point-m - 1) and (min-width point-s)
        grid-column 1/-1
    &--color
      @media(max-width point-m - 1) and (min-width point-s)
        grid-column 1/-1
  &__show-btn
    padding 0.5rem 1.25rem
    @media(max-width point-s - 1)
      width 50%
    &--reset
      color #B81F33
      background-color transparent
      border 1px solid #B81F33
  &__label
    font-size 0.875rem
    font-weight 700
    color #222222
  &__field
    padding 0.375rem 0.5rem
    border 1px solid #CCCCCC
    border-radius 2px
    &--wide
      width 95%
      @media(max-width point-m - 1)
        width 100%
    &--number
      width 5.25rem
      font-weight 700
      text-align center
      &::-webkit-outer-spin-button
      &::-webkit-inner-spin-button
        -webkit-appearance none
      &
      &:hover
      &:focus 
        appearance none
        -moz-appearance textfield
      @media(max-width point-l - 1)
        width 3.5rem
  &__checkbox
    position absolute
    z-index -1
    opacity 0
    & + label
      display inline-flex
      align-items center
      user-select none
    & + label::before
      content ''
      display inline-block
      width 1.5rem
      height 1.5rem
      flex-shrink 0
      flex-grow 0
      border 1px solid #CCCCCC
      border-radius 2px
      margin-right 0.5rem
      background-repeat no-repeat
      background-position center
      background-size 1rem 0.6rem
    &:checked + label::before
      background-color #FBEDC9
      background-image url(../images/svg-sprites/inner.svg#tick)
  &__price
    display flex
    align-items center
    column-gap 0.5rem
    margin-top 0.625rem
  &__color-list
    display flex
    flex-wrap wrap
    gap 0.375rem
  &__color
    position relative
    & img
      display block
  &__color-field
    display none
    &:checked ~ .catalog-filter__color-dec
      box-shadow: inset 0px 0px 0px 2px #CB072F,inset 0px 0px 0px 4px white
      z-index 10
  .catalog-filter__color-dec
    position absolute
    display block
    top 0
    left 0
    width 36px
    height 36px
  &__range
    position relative
    width 95%
    margin-top 1.375rem
    @media(max-width point-m - 1)
      width 100%
  &__range-track
    height 0.25rem
    background-color #7D7D7D
  &__range-handle
    position absolute
    top -0.6rem
    width 1.5rem
    height 1.5rem
    background-color #FBEDC9
    border-radius 50%
    border none
    box-shadow inset 0 0 0 4px #222222
    appearance none
    &--left
      left 0
    &--right
      right 0
