.hair-extention-menu
  &__list
    display flex
    margin -(basePadding/2)
  &__item
    padding (basePadding/2)
    a
      padding (basePadding/2) (basePadding)
      display block
      border 1px solid
      text-decoration none
      border-radius (basePadding/3)
