-
  let list = [
    {name:'Как выбрать тип наращивания?',anchor:'hair-extention-section__how-to-choose'},
    {name:'Рассчитать стоимость',anchor:'hair-extention-section__calculate'},
    {name:'Результаты наращивания',anchor:'hair-extention-section__result'},
    {name:'Как мы работаем',anchor:'hair-extention-section__how-we-work'},
    {name:'Видеоотзывы',anchor:'hair-extention-section__video-reviews'},
  ]
.hair-extention-menu
  ul.hair-extention-menu__list
    each item in list
      li.hair-extention-menu__item
        a(href= '#'+item.anchor) !{item.name}
