include ../product-hard-to-choose/product-hard-to-choose

.product-price
  .product-price__price
    .product-price__main 9680 руб.
    .product-price__desc цена указана за упаковку (100 гр.)
  .product-price__fast-buy
    button(data-fancybox-href="/index.php?option=com_rsform&amp;formId=6&amp;tmpl=component&amp;product_name=Волосы%20для%20наращивания%20в%20срезе&amp;product_id=1871&amp;category_id=60").buy-by-1-click.fancybox_buy.btn 
      | Быстрый заказ
    .product-price__hard-to-choose
      a(href='#product-hard-to-choose' data-fancybox) Сложно выбрать?
      +productHTC#product-hard-to-choose.product-hard-to-choose--pop-up
