mixin aside-header(settings = {'title':'', 'link':''})
  if !settings.link
    .aside-header(class= attributes.class) !{settings.title}
  else
    .aside-header(class= attributes.class)
      a(href= settings.link) !{settings.title}
