.aside-header
  font-size font-s
  line-height line-s
  font-weight bold
  padding 0.4375rem basePadding
  background linear-gradient(to bottom, #f7f0ca 0%, #e6cda7 100%)
  margin-bottom basePadding
  border-radius 0.1666rem
  border 1px solid #dab686
  position relative
  &::after
    content ''
    position absolute
    top 0
    right 0.25rem
    width 2rem
    height 100%
    background-image url('../images/hvost.png') 
    background-repeat no-repeat
    background-size 2rem
    background-position right center
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/hvost@2.png')
  a
    text-decoration none
    color #000000
    &:hover
      text-decoration underline
