.landing-book
  position relative
  display flex
  align-items center
  justify-content center
  padding-right calc(91px + 2rem)
  @media (max-width point-m - 1)
    padding-x 2rem
    padding-bottom calc(91px + 2rem)
  &::after
    content ''
    position absolute
    top 50%
    right 0
    width 91px
    height 145px
    background-image url('../images/landing-book-arrows.png')
    background-repeat no-repeat
    background-position center
    background-size contain
    transform translateY(-50%)
    @media (max-width point-m - 1)
      top unset
      bottom 0
      right unset
      left 50%
      transform rotate(90deg) translateX(-50%)
      transform-origin 0 50% 0
  img
    display block
    width 100%
    max-width 400px
