.mobile-menu
  &__open
  &__close
    display flex
    height 96px
    align-items center
    justify-content center
    margin-x auto
    label
      display block
      width 2rem
      height 2rem
  &__inner
    position absolute
    top 0
    left 0
    z-index 999
    display none
    width 100%
    transform translateX(-100%)
  &__switcher
    display none
