-
  var about = [
    {
      'name':'Наши волосы продают и используют мастера в 17 городах России и в 4 странах зарубежья',
      'photo':'sales-locations.jpg'
    },
    {
      'name':'50 000 единиц товаров в наличии на складе',
      'photo':'available-products.jpg'
    },
    {
      'name':'Производим сами с 2008 года',
      'photo':'manufacturing.jpg'
    },
    {
      'name':'Получено экспертное заключение по изделиям из волос',
      'photo':'ekspertnoe_zakluchenie_1.jpg'
    },
    {
      'name':'<a href="obuchenie/obuchenie-narashchivaniiu-volos/">Обучаем мастеров по наращиванию, выдаем сертификат</a>',
      'photo':'sertifikat.jpg'
    }
  ]
  
.wholesale-about.wholesale-section
  h2 О компании "Волосы 24"
  +grid.wholesale-about__list
    each item in about
      - var imagePath = '/images/optovym-pokupateliam/'+item.photo
      +grid__item({'m':4,'s':6,'xs':12})
        .wholesale-about__item
          .wholesale-about__title !{item.name}
          .wholesale-about__image
            img(src= imagePath)
