block head
  script(type='text/javascript' src='https://vk.com/js/api/openapi.js?167')
  script(type='text/javascript').
    VK.init({apiId: 7362613, onlyWidgets: true});


-
  var questions = [
    {
      'title':'Как выбрать длину волос для голливудского наращивания?',
      'body':`
                          <p>Популярная длина волос среди девушек 55 см. Количество тресс необходимых для наращивания обычно 1-2 шт. При выборе длины, нужно учитывать несколько факторов: исходная длина, исходная густота своих волос, ваш рост (из эстетических соображений), образ жизни (длинные волосы требуют большего времени для ухода).</p>
                          <ul class="list-marked">
                            <li>Если волосы негустые и вы наращиваете волосы для объема, может понадобится 1-2 трессы (40 - 70 гр.).</li>
                            <li>Если волосы густые, то может понадобится более 1-2 трессы (100 - 140 гр.).</li>
                            <li>Если концы отфилированы, то нужно будет 1-2 трессы (60 - 100 гр.).</li>
                          </ul>

      `
    },
    {
      'title':'Какие есть скидки?',
      'body':`
                            <p><i>Розничные накопительные скидки</i>. При накоплении на Ваше имя определенной суммы вам будет предоставлена соответствующая скидка на следующие покупки в нашем магазине в Санкт-Петербурге.</p>
                            <ul class="list-marked">
                                <li>от 10 000 руб. - скидка 3%</li>
                                <li>от 20 000 руб. - скидка 5%</li>
                                <li>от 30 000 руб. - скидка 10%</li>
                            </ul>
                            <p>При совершении (накоплении) покупок на общую сумму 30 000 руб. на Ваше имя будет предоставлена постоянная скидка 10%. И наши сотрудники выдадут Вам карту на скидку 10%, которая не является именной и может передаваться друзьям и знакомым.</p>
                            <p><i>Оптовые скидки зависят</i> от объема заказа и составляют от 25% до 35%.</p>

      `
    },
    {
      'title':'Какая гарантия на волосы? Вдруг мне не понравится качесвто или не подойдет цвет',
      'body':`
                            <p>Мы первые кто дает гарантию на волосы - 30 дней. Отправляем волосы в запечатанной коробке, в которой два отделения с вашим заказом и дополнительной тестовой прядью. Получив волосы вы проверяете цвет и качество тестовой пряди. Если все устраивает — вскрываете основную коробку. Если нет — не вскрывая отправляете обратно.</p>

      `
    },
    {
      'title':'Я находила цены ниже, чем у вас. Почему у вас такие?',
      'body':`
                          <p>При сравнении стоимости волос, важно учитывать качество продукции. Проведенный нами анализ стоимости на рынке, выявил, что цены на нашу продукцию находятся на уровне средних, а порой и ниже цен крупных компаний-конкурентов. Нашим партнерам и оптовым покупателям мы всегда готовы продемонстрировать наше производство, чтобы вы могли убедиться в качестве продукции. Так же, для оптовых клиентов мы предоставляем скидки, в зависимости от суммы покупки они составят от 25% до 35 %. Для розничных клиентов от 3% до 10%. Поэтому наша стоимость с хорошим качеством продукции, будет выгодна для каждого покупателя.</p>

      `
    },
    {
      'title':'Смывается ли цвет волос?',
      'body':`
                          <p>При мытье волос на начальном этапе может происходить небольшое смывание красителя (что может наблюдаться с любыми окрашенными волосами) и вода может слегка окрашиваться, это не должно вас пугать, это нормально. При правильном уходе не произойдет значительного смывания цвета с волос. Как и с любыми окрашенными волосами, со временем может смыться холодный оттенок. Что всегда можно исправить используя специальные шампуни с оттеночным холодным пигментом. Перед использованием подобной косметики ознакомьтесь с инструкцией и при первом использовании протестируйте на небольшой пряди волос, для того, чтобы понять какой результат вы можете получить.</p>

      `
    },
    {
      'title':'Можно ли окрашивать ваши волосы?',
      'body':`
                          <p>Иногда клиентки могут говорить о неудачном опыте окрашивания нарощенных волос. Наша продукция окрашивается на производстве промышленными красителями и волосы осветлены до того уровня, который был возможен без ущерба для состояния волос. Именно поэтому наши технологи не рекомендуют производить осветление волос. Вы можете тонировать волосы, чтобы придать им тот или иной оттенок. Можно волосы окрашивать в более темные цвета.</p>
                          <p>Важно: Рекомендуем производить окрашивание волос только у опытного мастера с соблюдением всех правил колористики. Перед тем, как производить окрашивание нарощенных волос, произведите окрашивание небольшой пряди этих волос.</p>

      `
    },
    {
      'title':'Почему ваши волосы так не блестят? В других компаниях более блестящие и гладкие волосы.',
      'body':`
                          <p>Действительно, на рынке для наращивания множество волос, которые на первый взгляд очень гладкие и блестящие. Но со временем такой блеск и гладкость быстро исчезают после нескольких процедур мытья волос. Это все объясняется тем, что эти волосы покрываются специальным веществом - силиконом, который позволяет добиться такого эффекта, но он очень недолговечен и под ним может “скрываться” совсем неподходящая для вас структура волос, например, волосы могут потом внезапно стать волнистыми, пористыми и пр. А еще хуже, что за силиконом и такой гладкостью могут скрываться волосы-перевертыши, которые могут во время носки очень сильно путаться.</p>
                          <p>Именно по этой причине, чтобы для вас не было “неприятных сюрпризов”, мы не вытягиваем волосы и не покрываем их силиконом. Что позволяет вам увидеть настоящую структуру волос и сделать правильный выбор по структуре и после мытья наши волосы остануться прежними.</p>

      `
    },
    {
      'title':'А волосы не сохнут во время носки?',
      'body':`
                          <p>Мы специально для вас разработали памятку по уходу за нарощенными волосами - это несложные правила, которые помогут вам сохранить нарощенные волосы в хорошем состоянии и продлить срок их носки на долгие месяцы. Эти правила рекомендуется соблюдать при уходе за любым окрашенными и нарощенными волосами.</p>
                          <p>Необходимо помнить, что нарощенные волосы не получают естественного питания от кожи головы, как это происходит с нашими родными волосами. А также волосы для наращивания были окрашены. Поэтому волосам требуется бережный уход и подбирать косметику для ухода стоит ту, которую мы выбираем для окрашенных и сухих волос. И не стоит пренебрегать этим рекомендациям, т.к. волосам требуется бережное очищение, такой шампунь, который не будет сильно “высушивать” волосы. И важное правило, после каждого мытья волос необходимо наносить питательную маску на длину волос, отступая 10 см от корней (избегая попадания маски на места крепления волос). При укладке волос используйте защитные средства, которые уберегут волосы от воздействия высоких температур и сохранят волосы эластичными и увлажненными.</p>

      `
    },
  ]

.product-questions
  h2 Вопросы клиентов и ответы
  
  // - Вопросы
  - let i = 1
  each question in questions
    - const questionId = `product-question-${i}`
    .product-question
      .product-question__header(data-mrc-sh-title != questionId)
        span Вопрос:
        .product-question__title !{question.title}
      .product-question__answer(data-mrc-sh-body != questionId)
        span Ответ:
        .product-question__body
          | !{question.body}
    - i++
  // - Вопросы
  include ../product-ask/product-ask
  #vk_comments
  script(type='text/javascript').
    VK.Widgets.Comments("vk_comments", {limit: 5, attach: false});
