
.product-questions
  margin-bottom (basePadding*2)
.product-question
  font-size font-m
  line-height line-m
  padding basePadding
  background-color #fafafa
  margin-bottom basePadding
  &__header
  &__answer
    display flex
    @media screen and (max-width point-m)
      flex-direction column
    > span
      width 6rem
      flex-shrink 0
      @media screen and (max-width point-m)
        margin-bottom (basePadding/2)
  &__header
    cursor pointer
    &:hover
      & ^[-2]__title
        @extend a:hover
  &__answer
    margin-top font-m
  &__title
    @extend a
    text-decoration underline
    text-decoration-style dashed
    transition opacity .4s
