h2 Почему клиенты выбирают нас?
+grid.home-why-we
  +grid__item({'xs':12,'m':12}).home-why-we__item.home-why-we__item--advantages
    .home-why-we__title Преимущества интернет-магазина Волосы&nbsp;24:
    ul.list-marked
      li Все этапы производственного процесса в соответствии с международными стандартами
      li Богатая 
        a(href='/shop/miniatiury-palitry/') палитра волос
        | : 54 оттенка цвета
      li Цена от производителя. Вы не переплачиваете посредникам
      li Собственный склад: 50 000 единиц товара в наличии
      //- +grid
      //-   +grid__item({'m':8,'xs':12})
      //- +grid__item({'m':4,'xs':12})
      //-   include ../hair-palette/hair-palette
  +grid__item({'xs':12,'m':12}).home-why-we__item.home-why-we__item--wholesale
    .home-why-we__title Оптовые клиенты
    ul.list-marked
      li Предоставляем 
        a(href='/o-kompanii/optovym-pokupateliam-predostavliaiutsia-skidki-na-volosy/') специальные условия
        | : скидки 25% - 35%
      li В наличии большой ассортимент длин и цветов
      li Отгружаем продукцию со склада в течение 1-2 рабочих дней
      li Работаем с компаниями как из регионов России, так и зарубежными партнерами
      li Сотрудничаем только с надежными службами доставки
  +grid__item({'xs':12,'m':12}).home-why-we__item.home-why-we__item--discounts
    .home-why-we__title Система скидок и Акции
    ul.list-marked
      li 
        a(href='/o-kompanii/sistema-skidok/') Накопительная система скидок
        |  постоянным клиентам (3-5-10%)
      li Скидка 5% участникам группы «Волосы 24» 
        a(href='http://vk.com/volosy24' target='_blank') ВКонтакте
      li Каждый месяц проводим новые 
        a(href='/aktcii/') акции
  +grid__item({'xs':12,'m':12}).home-why-we__item.home-why-we__item--guarantees
    .home-why-we__title Качество и Гарантии
    ul.list-marked
      li Отвечаем за высокое качество волос
      li В нашей продукции нет силикона и перевертышей
      li Получено 
        a(href='http://www.volosy24.ru/o-kompanii/ekspertnoe-zakliuchenie-po-izdeliiam-iz-volos/') экспертное заключение
        |  по изделиям из волос
