.why-we
  margin-y -(basePadding)
  &__item
    padding-y basePadding
  &__image
    align-self flex-start
    margin-bottom 0.75rem
  // &__description
  //   p
  //     font-size 0.75rem
  //     line-height 1.375rem
  &__title
    font-size 1.125rem
    margin-bottom 0.375rem
    font-weight bold
  p
    margin-bottom 0.5rem
