.product-hard-to-choose
  padding basePadding (basePadding*2)
  margin-bottom (basePadding*2)
  background #fff
  font-size font-s
  &--pop-up
    display none
    &.fancybox-content
      max-width 24rem
  &__header
    margin-bottom (font-s/2)
    font-weight bold
  & .list-marked
    margin-bottom 0
    padding-left 1rem
    font-size font-s
    line-height line-s
    & li
      &:last-child
        margin-bottom 0
  &__contacts
    display flex
    margin-x -(basePadding)
    margin-bottom .5rem
  &__socials
    display flex
    padding-x (basePadding/2)
  &__social
    padding-x (basePadding/2)
    &--viber a
      background-image url(../images/svg-sprites/inner.svg#viber)
    &--whatsapp a
      background-image url(../images/svg-sprites/inner.svg#whatsapp)
    &--vk a
      background-image url(../images/svg-sprites/inner.svg#vk)
    a
      display block
      width 2rem
      height 2rem
      background-size contain
      background-repeat no-repeat
      background-position center
