.product-hard-to-choose
  padding basePadding (basePadding*2)
  margin-bottom (basePadding*2)
  background #fff
  font-size font-s
  &--pop-up
    display none
    max-width 24rem
  &__header
    margin-bottom (font-s/2)
    font-weight bold
  & .list-marked
    margin-bottom 0
    padding-left 1rem
    font-size font-s
    line-height line-s
    & li
      &:last-child
        margin-bottom 0
  &__contacts
    display flex
    margin-x -(basePadding)
    margin-bottom .5rem
  &__socials
    display flex
    padding-x (basePadding/2)
  &__social
    padding-x (basePadding/2)
    &--viber a
      background-image url('../images/viber.svg')
    &--whatsapp a
      background-image url('../images/whatsapp.svg')
    &--vk a
      background-image svgImport('svg/vk.svg')
    &--facebook a
      background-image svgImport('svg/facebook.svg')
    &--instagram a
      background-image svgImport('svg/instagram.svg')
    a
      display block
      width 1.5rem
      height 1.5rem
      background-size contain
