mixin productHTC()
  .product-hard-to-choose(id != attributes.id)&attributes(attributes)
    .product-hard-to-choose__header Сложно выбрать цвет, длину, количество?
    ul.list-marked
      li Свяжитесь с&nbsp;нами в&nbsp;мессенджере или социальной сети:
        .product-hard-to-choose__contacts
          ul.product-hard-to-choose__socials
            li.product-hard-to-choose__social.product-hard-to-choose__social--viber: a(href='viber://chat?number=79618094188')
            li.product-hard-to-choose__social.product-hard-to-choose__social--whatsapp: a(href='https://wa.me/79618094188')
          ul.product-hard-to-choose__socials
            li.product-hard-to-choose__social.product-hard-to-choose__social--vk: a(href='https://vk.com/volosy24' target='_blank')
            li.product-hard-to-choose__social.product-hard-to-choose__social--facebook: a(href='https://www.facebook.com/volosy24.ru' target='_blank')
            li.product-hard-to-choose__social.product-hard-to-choose__social--instagram: a(href='https://www.instagram.com/volosy24/' target='_blank')
      li
        a(href='Comagic.openSitePhonePanel()') Оставьте телефон
        | , позвоним вам в&nbsp;удобное время. Подберём нужный товар, выберем способ доставки и&nbsp;оплаты.
