mixin catalogPagination 
  ul.catalog-pagination&attributes(attributes) 
    li.catalog-pagination__item: a(href='').catalog-pagination__link.catalog-pagination__link--prev назад
    - i = 1
    while i <= 5
      - itemClass = i === 1 ? 'catalog-pagination__link catalog-pagination__link--active' : 'catalog-pagination__link'
      li: a(class=itemClass href='') !{i}
      - i += 1
    li.catalog-pagination__item: a(href='').catalog-pagination__link.catalog-pagination__link--next вперёд
    
