.info-gallery
  &__item
    margin-bottom (basePadding*2)
    display flex
    flex-wrap wrap
    justify-content center
    img
      border 1px solid #dab686
      padding basePadding
      border-radius 0.25rem
      margin-x auto
      transition border-color .4s
    span
      display block
      text-align center
      font-size font-l
      font-weight bold
      line-height line-l
    a
      &:hover
        img
          border 1px solid #cf052b
          transition none
