mixin socialsInline(settings = {})
  -
    settings.viber = settings.viber === false ? false : true
    settings.whatsapp = settings.whatsapp === false ? false : true
    settings.vk = settings.vk === false ? false : true
    settings.facebook = settings.facebook === false ? false : true
    settings.instagram = settings.instagram === false ? false : true
  .socials&attributes(attributes)
    if settings.viber || settings.whatsapp
      ul.socials__list
        if settings.viber
          li.socials__item.socials__item--viber: a(href='viber://chat?number=79618094188')
        if settings.whatsapp
          li.socials__item.socials__item--whatsapp: a(href='https://wa.me/79618094188')
      ul.socials__list
        if settings.vk
          li.socials__item.socials__item--vk: a(href='https://vk.com/volosy24' target='_blank')
        if settings.facebook
          li.socials__item.socials__item--facebook: a(href='https://www.facebook.com/volosy24.ru' target='_blank')
        if settings.instagram
          li.socials__item.socials__item--instagram: a(href='https://www.instagram.com/volosy24/' target='_blank')
