.socials
  display flex
  margin-x -(basePadding)
  margin-bottom .5rem
  &__list
    display flex
    padding-x (basePadding/2)
  &__item
    padding-x (basePadding/2)
    &--viber a
      background-image url('../images/viber.svg')
    &--whatsapp a
      background-image url('../images/whatsapp.svg')
    &--vk a
      background-image svgImport('svg/vk.svg')
    &--facebook a
      background-image svgImport('svg/facebook.svg')
    &--instagram a
      background-image svgImport('svg/instagram.svg')
    a
      display block
      width 1.5rem
      height 1.5rem
      background-size contain
