.socials
  display flex
  // margin-x -(basePadding)
  margin-bottom .5rem
  &__list
    display flex
    padding-x (basePadding/2)
  &__item
    padding-x (basePadding/2)
    &--viber a
      background-image url(../images/svg-sprites/inner.svg#viber)
    &--whatsapp a
      background-image url(../images/svg-sprites/inner.svg#whatsapp)
    &--vk a
      background-image url(../images/svg-sprites/inner.svg#vk)
    a
      display block
      width 2rem
      height 2rem
      background-size contain
      background-repeat no-repeat
