.catalog-aside-info
  color #444444
  &__block
    margin-bottom (basePadding)
  &__title
    margin-bottom (basePadding/2)
    a
      font-size font-l
      color #444444
      &:hover
        color #cb072f
  &__list
    font-size font-xs
    margin-bottom font-xs
    line-height line-xs
  &__subtitle
    font-size font-xs
    margin-bottom (font-xs/3)
    line-height line-xs
    font-weight bold
    
