.hair-extention-section.hair-extention-assortment
  h2.hair-extention-subheader Ассортимент волос для наращивания
  p В нашем салоне-магазине представлено несколько тысяч единиц продукции в наличии. Наши опытные мастера и менеджеры всегда помогут Вам подобрать подходящую длину и оттенок волос. Будут учтены все Ваши индивидуальные особенности: густота, оттенок, желаемый результат, структура волос и прочее.
  p У нас представлен большой выбор волос для наращивания в длинах от 40 до 80 см, цветовая палитра - 47 оттенков. Мы  так же являемся производителем, поэтому у нас самая низкая цена в городe и 100% качество волос, подкрепленное гарантийным периодом. Все этапы производственного процесса в соответствии с международными стандартами. В нашей продукции нет силикона и перевертышей.
  .hair-extention-assortment__image
    img(src='/images/hair-extention/assortment.jpg' alt='Ассортимент волос для наращивания')
  +grid
    +grid__item({'m':4,'xs':12})
      p.hair-extention-assortment__subheader Подбор на месте
      p Благодаря большому выбору волос для наращивания, который у нас представлен, Вы сможете сразу в салоне подобрать с мастером волосы. Вам не придется тратить лишнее время на поиск волос для наращивания, а также наш опытный мастер сориентирует Вас и поможет с подбором нужного цвета и количества волос для наращивания.
    +grid__item({'m':4,'xs':12})
      p.hair-extention-assortment__subheader Цена от производителя
      p Мы продаем продукцию собственного производства. Все этапы производственного процесса в соответствии с международными стандартами.
        | <br>Поэтому вы можете быть уверены, что вы не переплачиваете посредникам и платите самую низкую цену за волсы в городе.
    +grid__item({'m':4,'xs':12})
      p.hair-extention-assortment__subheader Гарантия 1-3 месяца
      p Даем гарантию на работу мастера сроком 1 месяц. А так же, жаем гарантию на качество волос во время носки сроком 2-3 месяца при условии соблюдения рекомендаций по уходу за волосами.
