.product-buy
  .product-buy__price.product-price Общая стоимость
    .PricesalesPrice(style='display : block;')
      span.PricesalesPrice 9680 руб.
  .product-buy__buttons
    span.addtocart-button.vsreze.product-buy__button
      input(type='submit' name='addtocart' value='Добавить в корзину' title='Добавить в корзину').addtocart-button.btn
    span.addtocart-button.vsreze.product-buy__button
      button(data-fancybox-href='/index.php?option=com_rsform&amp;formId=6&amp;tmpl=component&amp;product_name=Волосы%20для%20наращивания%20в%20срезе&amp;product_id=1871&amp;category_id=60').buy-by-1-click.fancybox_buy.btn
        | Быстрый заказ
