.product-buy
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
  padding (basePadding*2)
  margin-x -(basePadding*2)
  background #f1e5bf
  &__price
    padding-x (basePadding*2)
    font-size font-s
    &.product-price
      flex-direction column
      margin 0
    .PricesalesPrice
      display block
      margin-top .125rem
      font-size font-xxxl
      font-weight normal
      line-height line-xxxl
  &__buttons
    display flex
    align-items flex-start
    margin -(basePadding/2)
    flex-wrap wrap
  &__button
    padding (basePadding/2)
