@import 'includes/reset'
@import 'includes/mixins'
@import 'includes/breakpoints'

html
  font-size 16px
  font-family sans-serif
body
  display flex
  flex-direction column
  min-height 100vh
  font-family fontBase
p
  font-size 1rem
  margin-bottom 1rem
  line-height 1.5rem
h1
  font-size 1.8rem
  line-height 2.7rem
  margin-bottom 1rem
  font-family fontHeader
h2
  font-size 1.4rem
  line-height 2.1rem
  margin-bottom 0.5rem
  margin-top 1.75rem
  font-family fontHeader
  &:first-child
    margin-top 0
h3
  font-size  1.25rem
  line-height 1.875rem
  margin  1.25rem 0 1rem
  font-family fontHeader
h4
  font-size  1.125rem
  line-height 1.6875rem
  margin  1.6875rem 0 0.5rem
  font-family fontHeader
strong
b
  font-weight bold
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
figure
  margin-bottom .5rem
figcaption
  font-size 0.875rem
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width 68rem
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap

@import "../../node_modules/swiper/swiper-bundle.min.css"
@import '../blocks/button/button.core'
@import '../blocks/grid'
@import '../blocks/header-address/header-address.core'
@import '../blocks/header-cart-module/header-cart-module.core'
@import '../blocks/header-cart/header-cart.core'
@import '../blocks/header-contact/header-contact.core'
@import '../blocks/header-main-bottom'
@import '../blocks/header-main-top/header-main-top.core'
@import '../blocks/header-mobile/header-mobile.core'
@import '../blocks/header-nav/header-nav.core'
@import '../blocks/home-catalog/home-catalog.core'
@import '../blocks/home-header/home-header.core'
@import '../blocks/home-menu-info/home-menu-info.core'
@import '../blocks/home-section'
@import '../blocks/logo/logo.core'
@import '../blocks/mobile-menu/mobile-menu.core'
@import '../blocks/search-form/search-form.core'
@import '../blocks/banner-love/banner-love.core'
@import '../blocks/banner-march/banner-march.core'
