@import 'includes/mixins'
@import 'includes/breakpoints'
@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css'
@import '../../node_modules/ilyabirman-likely/release/likely.css'

html
  color #000
  &.no-scroll
    overflow hidden

body
  background-color #fffefd
h1
  color #222222
h2
  color #222222
h3
  color #222222
h4
  color #222222
mark
  background-color transparent
  color #ffb400
a
  color #cb072f
  text-decoration underline
  transition color .2s
  cursor pointer
  &:hover
    color #470414
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
  &[href^='https://metrika.yandex.ru/']
    display none
  &.link-tel
    text-decoration none
    color inherit
    transition opacity .2s
    &:hover
      color inherit
      opacity .75

@import '../blocks/action-banner'
@import '../blocks/block-marked'
@import '../blocks/button/button.rest'
@import '../blocks/fancybox'
@import '../blocks/footer'
@import '../blocks/footer-address'
@import '../blocks/footer-contact'
@import '../blocks/footer-copy'
@import '../blocks/footer-developer'
@import '../blocks/footer-links'
@import '../blocks/footer-menu'
@import '../blocks/footer-socials'
@import '../blocks/form'
@import '../blocks/hair-palette'
@import '../blocks/header-address/header-address.rest'
@import '../blocks/header-cart-item'
@import '../blocks/header-cart-module/header-cart-module.rest'
@import '../blocks/header-cart/header-cart.rest'
@import '../blocks/header-contact/header-contact.rest'
@import '../blocks/header-main-top/header-main-top.rest'
@import '../blocks/header-mobile/header-mobile.rest'
@import '../blocks/header-nav/header-nav.rest'
@import '../blocks/highlighted-subtitle'
@import '../blocks/home-form'
@import '../blocks/home-menu-info/home-menu-info.rest'
@import '../blocks/list-blocks'
@import '../blocks/list-features'
@import '../blocks/list-marked'
@import '../blocks/list-numbered'
@import '../blocks/list-starred'
@import '../blocks/logo/logo.rest'
@import '../blocks/mobile-menu/mobile-menu.rest'
@import '../blocks/mobile-nav'
@import '../blocks/modal-content'
@import '../blocks/page-section'
@import '../blocks/palette'
@import '../blocks/search-form/search-form.rest'
@import '../blocks/text-align'
@import '../blocks/youtube-responsive'
@import '../blocks/banner-love/banner-love.rest'
@import '../blocks/quick-buy'
