@import 'includes/reset'
@import 'includes/mixins'
@import 'includes/breakpoints'
@import 'includes/likely.css'
@import 'includes/fancybox.css'
// @import 'includes/fotorama.css'
//@import 'includes/flexslider.css'

html
  color #000
  font-size 16px
  font-family sans-serif
  &.no-scroll
    overflow hidden
body
  display flex
  flex-direction column
  min-height 100vh
  background-color #fffefd
  font-family fontBase
p
  font-size 1rem
  margin-bottom 1rem
  line-height 1.5rem
h1
  font-size 1.8rem
  line-height 2.7rem
  margin-bottom 1rem
  // margin-top 1.6rem
  color #222222
  font-family fontHeader
h2
  font-size 1.4rem
  line-height 2.1rem
  margin-bottom 0.5rem
  margin-top 1.75rem
  color #222222
  font-family fontHeader
  &:first-child
    margin-top 0
h3
  font-size  1.25rem
  line-height 1.875rem
  margin  1.25rem 0 1rem
  color #222222
  font-family fontHeader
h4
  font-size  1.125rem
  line-height 1.6875rem
  margin  1.6875rem 0 0.5rem
  color #222222
  font-family fontHeader
strong
b
  font-weight bold
mark
  background-color transparent
  color #ffb400
img
  max-width 100%
sub
  font-size font-xs
  vertical-align sub
sup
  font-size font-xs
  vertical-align super
figure
  margin-bottom .5rem
figcaption
  font-size 0.875rem
a
  color #cb072f
  text-decoration underline
  transition color .2s
  cursor pointer
  &:hover
    color #470414
    transition none
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted) or (-webkit-text-decoration-style dotted)
      text-decoration underline
      text-decoration-style dotted
      border-bottom none
  &[href^='https://metrika.yandex.ru/'] 
    display none
.page
  display flex
  flex-direction column
  min-height 100vh
main
  flex-grow 1
.container
  display flex
  justify-content center
.content
  max-width 68rem  
  width 100%
  padding-x (basePadding)
.hidden-hd
  @media screen and (min-width point-hd)
    display none
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none
.no-break
  white-space nowrap
import('../blocks/**/*')
