.methods-sign
  border 3px solid #DAB686
  padding basePadding
  &__inner
    display flex
    align-items center
    justify-content center
    @media screen and (max-width point-m)
      flex-wrap wrap
  &__title
    text-align center
    small
      font-size 0.875rem
      line-height 87.5%
      display block
    span
      color: #ad0a31
      font-size font-l
      line-height line-l
  &__buttons
    padding basePadding
    flex-shrink 0
  &__info
    padding basePadding
  &__button
    font-size font-s
    line-height line-s
    padding-y (font-s/2)
    display block
    margin-bottom (basePadding*2)
    &:last-child
      margin-bottom 0
  p
    &:last-child
      margin-bottom 0
  &__phone
    font-size font-xl
    color #CF052B
