.wholesale-samples.wholesale-section
  h2 Получите образцы волос
  .wholesale-samples__subheader Доставим по всей России за 2-3 дня
  +grid
    +grid__item({'m':8,'xs':12}).wholesale-samples__image
      img(src='/images/optovym-pokupateliam/examples.jpg' alt='Образцы волос для наращивания' title='Образцы волос для наращивания')
    +grid__item({'m':4,'xs':12})
      .wholesale-samples__info Цвет и длину волос, которые Вы хотите получить в качестве образцов, можно обсудить с менеджером.
      form.form.wholesale-samples__form
        .wholesale-samples__input
          input(type='text' placeholder='Ваше имя').form__input
        .wholesale-samples__input
          input(type='text' placeholder='Ваш город').form__input
        .wholesale-samples__input
          input(type='text' placeholder='Ваш телефон').form__input
        .wholesale-samples__submit
          button(type='submit').btn Отправить
  .wholesale-samples__clarification Предложение действует только для салонов красоты и мастеров по наращиванию.
          
        
