.cart-table
  .cart-table__contents
    include ../cart-item/cart-item
    include ../cart-item/cart-item
  .cart-table__total
    .cart-table__total-inner Итого 
      strong 9 680 руб.
  .cart-table__checkout
    a(href='javascript:document.checkoutForm.submit();').vm-button-correct.btn Оформить заказ
