.cart-table
  .cart-table__contents
    include ../cart-item/cart-item
    include ../cart-item/cart-item
  +grid({ justify: 'space-between' }).cart-table__total
    +grid__item({ l: 4, m: 5, xs: 12 })
      +grid().form.cart-table__form
        +grid__item({ xs: 8 }): input(type='text' placeholder='Промокод для скидки').form__input
        +grid__item({ xs: 4 }): button(type='button').btn Применить
    +grid__item({ l: 8, m: 7, xs: 12 }).cart-table__total-inner Итого 
      strong 9 680 руб.
  .cart-table__checkout
    a(href='javascript:document.checkoutForm.submit();').vm-button-correct.btn Оформить заказ
