.cart-table
  &__total
    display flex
    justify-content flex-end
    padding-y (basePadding)
    border-bottom 1px dotted #DAB686
    line-height line-m
    strong
      font-size font-xl
  &__checkout
    display flex
    justify-content flex-end
    padding-y (basePadding*2)
    .btn
      // text-transform uppercase
      font-size font-xl
      line-height line-xl
      padding (basePadding/3) (basePadding*2)
