.catalog-list
  margin-y (-(basePadding))
  margin-bottom (basePadding*2)
  &__item
    margin-y basePadding
  &__image
    margin-bottom (font-m/3)
    border 1px solid #dab686
    a
    img
      width 100%
      display block
  &__title
    margin-bottom (font-m/3)
    font-size font-s
    line-height line-s
    a
      color #000000
      &:hover
        color #cb072f
        text-decoration none
  &__info
    color #777777
    font-size font-s
    line-height line-s
    margin-bottom (font-m/3)
  &__price
    font-weight bold
