mixin catalog-list(items=[{'name':'','link':'','info':'','price':'','image':''}])

  +grid.catalog-list
    each item in items
      +grid__item({'m':4,'xs':6}).catalog-list__item
        .catalog-list__image
          a(href= item.link)
            img(src= item.image alt= item.name title= item.name)
        .catalog-list__title 
          a(href= item.link) !{item.name}
        if item.info
          .catalog-list__info !{item.info}
        if item.price
          .catalog-list__price !{item.price} руб.
      
