.consultation-form
  max-width 480px
  width 100%
  &__input
    margin-bottom (basePadding*3/2)
    textarea
      width 100%
      resize none
      height (line-m*4)
    select
      width 100%
      overflow-x hidden
      text-overflow ellipsis
  &__label
    margin-bottom (basePadding/3)
    display inline-block
  &__buttons
    display flex
    button.btn
      margin-right (basePadding*2)
    a.btn
      padding-top 0.125rem
  &__input-text
    max-width 260px
    & + &
      margin-top (basePadding/3*2)
  &__input-text input
    width 100%
