mixin homeCatalog(list = [])
  +grid({paddingy:true, justify: 'center'}).home-catalog
    each item in list
      +grid__item({tag:'figure', 'm':3,'s':4,'xs':6}).home-catalog__item
        a(href= item.href)
          img(src='images/home-catalog/'+item.img+'.jpg' alt= item.name).home-catalog__image
          figcaption.home-catalog__title !{item.name}
