.home-catalog
  &__item
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
    a
      color #000000
      text-decoration none
      &:hover
        text-decoration underline
  &__image
    display block
    border-radius (basePadding/3)
    margin-bottom 0.75rem
    width 100%
  &__title
    text-align center
    text-decoration none
    display block
    font-size font-m
    line-height line-l
