.footer-contact
  .footer-contact__header Поддержка клиентов
  .footer-contact__phone.comagic_phone +7(499) 766-24-88
  a(onclick='Comagic.openSiteRequestPanel()').btn.footer-contact__btn.footer-contact__btn--mail#mailtous Написать нам
  a(onclick='Comagic.openSitePhonePanel()').btn.footer-contact__btn.footer-contact__btn--call#calloffer Заказать звонок
