include ../footer-menu/footer-menu

footer.footer-main
  .container
    .content.footer-inner
        +grid({'cols':10}).footer-inner__top
          +grid__item({'m':'8'}).hidden-s.hidden-xs
            +grid
              +grid__item({'m':'3'}).s-hidden.xs-hidden
                -
                  var menuItems = [
                    { 'name':'Интернет магазин' , 'url':'' },
                    { 'name':'Обучение наращиванию' , 'url':'' },
                    { 'name':'Наращивание волос' , 'url':'' }
                  ]
                  var menuHeader = 'Волосы24'
                +footerMenu({'header': menuHeader,'items': menuItems})
              +grid__item({'m':'3'}).s-hidden.xs-hidden
                -
                  var menuItems = [
                    { 'name':'Славянские волосы' , 'url':'' },
                    { 'name':'Инструменты для укладки волос' , 'url':'' },
                    { 'name':'Инструменты и материалы для наращивания волос' , 'url':'' },
                    { 'name':'Инструменты и материалы для постижерных волос' , 'url':'' }
                  ]
                  var menuHeader = 'Каталог товаров'
                +footerMenu({'header': menuHeader,'items': menuItems})
              +grid__item({'m':'3'}).s-hidden.xs-hidden
                -
                  var menuItems = [
                    { 'name':'Как сделать заказ?' , 'url':'' },
                    { 'name':'Доставка и оплата' , 'url':'' },
                    { 'name':'Гарантии' , 'url':'' },
                    { 'name':'Акции' , 'url':'' }
                  ]
                  var menuHeader = 'Для покупателей'
                +footerMenu({'header': menuHeader,'items': menuItems})
              +grid__item({'m':'3'}).s-hidden.xs-hidden
                -
                  var menuItems = [
                    { 'name':'Новости' , 'url':'' },
                    { 'name':'Дистрибьютеры' , 'url':'' },
                    { 'name':'Производство' , 'url':'' },
                    { 'name':'Сертификаты' , 'url':'' },
                    { 'name':'Оптовикам' , 'url':'' },
                    { 'name':'Отзывы' , 'url':'' }
                  ]
                  var menuHeader = 'О компании'
                +footerMenu({'header': menuHeader,'items': menuItems})
          +grid__item({'m':2,'s':5,'xs':5}).footer-inner__contacts
            include ../footer-contact/footer-contact
            include ../footer-socials/footer-socials
          +grid__item({'m':3,'s':5,'xs':5}).hidden-hd.hidden-xl.hidden-l.hidden-m
            include ../footer-address/footer-address
        +grid().footer-inner__bottom
          +grid__item({'m':5,'s':12})
            include ../footer-copy/footer-copy
          +grid__item({'m':2,'s':12}).hidden-s.hidden-xs
            include ../footer-links/footer-links
          +grid__item({'m':5,'s':12})
            include ../footer-developer/footer-developer
