.services-list
  &__item
    display flex
    margin-bottom (basePadding*2)
    align-items center
  &__image
    margin-right (basePadding*2)
    width 5.5rem
    flex-shrink 0
    img
      width 100%
