.list-numbered
  margin-bottom font-m
  padding-left (basePadding*3)
  font-size font-m
  line-height line-m
  > li
    margin-bottom (font-m/4)
    list-style decimal
  &--big-number
    padding-left 0
    counter-reset listBigNumber
    & > li
      @extends .block-marked__body
      margin-left (basePadding*2)
      padding-left (basePadding*3)
      list-style none
      position relative
      min-height 3rem
      display flex
      align-items baseline
      &::before
        position absolute
        top calc(.75rem - 1px)
        rPos = 'calc(100% - ' + (basePadding*2) + ')'
        right unquote(rPos)
        counter-increment listBigNumber
        content counter(listBigNumber)
        width 3rem
        height 3rem
        border-radius 50%
        font-size 2rem
        line-height 1
        display flex
        align-items center
        justify-content center
        color #ffffff
        // font-family 'Georgia', sans
        background-color #dab686
      & + li
        margin-top line-m
  &--w-prev-par
    margin-top -.75rem
