.footer-socials
  .footer-socials__header Следите за нами
  ul.footer-socials__list
    li.footer-socials__item.footer-socials__item--vk
      a(href='https://vk.com/volosy24' target='_blank')
    li.footer-socials__item.footer-socials__item--fb
      a(href='https://www.facebook.com/volosy24.ru' target='_blank')
    li.footer-socials__item.footer-socials__item--inst
      a(href='https://www.instagram.com/volosy24/' target='_blank')
