.footer-socials
  font-size font-xs
  display flex
  flex-direction column
  margin-y -(font-xxs/4)
  // align-items center
  flex-wrap wrap
  margin-left auto
  &__header
    padding-y (font-xxs/4)
    
  &__list
    display flex
    padding-y (font-xxs/4)
    margin-x -(font-xxs/4)
  &__item
    @extend .btn
    margin-x (font-xxs/4)
    height 1.375rem
    width 1.375rem
    border-radius 0.33rem
    padding 0
    background-size 1rem
    background-position center
    background-repeat no-repeat
    a
      display block
      width 100%
      height 100%
    &--vk
      background-image url('../images/vk.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/vk@2.png')
    &--fb
      background-image url('../images/fb@2.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/fb.png')
    &--inst
      background-image url('../images/inst.png')
      @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
        background-image url('../images/inst@2.png')
