.consultation-similar
  padding (basePadding*2)
  border 1px solid #f0f0f0
  &__title
    margin-top 0
    margin-bottom 1rem
    font-family fontHeader
    font-size  1.25rem
    line-height 1.875rem
    text-align center
  &__item
    font-size font-s
    line-height line-s
    a
      color #585858
      &:hover
        color #7b7b7b
