.hair-extention-sign-form
  margin-bottom (basePadding*2)
  display flex
  margin-left 2.25rem
  &__col
    display flex
    margin (-(basePadding/2))
    flex-wrap wrap
    // align-items center
    // @media screen and (max-width point-s)
    //   flex-direction column
    > *
      margin (basePadding/2)
  &__input-type
    display none
  &__submit
    display flex
