.hair-extention-additional-price
  &__item
    display flex
    flex-direction column
    align-items stretch
  &__subheader
    padding basePadding
    font-size font-xl
    line-height font-xl
    text-align center
    color #fff
    text-shadow 0 2px 0 rgba(48,122,148,.68)
    background-color #dab686
    border-radius 0.3333rem  0.3333rem 0 0
  &__info
    padding basePadding (basePadding*2)
    background-color #fdfcf8
    flex-grow 1
