.hair-extention-section.hair-extention-additional-price
  h2.hair-extention-subheader Стоимость дополнительных услуг
  +grid.hair-extention-additional-price__items
    +grid__item({'m':6,'xs':12}).hair-extention-additional-price__item
      .hair-extention-additional-price__subheader Стоимость 
        i 
          b коррекции
        |  нарощенных волос
      .hair-extention-additional-price__info
        p Коррекция производится в тех случаях, когда Вы хотите снять и снова нарастить те же самые волосы. Стоимость одной (пряди / ленты) умножьте на ваше количество и получится ваша стоимость коррекции.
        p
          strong Капсульное:
          |  Коррекция – 50 руб./1 прядь на капсуле
        p
          strong Ленточное:
          |  Коррекция – 1250 руб./10 лент
        p
          strong Голливудское:
          |  Коррекция – 5 000 руб
        p Распутывание колтунов - 1000 - 3000 руб.
        p В случае если во время носки у вас образовались колтуны и нам необходимо будет их распутать, то эта услуга оплачивается дополнительно в зависимости от сложности ситуации.
    +grid__item({'m':6,'xs':12}).hair-extention-additional-price__item
      .hair-extention-additional-price__subheader Стоимость 
        i 
          b снятия
        |  нарощенных волос
      .hair-extention-additional-price__info
        p В том случае, когда Вы хотите снять волосы и дать своим волосам отдохнуть или желаете поменять волосы для наращивания на новые
        p
          strong Капсульное:
          |  Снятие волос - 20 руб./1 прядь
        p
          strong Ленточное:
          |  Снятие лент - 750 руб./10 шт.
        p
          strong Голливудское:
          |  Снятие тресов - 500 руб
        p Распутывание колтунов - 1000 - 3000 руб.
        p В случае если во время носки у вас образовались колтуны и нам необходимо будет их распутать, то эта услуга оплачивается дополнительно в зависимости от сложности ситуации.
