.staff-head
  display flex
  margin-x 0
  background-color #faeadd
  &__photo
    padding-x 0
  &__text
    padding (basePadding*2)
    blockquote
      @extends p
      font-style italic
    cite
      font-weight bold
      font-style italic
