.banner-industrial-coloring
  margin-top (basePadding*2)
  &__picture
    width 100%
    background-image url(../images/banner-industrial-coloring.jpg)
    background-size contain
    background-position center
    background-repeat no-repeat
    height 100%
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx)
      background-image url('../images/banner-industrial-coloring@2.jpg')
  &__info
    padding (basePadding*2 + 0.25rem)  (basePadding*2) 
    h1
      
      font-size 2.5rem
      line-height 1.25
      margin-bottom 2rem
    .btn
      background-color #ca072f
      box-shadow 10px 0 30px rgba(#ac0a31, 0.4)
      padding (basePadding) (basePadding*2)
      &:hover
        background-color #ae0a31
