form.hair-extention-sign-form
  .hair-extention-sign-form__col
    .hair-extention-sign-form__input
      input(type='tel' required placeholder='+7 (___) ___-__-__').form__input
    .hair-extention-sign-form__input-type
      input(type='text' hidden)
    .hair-extention-sign-form__submit
      button(type='submit').btn.form__submit Отправить
