.catalog
  display grid
  position relative
  grid-template-columns repeat(3, 1fr)
  justify-items center
  column-gap 1.5rem
  row-gap 3rem
  margin-bottom 4.125rem
  @media(max-width point-l - 1)
    column-gap 1.2rem
    row-gap 1.5rem
    margin-bottom inherit
  @media(max-width point-s - 1)
    grid-template-columns repeat(2, 1fr)
  &__item
    @media(min-width point-l)
      height 340px
