.home-header
  text-align center
  &__main
    margin-top (basePadding*3)
    margin-bottom 0
    font-weight bold
    a
      color #000000
      text-decoration-style solid
      text-decoraion underline
      border-bottom 0
  &__sub
    @extend h2
    margin-bottom (basePadding*3)
    margin-top (basePadding/2)
  &__list
    font-size font-l
    line-height line-l
    margin-bottom (basePadding*2)
  .btn
    padding basePadding 2.5rem
