.home-header
  &__main
    a
      color #000000
      text-decoration-style solid
      text-decoraion underline
  &__list-item
    position relative
    &::before
      content ''
      position absolute
      top basePadding
      left 50%
      width 3rem
      height 3rem
      background-image var(--item-icon), radial-gradient(circle, #f9e5dc 66%, transparent 66%)
      background-repeat no-repeat
      background-position center, right bottom
      background-size 3rem, 2.125rem 2.125rem
      transform translateX(-50%)
    &--palette
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--palette)
    &--money
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--money)
    &--warehouse
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--warehouse)
    &--cart
      --item-icon url(../images/svg-sprites/home.svg#home-header__list-item--cart)
