.home-header
  h1.home-header__main Магазин натуральных волос для наращивания в Спб
  .home-header__sub Купить высочайшее 
    a(href='#home-section--quality') качество
    |  по оптовым ценам
  +grid({justify: 'center', paddingy:true}).home-header__list
    +grid__item({m:3,s:4,xs:6}).home-header__list-item Богатая палитра<br>54 оттенка
    +grid__item({m:3,s:4,xs:6}).home-header__list-item От производителя<br>без наценок
    +grid__item({m:3,s:4,xs:6}).home-header__list-item Отгружаем со склада<br>за 1-2 дня
    +grid__item({m:3,s:4,xs:6}).home-header__list-item Огромный ассортимент<br>50 000 позиций
  a(href='h/shop/slavyanskie-volosy').home-header__button.btn Подобрать волосы
