extends /blocks/layout/layout


block content
  .container
    .content
      +grid({justify: 'center'})
        +grid__item({m:8, s:10,xs:12})
          +blockMarked
            p: strong Хотите поблагодарить нас за соблюдение санитарно-гигиенических требований или направить пожелания по улучшению условий безопасной деятельности?
            ul.list-icons
              li.list-icons__item.list-icons__item--link: a(href='https://lk.ecp.spb.ru/user/declaration-organization/?inn=7814473312&category=9') Перейдите по ссылке.
              li.list-icons__item.list-icons__item--search Ознакомьтесь с информацией об обеспечении базовых санитарно-гигиенических требований.
              li.list-icons__item.list-icons__item--star Поблагодарите или направьте пожелание по улучшению условий безопасной деятельности.
            p: strong Ваш отзыв будет направлен нам для рассмотрения, а также в Центр поддержки и развития предпринимательства Санкт-Петербурга для учёта в работе
