extends /blocks/layout/layout

include /blocks/action-banner/action-banner

block content
  .container
    .content
      +grid({justify: 'center'})
        +grid__item({m:9, s:10,xs:12})
          a(href='/').action-banner.action-banner--installment
            .action-banner__title
              strong Рассрочка
              |  на 3, 4 или 6 месяцев
            .action-banner__description Приобретайте волосы на выгодных условиях!
          a(href='/').action-banner.action-banner--october-22
            .action-banner__label Акция!
            .action-banner__title
              | Для розничных покупателей
              strong скидка 15%
            .action-banner__description при покупке от 
              strong 10 000 руб.
              | по промокоду
              mark october2022
            .action-banner__counter
          a(href='/').action-banner.action-banner--master-discount-20
            .action-banner__label Акция!
            .action-banner__title Мастерам по наращиванию
              strong скидка до 20%
            .action-banner__description при заказе
              strong от 30 000 руб.
            .action-banner__counter
          a(href='/').action-banner.action-banner--wholesale-discount-30
            .action-banner__label Акция!
            .action-banner__title Оптовым покупателям
              strong скидка до 
                span 30%
            .action-banner__counter
          a(href='/').action-banner.action-banner--first-order-discount-15
            .action-banner__label Акция!
            .action-banner__title На первый пробный заказ для мастеров
              strong скидка
                span 15%
            .action-banner__counter
          a(href='/').action-banner.action-banner--childrens-hair
            .action-banner__label Акция!
            .action-banner__title
              strong Скидки до 
                span 30%
              |  на детские неокрашенные волосы
            .action-banner__counter
          .action-banner.action-banner--training
            .action-banner__label Акция!
            .action-banner__title Стартовый набор инструментов для мастера <strong>в подарок</strong> за обучение горячему капсульному наращиванию!
            a(href='/aktsii/startovyj-nabor-mastera-po-narashchivaniyu/').action-banner__button.btn Подробнее

          a(href='/shop/volosy-dlya-narashchivaniya/slavyanskie/cvetnye-pryadi/').action-banner.action-banner--creative
            .action-banner__label Акция!
            .action-banner__title #[strong Скидка 20%] #[br]
              p на креативные цветные пряди #[br] и&nbsp;перья для наращивания
            .action-banner__description по промокоду #[span color]
            .action-banner__counter
              .countdown(data-date= '2022, 11, 30')

          .action-banner.action-banner--wholesale-discount-23
            .action-banner__label Акция!
            .action-banner__title Новым оптовым покупателям #[br] #[strong скидка до #[span 23%]]
            .action-banner__description при заказе от 50 000 руб. #[br] по промокоду #[span NYopt2023]
            .action-banner__counter
              .countdown(data-date= '2022, 11, 30')

          .action-banner.action-banner--wholesale-permanent
            .action-banner__label Акция!
            .action-banner__title Постоянным оптовым покупателям 
            .action-banner__description увеличиваем #[strong  скидку #[br] до #[span 28%]]
            .action-banner__counter
              .countdown(data-date= '2022, 11, 30')

          .action-banner.action-banner--birthday-certificate
            .action-banner__label Акция!
            .action-banner__title Получи подарочный сертификат номиналом #[strong 3000 рублей в&nbsp;день рождения] при покупке изделия из&nbsp;натуральных волос!
            .action-banner__description Акция действует за&nbsp;3&nbsp;дня до #[br] и&nbsp;3&nbsp;дня после дня рождения
            a(href='/aktsii/podarochnyi-sertifikat-v-den-rozhdeniya/').action-banner__button.btn Подробнее
