extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Корзина'})
      h1 Корзина
      include ../blocks/cart/cart-table/cart-table
      +gallery({'images':[{'url':'', 'alt':'','desc':'','link':{'url':'','text':''}}],'settings':{'size':'small'}})
