extends /blocks/layout/layout

block content
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
    var catalogItems1 = [
      {
        'name':'Волосы для наращивания в срезе',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/',
        'info':'54 цвета, длина 40-85 см.',
        'price':'9680-16396',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на капсуле',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-na-kapsule/',
        'info':'54 цвета, длина 40-85 см.',
        'price':'1660-4500',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на ленте',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-lente/',
        'info':'54 цвета, длина 40-60 см.',
        'price':'2860-3740',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на трессе',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-tresse/',
        'info':'54 цвета, длина 50-60 см.',
        'price':'13970-15730',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Мини-ленты',
        'link':'/shop/slavyanskie-volosy/mini-lenty/',
        'info':'54 цвета, длина 40-60 см.',
        'price':'1900-2460',
        'image':'/images/hair_palette.png'
      }
    ]
    var catalogItems2 = [
      {
        'name':'для наращивания волос',
        'link':'/shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'для укладки волос',
        'link':'/shop/instrumenty-dlia-ukladki-volos/',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'для постижерных работ',
        'link':'/shop/instrumenty-i-materialy-dlia-postizhernykh-rabot/',
        'image':'/images/hair_palette.png'
      }
    ]
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Каталог'})
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
          +aside-menu(asideMenu)
          include ../blocks/catalog-palette/catalog-palette
          include ../blocks/catalog-aside-info/catalog-aside-info
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Каталог товаров
          h2 Славянские волосы для наращивания
          +catalog-list(catalogItems1)
          h2 Материалы и инструменты
          +catalog-list(catalogItems2)
          h2 Самые лучшие волосы для наращивания
          p Мы рады своему достижению — возможности предложить каждому клиенту самые лучшие волосы для наращивания. Серьезно и упорно мы шли к этой цели с самого первого дня создания компании: тщательно выбирали поставщиков, добились сертификации продукции, создали отдел контроля качества. И приложили массу других усилий. Благодаря этому мы достигли желаемого результата: стабильно поставляем клиентам только те волосы, в качестве которых уверены сами.

          p Сейчас вы находитесь на странице нашего каталога, в котором можете выбрать:
          ul.list-marked
            li отборные;
            li натуральные;
            li необработанные;
            li шикарные волосы для наращивания.
          p Приглашаем к сотрудничеству всех, кто считает, что достоин только лучшего!
