extends /blocks/layout/layout


block content
  .container
    .content
      h1 Оформление заказа
      +grid.page-cols
        +grid__item({'m':7,'xs':12}).page-cols__main
          include /blocks/checkout/checkout-table/checkout-table
          p.checkout-info.hidden-s.hidden-xs После формления заказа, с вами свяжется менеджер магазина:<br>&mdash;сообщит стоимость доставки,<br>&mdash;предложит варианты оплаты.
        +grid__item({'m':5,'xs':12}).page-cols__aside
          include /blocks/checkout/checkout-form/checkout-form
          p.checkout-info.hidden-hd.hidden-xl.hidden-l.hidden-m После формления заказа, с вами свяжется менеджер магазина:<br>&mdash;сообщит стоимость доставки,<br>&mdash;предложит варианты оплаты.
