extends /blocks/layout/layout

block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Статьи'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          ul.list-marked
            li
              a(href='') Консультанты
            li
              a(href='') Категории
          include /blocks/consultation/consultation-item/consultation-item
