extends /blocks/layout/layout

block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Статьи'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          ul.list-marked
            li
              a(href='') Консультанты
            li
              a(href='') Категории
          include /blocks/consultation/consultation-item/consultation-item
          - 
            const others = [
              {
                title: 'Волосы на капсулах неперебранные (single drawn)',
                body: 'Подскажите, а что значит славянские волосы на капсулах не перебранные?',
              },
              {
                title: 'Заказ волос',
                body: 'Здравствуйте! Подскажите пожалуйста, высылаете ли вы товар в другие города ( в данном случае в Сыктывкар), сколько данная услуга стоит и сколько занимает времени (непосредственная обработка заказа и д...',
              },
              {
                title: 'Волосы на капсулах неперебранные (single drawn)',
                body: 'Подскажите, а что значит славянские волосы на капсулах не перебранные?',
              },
              {
                title: 'Заказ волос',
                body: 'Здравствуйте! Подскажите пожалуйста, высылаете ли вы товар в другие города ( в данном случае в Сыктывкар), сколько данная услуга стоит и сколько занимает времени (непосредственная обработка заказа и д...',
              },
              {
                title: 'Волосы на капсулах неперебранные (single drawn)',
                body: 'Подскажите, а что значит славянские волосы на капсулах не перебранные?',
              },
            ]
            
          h2 Другие вопросы
          .consultation-other-questions
            each item in others
              .consultation-other-questions__item
                .consultation-other-questions__title 
                  a(href='/')= item.title
                .consultation-other-questions__body= item.body
