extends /blocks/layout/layout

include /blocks/consultation/consultation-list-item/consultation-list-item
include /blocks/consultation/consultation-experts/consultation-experts

block content
  
  include /data/consultation-questions


  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Консультация'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          ul.list-marked
            li
              a(href='') Консультанты
            li
              a(href='') Категории
          h1 Славянские волосы на кератиновой капсуле
          each item in consultationQuestions
            +consListItem(item) 
          include ../blocks/pagination/pagination
          include ../blocks/consultation/consultation-form/consultation-form
