extends /blocks/layout/layout


block content
  .container
    .content
      +grid
        +grid__item({'m':6,'xs':12})
          h2 В Санкт-Петербурге
          p
            a(href='o-kompanii/') Магазин компании Волосы 24
            | &nbsp;в Санкт-Петербурге находится 
            strong по&nbsp;адресу: 
          p ст.&nbsp;м. Фрунзенская (или Балтийская), наб. Обводного канала&nbsp;д.&nbsp;108.
            br
            | Часы работы: Ежедневно с&nbsp;10.00 до&nbsp;21.00, без обеда и&nbsp;выходных.
          p По&nbsp;всем вопросам обращаться по&nbsp;телефону: +7(812) 612-37-36
            br
            | Вопросы по&nbsp;продукции, заказы, сотрудничество:
            a(href='mailto:market@volosy24.ru') market@volosy24.ru
            br
            | Пожелания и&nbsp;проблемы по&nbsp;качеству:
            a(href='mailto:otk@volosy24.ru') otk@volosy24.ru
          p
            a(href='/o-kompanii/nashi-distribiutory/') Все дистрибьюторы
          p
            strong Аккаунты наших сотрудников в "Вконтакте":
          p По всем вопросам, в том числе и по вопросам заказов можете обращаться к нашим сотрудникам по указанному аккаунту:
          p Виктория -
            // noindex
            a(href='http://vk.com/vika_volosy24', rel='nofollow') vk.com/vika_volosy24
            // /noindex
          p
            | Мы&nbsp;есть в&nbsp;
            strong.contacts-icon.contacts-icon--viber Viber
            |  и&nbsp;
            strong.contacts-icon.contacts-icon--whatsapp Whatsapp
            | , просто добавьте наш телефон&nbsp;
            span(style='white-space: nowrap') 8 (961) 809-41-88
            | &nbsp;в свой список контактнов.
          p Схема проезда:
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=OXQL9yj9xJCjJ-HygQQ9neFSnfvMSZyA&height=400&lang=ru_RU&sourceType=constructor', type='text/javascript')
        +grid__item({'m':6,'xs':12})
            h2 В Москве
            p
              | Продукцию компании "Волосы 24" в Москве можно приобрести в "Центре эстетики волос Гамма" по адресу:
            p
              | г. Москва, Средний Тишинский пер., д. 10 
              br
              |         Телефон: +7 (499) 766-24-88, Горячая линия: +7 (495) 782-53-88
              br
              |         Режим работы: Пн.-Пт.: 11.00-19.00, Сб.-Вс.: 11.00-17.00.
              br
              |         Cайт: 
              a(href='http://haircenters.ru/', target='_blank') haircenters.ru
              br
              |         Скайп: gamma_20
              br
              |         E-mail: info@haircenters.ru
              br
              |         Группа «ВКонтакте»: 
              a(href='http://vk.com/club36027463', target='_blank') vk.com/club36027463
      | {loadposition contacts-gallery}
      h2 3D-тур по офису «Волосы 24» в Санкт-Петербурге
      .youtube-responsive
        .youtube-responsive__iframe
          iframe(src='https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2s!4v1486634358815!6m8!1m7!1sK35p8NtUkMUAAAQvxa493A!2m2!1d59.90796101212884!2d30.31258920335586!3f221.86485814753792!4f-14.060279966658854!5f0.7820865974627469', width='712', height='400', style='border:0', allowfullscreen='')
      p(style='clear: both;')  
      h2 ООО "Волосы 24"
      table.contacts-requisites
        tbody
          tr
            td(colspan='2')
              | Юридический и фактический адрес: 196084, Санкт-Петербург, наб. Обводного канала д. 108, офис 30Н.
          tr
            td(colspan='2') Генеральный директор: Лейтес Ольга Владимировна.
          tr
            td(colspan='2') Контактные телефоны: 8-961-809-41-88.
          tr
            td(colspan='2')
              | E-mail: 
              a(href='mailto:market@volosy24.ru') market@volosy24.ru
          tr
            td(colspan='2')
              | p/c № 40702810632060002273 
              br
              | Филиал «Санкт-Петербургский» ОАО «АЛЬФА-БАНК», Санкт-Петербург 
              br
              | к/с 30101810600000000786 
              br
              | БИК 044030786
          tr
            td ИНН 7814473312
            td КПП 783901001
          tr
            td ОКАТО 40270567000
            td ОКПО 67395858
          tr
            td ОКТМО 40327000
            td ОКОГУ 49013
          tr
            td ОКФС 16
            td ОКОПФ 65
          tr
            td ОГРН 1107847221547
            td
