extends /blocks/layout/layout


block content
  .container
    .content
      h1 Наши адреса
      ul.list-marked
        li: a(href='#address-arhangelsk') Архангельск
        li: a(href='#address-voronezh') Воронеж
        li: a(href='#address-ivanovo') Иваново
        li: a(href='#address-kazan') Казань
        li: a(href='#address-moscow') Москва
        li: a(href='#address-murmansk') Мурманск
        li: a(href='#address-perm') Пермь
        li: a(href='#address-saratov') Саратов
        li: a(href='#address-ufa') Уфа
        li: a(href='#address-stavropol') Ставрополь
      h2 Наш адрес в Архангельске:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong Магазин и салон красоты «Лилу»
          p Предоставляемые услуги:
          ul.list-marked
            li
              a(href='tceny/tceny-na-volosy-i-izdeliia-iz-volos/') Волосы для наращивания цены
              | ;
            li Косметика по окраске, уходу и лечению волос;
            li Наращивание волос, ресниц, ногтей;
            li Афроплетение;
            li Парикмахерские услуги.
          p Контактная информация: 
          p
            strong Cалон красоты и магазин волос «Лилу»
          p г. Архангельск, ул. Поморская, д. 34, корп. 2 (за пиц. Оригинал по арку в 9-эт. доме)
          p Телефон: +7 (8182) 43-16-37, +7 (8182) 49-01-70
          p Мы открыты с 9.30 до 20.00 ежедневно, но всегда готовы подстроится под ЛЮБОЕ удобное для Вас время!
          p E-mail: 
            a(href='mailto:salon-lilu29@yandex.ru') salon-lilu29@yandex.ru
          p Сайт:
            // noindex
            a(href='http://www.salon-lilu.ru/', target='_blank', rel='nofollow') www.salon-lilu.ru
            // /noindex
          p Адрес «ВКонтакте»:
            // noindex
            a(href='http://vk.com/id156704492', rel='nofollow') http://vk.com/id156704492
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fQN36mMAZpN2kuE3k43GBU8omSuYW92O&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наш адрес в Воронеже:
      +grid()
        +grid__item({'m':12, 'xs':12})
          p
            strong «Студия красоты Ажур»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Наращивание ресниц;
            li Продажа волос, материалов для наращивания ресниц;
            li Продажа профессиональной косметики для визажа;
            li Продажа лосьонов и оборудования для моментального загара;
            li Обучение наращиванию волос, ресниц, моментальному загару.
          p Контактная информация:
        +grid__item({'m':7, 'xs':12})
          p
            strong 1. Салон красоты «Ажур»
          p г. Воронеж, ул. Кольцовская 46а
          p Телефон: +7 (473) 222-06-88, 238-23-54
          p Режим работы: с 09.00 до 20.00, без выходных
        +grid__item({'m':5, 'xs':12})(style='margin-bottom: 1.5rem')
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ywYYt8FPVVkJeBqvDslGNAzYbHL7mBMd&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')
        +grid__item({'m':7, 'xs':12})
          p
            strong 2. Салон-магазин «Ажур»
          p г. Воронеж, пр. Революции 48б (остановка Кукольный театр)
          p Телефон: +7 (473) 238-22-88
          p Режим работы: с 09.00 до 20.00, без выходных
          p
            | Сайт:
            // noindex
            a(href='http://azhur-salon.ru/', rel='nofollow') azhur-salon.ru/
            // /noindex
          p
            | E-mail: 
            a(href='mailto:azhur-salon@yandex.ru') azhur-salon@yandex.ru
          p
            | Группа «Вконтакте»
            strong
              // noindex
              a(href='http://vk.com/club23703187', rel='nofollow') http://vk.com/club23703187
              // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=PxVcFI5JTVoTSMlndhTWY_0Cg2MtpMSl&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наш адрес в Иваново:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p Предоставляемые услуги:
          ul.list-marked
            li Волосы для наращивания;
            li Материалы и инструменты для наращивания;
            li Изделия из волос;
            li Материалы и инструменты для постижерных работ.
          p
            | Контактная информация: г. Иваново, ул. Калинина, д. 17, магазин "Волосы и парики"
          p Телефон: +7 (920) 348-71-76, +7 (4932) 575 409
          p
            a(href='http://behairy.ru', target='_blank') behairy.ru 
          p
            | Группа Вконтакте:
            // noindex
            a(href='http://vk.com/club31036846', rel='nofollow') club31036846
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=rf9fQbmgdjBeUyg1ARJnTNHtfo-EVU_n&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')
      
      h2 Наш адрес в Казани:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong Cтудия перманентного макияжа и наращивания волос
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Продажа волос и материалов для наращивания.
          p Контактная информация: г. Казань, ул. Павлюхина, д. 110
          p Телефон: +7 (843) 260-30-10
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=ZBPxsoKMCqWvucKL9RXf9ZOVbpKiAehq&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наши адреса в Москве:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong «Центр эстетики волос Гамма»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Волосы для наращивания волос;
            li Изделия из волос;
            li Загустители волос;
            li Лечебная косметика;
            li Безоперационное замещение волос;
          p Контактная информация: 123557, г. Москва, Средний Тишинский пер., д. 10
          p Телефон: +7 (499) 766-24-88, Горячая линия: +7 (495) 782-53-88
          p Режим работы: Пн.-Пт.: 11.00-19.00, Сб.-Вс.: 11.00-17.00
          p
            | Cайт: 
            a(href='http://haircenters.ru/', target='_blank') http://haircenters.ru/
          p Скайп: gamma_20
          p
            | E-mail: 
            a(href='mailto:info@haircenters.ru') info@haircenters.ru
          p
            | Группа «ВКонтакте»:
            // noindex
            a(href='http://www.vk.com/club36027463', rel='nofollow') http://vk.com/club36027463
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=nQjLTp3jzk1krH_B0XwWim5JFjZ0uuV6&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наш адрес в Мурманске:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong PROFY HAIR 51
            br
            | Студия профессионального наращивания и ухода за волосами
          p Предоставляемые услуги:
          ul.list-marked
            li Волосы для наращивания;
            li Наращивание волос.
          p Контактная информация: г.&nbsp;Мурманск, пр.&nbsp;Ленина&nbsp;12, Этаж&nbsp;6
          p Телефон: +7 (921) 272 65 42
          p Режим работы: с 11.00 до 20.00
          p
            | Instagram:
            // noindex
            a(href='https://www.instagram.com/profyhair51', rel='nofollow') https://www.instagram.com/profyhair51
            // /noindex
          p
            | Страница в ВК:
            // noindex
            a(href='https://vk.com/irinavolos51', rel='nofollow') https://vk.com/irinavolos51
            // /noindex
          p
            | Группа «ВКонтакте»:
            // noindex
            a(href='https://vk.com/profyhair51 ', rel='nofollow') https://vk.com/profyhair51 
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A516750b418379ef3f2a5353b0d0af2e3a1ee8a8906be25cea7f5d138487d6a2f&amp;height=240&amp;lang=ru_RU&amp;scroll=true', type='text/javascript')

      h2 Наши адреса в Перми:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong Студия наращивания и дизайна волос «D’ajour»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Волосы для наращивания волос;
            li Обучение наращиванию волос;
            li Наращивание ногтей и ресниц.
          p Контактная информация: г. Пермь, Малкова, д. 6
          p Режим работы: Пн.-Пт.: 11.00-18.00, Сб.: 11.00-17.00, Вс.: выходной
          p Телефон: +7 (342) 276-87-78, +7 (342) 276-23-11
          p
            | E-mail: maradolgih@gmail
            a(style='line-height: 1.3em;', href='mailto:deajour@bk.ru') .
            | com
          p
            | Сайт:
            // noindex
            a(href='http://www.margaritadolgih.com', rel='nofollow') www.margaritadolgih.com
            // /noindex
        +grid__item({'m':5, 'xs':12})(style='margin-bottom: 1.5rem')
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sOg7d8udBj36d0GkoLf9MBtBMHWnwRG9&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')
        +grid__item({'m':7, 'xs':12})
          p
            strong «Студия красоты Вероника»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Наращивание ресниц;
            li Продажа волос.
          p Контактная информация: г. Пермь, ул. Революции 30, оф. 7
          p Режим работы: по предварительной записи
          p Телефон: +7 (982) 484 97 75
          p
            | Сайт:
            // noindex
            a(href='http://www.narasti-resnici.ru/ ', rel='nofollow') www.narasti-resnici.ru
            // /noindex
          p
            | Группа «ВКонтакте»:
            // noindex
            a(href='http://vk.com/club38620403 ', rel='nofollow') vk.com/club38620403
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=qKuHTTzkgQWAvsxFIeY81c-ASjLCEKyp&height=240&lang=ru_RU&sourceType=constructor&scroll=true')

      h2 Наш адрес в Самаре:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong Мастерская волос«VIKI hair»
          p Предоставляемые услуги:
          ul.list-marked
            li Продажа волос для наращивания;
            li Продажа профессиональной косметики для ухода и лечения волос;
            li Наращивание, лечение и выпрямление волос;
            li Афроплетение;
            li Все виды парикмахерских услуг;
            li Обучение наращиванию волос.
          p
            br
            | Контактная информация: г. Самара ул. Чапаевская, д. 187 (на пересечении с Вилоновской, напротив площади Куйбышева)
          p График работы: без выходных, в любое удобное для Вас время.
          p Телефон: +7 (937) 174-19-92
          p
            | E-mail: 
            a(href='mailto:viki1310@mail.ru') viki1310@mail.ru
          p
            | Сайт:
            // noindex
            a(href='http://www.vikihair.ru', rel='nofollow') http://www.vikihair.ru
            // /noindex
          p
            | Адрес «ВКонтакте»:
            // noindex
            a(href='http://vk.com/club50886029', rel='nofollow') http://vk.com/club50886029
            // /noindex
        +grid__item({'m':5, 'xs':12})(style='margin-bottom: 1.5rem')
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=sOg7d8udBj36d0GkoLf9MBtBMHWnwRG9&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')
        +grid__item({'m':7, 'xs':12})
          p
            strong Студия наращивания волос Nicehair
          p
            | Контактная информация: г. Самара, ул. Спортивная 20, офис 403
          p График работы: Понедельник-суббота с 11 до 18
          p Телефон: +7 (846) 201 01 97
          p
            | Сайт:
            // noindex
            a(href='http://www.nicehair.pro', rel='nofollow') www.nicehair.pro
            // /noindex
          p
            | Instagram:
            // noindex
            a(href='http://instagram.com/nicehair.pro', rel='nofollow') nicehair.pro
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=LIPWzxtEunQHrrvahpKDY5w1yikuZMN-&height=240&lang=ru_RU&sourceType=constructor&scroll=true')

      h2 Наш адрес в Саратове:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong «Салон красоты МИКС»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Наращивание ресниц;
            li Продажа волос для наращивания и материалов для афроплетения;
            li Продажа профессиональной косметики;
            li Обучение наращиванию волос и афроплетению.
          p Контактная информация: г. Саратов, ул. Крымская д. 9
          p Телефон: +7 (452) 702–911, +7 (917) 982-87-19
          p Режим работы: с 9.00 до 19.00, без выходных
          p
            | Сайт:
            // noindex
            a(href='http://www.aqurel.ru', rel='nofollow') www.aqurel.ru
            // /noindex
          p
            | E-mail: 
            a(href='mailto:lennorro@yandex.ru') lennorro@yandex.ru
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=p-v-IuEI422WhZtlktHmJxgLvTmgHOm6&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наш адрес в Уфе:
      +grid()
        +grid__item({'m':12, 'xs':12})
          p
            strong «Центр дизайна волос»
          p Предоставляемые услуги:
          ul.list-marked
            li Наращивание волос;
            li Волосы для наращивания волос;
            li Изделия из волос;
            li Загустители волос;
            li Парикмахерские услуги;
            li Лечебная косметика;
            li Безоперационное замещение волос.
          p Контактная информация: 
        +grid__item({'m':7, 'xs':12})
          p
            strong 1. Салон красоты, магазин косметики для волос
            | .
          p г. Уфа, ул. Бабушкина, д. 52.
          p Телефоны: +7 (347) 257-48-88, +7 (347) 293-28-10
          p Режим работы с 09.00 до 21.00, без выходных.
        +grid__item({'m':5, 'xs':12})(style='margin-bottom: 1.5rem')
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=FRl9jXwR_rs_HM3IEHcv4Wp2xcmvHlL7&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')
        +grid__item({'m':7, 'xs':12})
          p
            strong 2. Салон красоты, бутик косметики для волос, парики и волосы для наращивания
            | .
          p г. Уфа, ул. Менделеева, д. 150/4
          p Телефоны: +7 (347) 257-48-88, +7 (347) 293-28-10
          p Режим работы с 09.00 до 21.00, без выходных.
          p
            br
            | Cайты:
            // noindex
            a(href='http://www.elitehair.ru', rel='nofollow') www.elitehair.ru
            // /noindex
            | ,
            // noindex
            a(href='http://www.poteryavolos.ru', rel='nofollow') www.poteryavolos.ru
            // /noindex
          p
            | Группа «Вконтакте»:
            // noindex
            a(href='http://vk.com/centrufa', rel='nofollow') http://www.vk.com/centrufa
            // /noindex
        +grid__item({'m':5, 'xs':12})
          script(charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Vjwp8_XahMcD0mZHzhRAwzextkMMbKBy&height=240&lang=ru_RU&sourceType=constructor', type='text/javascript')

      h2 Наш адрес в Ставрополе:
      +grid()
        +grid__item({'m':7, 'xs':12})
          p
            strong Студия наращивания волос "Magic Hair"
          p Предоставляемые услуги:
          ul.list-marked
            li наращивание волос;
            li продажа волос;
            li изготовление трессов;
            li окрашивание волос;
            li кератиновое выпрямление.
          p Контактная информация: г. Ставрополь, ул. Ленина 318/2
          p Телефон: +7 (962) 454-64-47
          p
            | Cайт:
            // noindex
            a(href='http://www.magichair26.ru', rel='nofollow', target='_blank') www.magichair26.ru
            // /noindex
          p
            | Одноклассники: 
            a(href='http://ok.ru/profile/389193909568', target='_blank') наращивание волос студия MAGIC HAIR
          p
            | Instagram: 
            a(href='https://www.instagram.com/STUDIYA_NARASHIVANIYA_VOLOS_ST/', target='_blank') STUDIYA_NARASHIVANIYA_VOLOS_ST
        +grid__item({'m':5, 'xs':12})
          script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=dVTkj3qjrPS2GiVeuWqamkBgyeUrsHxH&height=240&lang=ru_RU&sourceType=constructor&scroll=true')
          
