extends /blocks/layout/layout

block content
  .container
    .content
      +blockMarked()
        p(style='text-align: center;') С&nbsp;28&nbsp;марта по&nbsp;30&nbsp;апреля магазин &laquo;Волосы&nbsp;24&raquo; будет закрыт.
        p(style='text-align: center;')
          strong Консультируем, подбираем волосы&nbsp;&mdash; удаленно.
          br
          | Отправляем все заказы оперативно курьерскими службами по&nbsp;всей России и&nbsp;Миру.
          br
          | Консультации в&nbsp;WhatsApp, Viber по&nbsp;номеру&nbsp;+7 (961) 809-41-88.
        p(style='text-align: center;') Записывайтесь на услугу наращивания волос в лист ожидания по телефону: +7 (812) 385-01-51
  .home-section
    .container
      .content
        include ../blocks/home-header/home-header
  .home-section
    .container
      .content
        include ../blocks/home-catalog/home-catalog
        -
            let homeCatalogList = [
              {img: 'na-kapsule', name: 'Волосы для наращивания на капсуле',href:'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-na-kapsule/'},
              {img: 'v-sreze', name: 'Волосы для наращивания в срезе',href:'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/'},
              {img: 'na-lente', name: 'Волосы для наращивания на ленте',href:'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-lente/'},
              {img: 'na-zakolkakh', name: 'Волосы для наращивания на заколках',href:'/shop/slavyanskie-volosy/volosy-na-zakolkakh-single-drawn/'},
              {img: 'mini-lenty', name: 'Волосы для наращивания на мини-лентах',href:'/shop/slavyanskie-volosy/mini-lenty/'},
              {img: 'mini-lenty', name: 'Неокрашенные волосы в срезе',href:'/shop/slavyanskie-volosy/mini-lenty/'},
              {img: 'na-tresse', name: 'Волосы для наращивания на трессе',href:'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-tresse/'},
            ]
        +homeCatalog(homeCatalogList)
  .home-section
    .container
      .content
        +grid({widePadding:true, paddingy:true})
          +grid__item({m:8,xs:12})
            include ../blocks/home-slider/home-slider
          +grid__item({m:4,xs:12})
            include ../blocks/hair-palette/hair-palette
  .home-section#home-section--quality
    .container
      .content
        h2.home-section__header Почему мы уверены в качестве?
        +grid({widePadding:true, paddingy:true})
          +grid__item({m:4,xs:12})
            -
              let bestMaterialsList = {
                  list: [
                    {title:'Тщательный отбор поставщиков'},
                    {title:'Используем только то сырье, в качестве которого мы уверены'},
                ],
                settings:{title:'Лучшее сырье'}
              }
            +highlightedSubtitle(bestMaterialsList.settings.title)
            +listFeatures(bestMaterialsList)
            -
              let controlList = {
                settings: {'title':'Контроль'},
                list: [
                  {title: 'Производственный процесс соответствует международным стандартам'},
                  {
                    title: 'Контроль качества на каждом этапе',
                    body: 'Сортировка по длинам, обесцвечивание и окраска, скручивание, капсуляция.'
                  },
                  {title: 'Получили экспертное <a href="/o-kompanii/ekspertnoe-zakliuchenie-po-izdeliiam-iz-volos/">заключение</a> Роспотребнадзора'},
                ]
              }
            +highlightedSubtitle(controlList.settings.title)
            +listFeatures(controlList)
          +grid__item({m:8,xs:12})
            -
              let technologiesList = {
                settings: {
                  title: 'Отработанные технологии',
                  cols: {m: 2, xs:1}
                },
                list: [
                  {title: 'Нет силикона', body: 'Под силиконом часто скрывают недостатки волос, которые выявятся после мытья.<br><a href="#no-silicone" data-fancybox>Подробнее</a>'},
                  {title: 'Нет "перевертышей"', body: 'Волосы собраны в одном направлении, не будут путаться при расчесывании.'},
                  {title: 'Сохранена структура волос', body: 'За счет этого волосы имеют более живой и естественный вид, дольше прослужат.'},
                  {title: 'Плотный край', body: 'За счет двойного вычеса по всей длине волосы строго соответствуют заявленной длине.'},
                  {title: 'Один тон от корней до кончиков', body: 'Волосы окрашиваются в 3-4 этапа, чтобы получился ровный цвет.<br><a href="#single-tone" data-fancybox>Подробнее</a>'},
                ]
              }
            +highlightedSubtitle(technologiesList.settings.title)
            +listFeatures(technologiesList)
            +modalContent#no-silicone
              p Часто безответственные продавцы  покрывают волосы специальным веществом - силиконом, с помощью которого волосы выглядят гладкими и блестящими. Этот эффект недолговечен (исчезает после нескольких процедур мытья) и под ним может “скрываться” совсем неподходящая для вас структура волос, например, волосы могут потом внезапно стать волнистыми, пористыми и пр. А еще хуже, что за силиконом и такой гладкостью могут скрываться волосы-перевертыши, которые могут во время носки очень сильно путаться.
              p Именно по этой причине, чтобы для вас не было “неприятных сюрпризов”, мы не вытягиваем волосы и не покрываем их силиконом. Что позволяет вам увидеть настоящую структуру волос и сделать правильный выбор по структуре и после мытья наши волосы остануться прежними.
            +modalContent#single-tone
              p Волосы других производителей часто выкрашены в "полосочку", попадаются черные или красные волосы в блондах.
  .home-section
    .container
      .content
        h2.home-section__header Выгодные предложения для каждого
        +grid({widePadding:true, paddingy:true})
          +grid__item({m:6,xs:12})
            -
              let areasOfWorkList = {
                settings: {
                  title: 'Салоны красоты, студии наращивания волос, магазины для парикмахеров и реселлеры',
                  showHide: 'masters-and-salons',
                },
                list: [
                  {title: 'Славянские волосы для премиум клиента по оптовой цене'},
                  {title: 'Индивидуальные скидки от <span class="discount-in-text"><strong>20</strong>%</span> при больших заказах'},
                  {title: 'Производство под индивидуальный заказ и срок'},
                  {title: 'Стабильность качества, за счет собственного производства и контроля'},
                  {title: 'Возможна отгрузка больших партий волос'},
                  {title: '<a href="/uslugi/promyshlennoe-okrashivanie-volos/">Промышленное окрашивание</a> вашего сырья на нашем производстве'},
                  {title: '14 дней на проверку состава заказа и качества волос'},
                ]
              }
            +highlightedSubtitle(areasOfWorkList.settings.title)
            p: a(href='#' data-mrc-sh-title='areas-of-work') подробнее
            +listFeatures(areasOfWorkList)(data-mrc-sh-body='areas-of-work')
            .home-form(data-mrc-sh-body='areas-of-work')
              .home-form__title Заполните форму и мы вышлем ссылку на 
                strong оптовый прайс
              +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='name' placeholder='Ваше имя').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='email' placeholder='Ваш email').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                  button(type='submit').btn Получить прайс
            -
              let forBeginnersList = {
                settings: {
                  title: 'Начинающие мастера по наращиванию'
                },
                list: [
                  {title: 'У нас представлены все необходимые <a href="/shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/">инструменты и материалы</a> для горячего и ленточного наращивания'},
                  {title: 'Проводим <a href="/obuchenie/obuchenie-narashchivaniiu-volos/">обучение</a> с выдачей сертификата'},
                  {title: 'Первая закупка по оптовым ценам'},
                ]
              }
            +highlightedSubtitle(forBeginnersList.settings.title)
            +listFeatures(forBeginnersList)
            .home-form
              .home-form__title Заполните форму и получите 
                strong скидку 20%
                |  на набор для наращивания
              +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='name' placeholder='Ваше имя').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='email' placeholder='Ваш email').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                  button(type='submit').btn Получить скидку
          +grid__item({m:6,xs:12})
            -
              let forMastersList = {
                settings: {
                  title: 'Мастера по наращиванию'
                },
                list: [
                  {title: 'Большой ассортимент длин и цветов в наличии в магазине'},
                  {title: 'Доставка по всей России в течение 1-3 дней'},
                  {title: 'При единовременной закупке на 30 000 руб. – любой следующий заказ по оптовой цене'},
                ]
              }
            +highlightedSubtitle(forMastersList.settings.title)
            +listFeatures(forMastersList)
            .home-form
              .home-form__title Заполните форму и мы вышлем 
                strong прайс для мастеров
              +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='name' placeholder='Ваше имя').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='email' placeholder='Ваш email').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                  button(type='submit').btn Получить прайс
            -
              let forRetailersList = {
                settings: {
                  title: 'Розничные клиенты'
                },
                list: [
                  {title: '<a href="/o-kompanii/garantii/">Money back – 30 дней</a>, не подошло – вернем деньги'},
                  {title: 'Подберем волосы под любой цвет и длину, порекомендуем количество для идеальной прически'},
                  {title: 'Оптимальное соотношение цены и качества'},
                  {title: 'Накопительная система скидок постоянным клиентам (<span class="discount-in-text">3</span>-<span class="discount-in-text">5</span>-<span class="discount-in-text">10%</span>)'},
                ]
              }
            +highlightedSubtitle(forRetailersList.settings.title)
            +listFeatures(forRetailersList)
            .home-form
              .home-form__title Заполните форму и получите 
                strong скидку 20% на волосы
                |  при наращивании в нашем салоне + подарок
              +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='name' placeholder='Ваше имя').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--input
                  input(type='text' name='email' placeholder='Ваш email').form__input
                +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                  button(type='submit').btn Получить скидку
  .home-section
    .container
      .content
        h2.home-section__header Как мы работаем
        h3 Хотите сделать заказ онлайн?
        -
          let orderOnlineList = [
            'Вы выбираете в <a href="/shop/">каталоге</a> товар и оформляете заказ',
            'Мы получим заявку и проверим наличие',
            'Менеджер позвонит вам для подтверждения заказа, подберет варианты оплаты и доставки',
            'Вы получаете на почту информацию для совершения оплаты и оплачиваете заказ',
            'После получения оплаты мы отправляем заказ и сообщаем вам номер отправления'
          ]
        +listBlocks(orderOnlineList)
  .home-section
    .container
      .content
        h3 Хотите подержать товар в руках?
        +grid({cols:10, paddingy: true})
          +grid__item({m:4,xs:10})
            -
              let persAppList = [
                'Приезжайте в наш магазин в Санкт-Петербурге',
                'Выбирайте волосы из огромного ассортимента в наличии'
              ]
            +listBlocks(persAppList)
          +grid__item({m:6,xs:10})
            img(src='/images/home-office-photo.jpg' style='width: 100%').image-bordered
  .home-section
    .container
      .content
        h2.home-section__header Отзывы клиентов
        +grid({paddingy: true})
          +grid__item({m:6,xs:12})
            h3(style='margin-top: 0') Видеоотзыв от Юлии Адаменко (Россия, г. Оренбург)
            .youtube-responsive
              .youtube-responsive__iframe
                iframe(src= 'https://vk.com/video_ext.php?oid=12685241&id=171390826&hash=41373a559b55e78c' allowfullscreen)
          +grid__item({m:6,xs:12})
            h3(style='margin-top: 0') Видеоотзыв от Алеси Мингинович (Латвия, г. Рига)
            .youtube-responsive
              .youtube-responsive__iframe
                iframe(src= 'https://vk.com/video_ext.php?oid=12685241&id=171390821&hash=0c0b2b76d678e157' allowfullscreen)
  .home-section
    .container
      .content
        h2.home-section__header Присоединяйтесь к нам в социальных сетях
        include /blocks/home-discount/home-discount
        +grid
          +grid__item({'m':4,'xs':12})
            | <!--noindex-->
            | <script type="text/javascript" src="//vk.com/js/api/openapi.js?151"></script>

            |  <!-- VK Widget -->
            |  <div id="vk_groups"></div>
            |  <script type="text/javascript">
            |  VK.Widgets.Group("vk_groups", {mode: 3,'width': 'auto', height: 400}, 13278032);
            |  </script>
            | <!--/noindex-->
          +grid__item({'m':4,'xs':12})
            | <!--noindex-->
            | <div id="fb-root"></div>
            | <script type="text/javascript">// <![CDATA[
            | (function(d, s, id) {
            |   var js, fjs = d.getElementsByTagName(s)[0];
            |   if (d.getElementById(id)) return;
            |   js = d.createElement(s); js.id = id;
            |   js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.4";
            |   fjs.parentNode.insertBefore(js, fjs);
            | }(document, 'script', 'facebook-jssdk'));
            | // ]]></script>
            | <div class="fb-page" data-href="https://www.facebook.com/volosy24.ru" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" >
            | <div class="fb-xfbml-parse-ignore">
            | <blockquote cite="https://www.facebook.com/volosy24.ru"><a href="https://www.facebook.com/volosy24.ru">Волосы 24</a></blockquote>
            | </div>
            | </div>
            | <!--/noindex-->
          +grid__item({'m':4,'xs':12})
            include /blocks/instagram-widget/instagram-widget
  .home-section
    .container
      .content
        h2.home-section__header Стремление к совершенству, как кредо компании «Волосы24»
        +grid
          +grid__item({'m':6,'xs':12})
            p Наша цель – поставлять мастерам только качественные волосы для наращивания. Для этого:
            ul.list-marked
              li мы первыми в Санкт-Петербурге прошли обучение в Европе и получили сертификат международного качества,
              li открыли собственное производство,
              li полностью отказались от работы с недостаточно качественными типами волос.
            p Мы продаем волосы как оптом, так и в розницу. Ознакомьтесь с ценами, или сразу свяжитесь с нами для уточнения деталей заказа.
          +grid__item({'m':6,'xs':12})
            +youtube-responsive('eanpNxnXNLo')
