extends /blocks/layout/layout

block head
  - isHomePage = true

block content
  .container
    .content
      ul.list-marked        
        li: a(href='home.html') Главная — home.html
        li: a(href='posadochnaya-podpiska.html') posadochnaya-podpiska.html
        li: a(href='method.html') method.html
        li: a(href='consult-consultant.html') consult-consultant.html
        li: a(href='optovikam.html') optovikam.html
        li: a(href='pokupka-volos.html') pokupka-volos.html
        li: a(href='catalog.html') catalog.html
        li: a(href='consult.html') consult.html
        li: a(href='checkout.html') checkout.html
        li: a(href='about.html') about.html
        li: a(href='services.html') services.html
        li: a(href='narashivanie.html') narashivanie.html
        li: a(href='narashivanie-2.html') narashivanie-2.html
        li: a(href='consult-category.html') consult-category.html
        li: a(href='obuchenie-postizhernym-rabotam.html') obuchenie-postizhernym-rabotam.html
        li: a(href='posadochnaya-podpiska-spasibo.html') posadochnaya-podpiska-spasibo.html
        li: a(href='consult-item.html') consult-item.html
        li: a(href='base-layout.html') base-layout.html
        li: a(href='contacts.html') contacts.html
        li: a(href='staff.html') staff.html
        li: a(href='narashchivanie-volos-ombre.html') narashchivanie-volos-ombre.html
        li: a(href='wholesale-prices.html') wholesale-prices.html
        li: a(href='retail-price.html') retail-price.html
        li: a(href='info.html') info.html
        li: a(href='obuchenie.html') obuchenie.html
        li: a(href='payment-delivery.html') payment-delivery.html
        li: a(href='product.html') product.html
        li: a(href='promyshlennoe-okrashivanie-volos.html') promyshlennoe-okrashivanie-volos.html
        li: a(href='consult-item-new.html') consult-item-new.html
        li: a(href='distributors.html') distributors.html
        li: a(href='cart.html') cart.html
        li: a(href='action-banners.html') Баннеры акций — action-banners.html
        li: a(href='banner-shopping.html') День шопинга 11.11 — banner-shopping.html
        li: a(href='new-catalog.html') Новый каталог — new-catalog.html
  