extends /blocks/layout/layout

include /blocks/consultation/consultation-categories/consultation-categories

block content

  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Информация'})
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Полезная информация
          +grid.info-gallery
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/miniatiury-palitry/')
                img(src='/images/hair_palette.png', alt='')
                span Палитра волос
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/kak-podobrat-dlinu-volos/')
                img(src='/images/info/podbor_dliny.jpg', alt='')
                span Как подобрать длину волос
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/kak-podobrat-kolichestvo-volos/')
                img(src='/images/info/podbor_kolichestva.jpg', alt='')
                span Как подобрать количество волос
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/stati/')
                img(src='/images/info/statii.jpg', alt='')
                span Статьи
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/terminy/')
                img(src='/images/info/slovar_terminov.jpg', alt='')
                span Словарь терминов
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/cons')
                img(src='/images/info/vopros_otvet.jpg', alt='')
                span Вопрос-ответ
            +grid__item({'m':3,'s':6,'xs':12}).info-gallery__item
              a(href='/info/narashchivanie-volos/metodiki/')
                img(src='/images/info/metodi.jpg', alt='')
                span Методы наращивания
