extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Наращивание'})
      include ../blocks/hair-extention/hair-extention-header/hair-extention-header
      include ../blocks/hair-extention/hair-extention-types/hair-extention-types
      include ../blocks/hair-extention/hair-extention-preparation/hair-extention-preparation
      include ../blocks/hair-extention/hair-extention-gallery/hair-extention-gallery
      include ../blocks/hair-extention/hair-extention-count-price/hair-extention-count-price
      include ../blocks/hair-extention/hair-extention-additional-price/hair-extention-additional-price
      include ../blocks/hair-extention/hair-extention-result/hair-extention-result
      include ../blocks/hair-extention/hair-extention-action/hair-extention-action
      include ../blocks/hair-extention/hair-extention-assortment/hair-extention-assortment
      include ../blocks/hair-extention/hair-extention-masters/hair-extention-masters
      include ../blocks/hair-extention/hair-extention-consultation/hair-extention-consultation
      include ../blocks/hair-extention/hair-extention-reviews/hair-extention-reviews
      //- include ../blocks/hair-extention/hair-extention-questions/hair-extention-questions
      include ../blocks/hair-extention/hair-extention-contacts/hair-extention-contacts
      include ../blocks/hair-extention/hair-extention-sign/hair-extention-sign
      //- //+hair-extention-sign('hollywood')
      //- //+hair-extention-sign('capsule')
      //- //+hair-extention-sign('tape')
