extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Наращивание'})
      include ../blocks/hair-extention-2/hair-extention-header/hair-extention-header
      .hair-extention-section
        include ../blocks/hair-extention-2/hair-extention-menu/hair-extention-menu
      .hair-extention-section
        h2.hair-extention-subheader Почему волосы стоит нарастить у нас?
        include ../blocks/why-we/why-we
        include ../data/hair-extention.pug 
        +whyWe(whyWe)
      include ../blocks/hair-extention-2/hair-extention-action/hair-extention-action
      include ../blocks/hair-extention-2/hair-extention-types/hair-extention-types
      include ../blocks/hair-extention-2/hair-extention-calculator/hair-extention-calculator
      .hair-extention-section#hair-extention-section__calculate
        h2.hair-extention-subheader Как рассчитать стоимость?
        p Для расчета стоимости используйте наши калькуляторы:
        +grid({wrap:true})
          +grid__item({m:6,xs:12})
            include /data/hair-extention/hair-extention-calc1
            +hairExtCalc(calc1)
          +grid__item({m:6,xs:12})
            include /data/hair-extention/hair-extention-calc2
            +hairExtCalc(calc2)
      include ../blocks/hair-extention-2/hair-extention-consultation/hair-extention-consultation
      include ../blocks/hair-extention-2/hair-extention-result/hair-extention-result

                
      include ../blocks/hair-extention-2/hair-extention-how-we-work/hair-extention-how-we-work
      .hair-extention-section
        +youtube-responsive('AerKHfUqncA')
      .hair-extention-section
        h2.hair-extention-subheader Снятие и коррекция
        +grid({'wrap':true})
          +grid__item({m:6,xs:12})
            h3(style='margin-top: 0') Коррекция нарощенных волос
            p Нужна, когда вы хотите снять и снова нарастить те же самые волосы.
            include /data/hair-extention/hair-extention-calc3
            +hairExtCalc(calc3)
            p <strong>Быстро и без вреда</strong> для волос снимем пряди с помощью специальной жидкости и щипцов.
            p Снятые пряди распутаем, при необходимости, разберем по длине и перекапсулируем для дальнейшего наращивания.
          +grid__item({m:6,xs:12})
            h3(style='margin-top: 0')  Снятие нарощенных волос
            p Подойдет, если вы хотите дать волосам отдохнуть или поменять нарощенные волоса на новые.
            include /data/hair-extention/hair-extention-calc3
            +hairExtCalc(calc3)
        p Распутывание колтунов - 
          strong 1000 - 3000 руб.
        p В случае если во время носки у вас образовались колтуны и нам необходимо будет их распутать, то эта услуга оплачивается дополнительно в зависимости от сложности ситуации.

      include ../blocks/hair-extention-2/hair-extention-masters/hair-extention-masters
      include ../blocks/hair-extention-2/hair-extention-reviews/hair-extention-reviews
      include ../blocks/hair-extention-2/hair-extention-about/hair-extention-about
      include ../blocks/hair-extention-2/hair-extention-sign/hair-extention-sign
      .hair-extention-section
        h2.hair-extention-subheader 3D тур по салону красоты
        
        .youtube-responsive
          .youtube-responsive__iframe.js-tour-container
            iframe(style="border:0" allowfullscreen="" src="//p0.zoon.ru/3d_tours/tour_salon_krasoty_hair_care_center/index.html" id="touriframe")
      include ../blocks/hair-extention-2/hair-extention-sign-bottom/hair-extention-sign-bottom
