extends /blocks/layout/layout
include /blocks/catalog-slider/catalog-slider 
include /blocks/catalog-pagination/catalog-pagination 

block content  
  -
    var asideMenu = {
      'name':'Каталог',
      'items': [
        {
          'name':'Славянские волосы',
          'url':'',
          'children': [
            { 'name':'Волосы для наращивания в срезе', 'url':'' },
            { 'name':'Волосы для наращивания на капсуле', 'url':'' },
            { 'name':'Волосы для наращивания на ленте', 'url':'' },
            { 'name':'Волосы для наращивания на трессе', 'url':'' }
          ]
        },
        {
          'name':'Косметика для ухода за нарощенными волосами',
          'url':'',
          'children': [
            { 'name':'Маска интенсивная восстанавливающая с маслом кокоса 250 мл.', 'url':'', 'hidden': true },
            { 'name':'Крем-кондиционер для волос Яичный коктейль 500 мл, Ollin Professional', 'url':'', 'hidden': true },
            { 'name':'Мед для волос, Ollin Perfect hair, 50 мл.', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Кондиционер для нарощенных волос с маслом белого винограда 1000мл', 'url':'', 'hidden': true },
            { 'name':'OLLIN SILK TOUCH Шампунь для нарощенных волос с экстрактом белого винограда 1000мл', 'url':'', 'hidden': true },
          ]
        },
        {
          'name':'Инструменты и материалы для наращивания волос',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'', 'active':true },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        },
        {
          'name':'Инструменты для укладки волос',
          'url':''
        },
        {
          'name':'Инструменты и материалы для постижерных работ',
          'url':'',
          'children': [
            { 'name':'Материалы', 'url':'' },
            { 'name':'Инструменты', 'url':'' },
            { 'name':'Аксессуары', 'url':'' }
          ]
        }
      ]
    }
    var catalogItems1 = [
      {
        'name':'Волосы для наращивания в срезе',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/',
        'info':'54 цвета, длина 40-85 см.',
        'price':'9680-16396',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на капсуле',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-na-kapsule/',
        'info':'54 цвета, длина 40-85 см.',
        'price':'1660-4500',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на ленте',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-lente/',
        'info':'54 цвета, длина 40-60 см.',
        'price':'2860-3740',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Волосы для наращивания на трессе',
        'link':'/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-tresse/',
        'info':'54 цвета, длина 50-60 см.',
        'price':'13970-15730',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'Мини-ленты',
        'link':'/shop/slavyanskie-volosy/mini-lenty/',
        'info':'54 цвета, длина 40-60 см.',
        'price':'1900-2460',
        'image':'/images/hair_palette.png'
      }
    ]
    var catalogItems2 = [
      {
        'name':'для наращивания волос',
        'link':'/shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'для укладки волос',
        'link':'/shop/instrumenty-dlia-ukladki-volos/',
        'image':'/images/hair_palette.png'
      },
      {
        'name':'для постижерных работ',
        'link':'/shop/instrumenty-i-materialy-dlia-postizhernykh-rabot/',
        'image':'/images/hair_palette.png'
      }
    ]


  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Каталог'})
      h1 Натуральные волосы для наращивания
      +pageSection              
        - 
          const products = [
            {
              img: 'na-capsule',
              alt: 'Натуральные волосы для наращивания на капсуле',
              text: 'На капсуле',
            },
            {
              img: 'na-lente',
              alt: 'Натуральные волосы для наращивания на ленте',
              text: 'На ленте',
            },
            {
              img: 'v-sreze',
              alt: 'Натуральные волосы для наращивания в срезе',
              text: 'В срезе',
            },
            {
              img: 'na-microcaps',
              alt: 'Натуральные волосы для наращивания на микрокапсуле',
              text: 'На микрокапсуле',
            },
            {
              img: 'na-tresse',
              alt: 'Натуральные волосы для наращивания на трессе',
              text: 'На трессе',
            },
            {
              img: 'cvet',
              alt: 'Цветные пряди',
              text: 'Цветные пряди',
            },
            {
              img: 'volosy-na-minilentah',
              alt: 'Волосы на мини-лентах',
              text: 'Волосы на мини-лентах',
            },
            {
              img: 'na-zakolkah',
              alt: 'Волосы на заколках',
              text: 'Волосы на заколках',
            },
          ]
        +catalogSlider(products)

          
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside.catalog-filter-aside
          +aside-header({'title': 'Фильтры'}).hidden-xs.hidden-s
          .catalog-mobile-filter.page-section
            .catalog-mobile-filter__block
              button(type='button').btn.catalog-mobile-filter__button Фильтры
              form(method='post' action='').catalog-filter
                .catalog-filter__inner
                  .catalog-filter__item
                    label(for='type').catalog-filter__label Тип волос
                    select(name='type')#type.catalog-filter__field.catalog-filter__field--wide
                      option(value='') —
                      option(value='') На капсуле
                      option(value='') На ленте
                      option(value='') В срезе
                      option(value='') На трессе

                  .catalog-filter__item
                    label(for='length').catalog-filter__label Длина
                    select(name='length')#length.catalog-filter__field
                      option(value='') —
                      option(value='') 40
                      option(value='') 45
                      option(value='') 50
                      option(value='') 55

                  .catalog-filter__item.catalog-filter__item--color
                    span.catalog-filter__label Цвет
                    .catalog-filter__color-list
                      - for (i=0; i<35; i++)
                        label.catalog-filter__color
                          img(src='https://dummyimage.com/50x50' alt='цвет' title='цвет' width='36' height='36')
                          input(type='checkbox').catalog-filter__color-field
                          span.catalog-filter__color-dec

                  .catalog-filter__item.catalog-filter__item--availability
                    input(type='checkbox')#availability.catalog-filter__checkbox
                    label(for='availability').catalog-filter__label в наличии

                  .catalog-filter__item.catalog-filter__item--no-gap
                    span.catalog-filter__label Цена
                    .catalog-filter__price
                      label(for='from').catalog-filter__label от
                      input(type='number' min='1' value='1').catalog-filter__field.catalog-filter__field--number#from
                      label(for='to').catalog-filter__label до
                      input(type='number' min='1' value='1').catalog-filter__field.catalog-filter__field--number#to

                    .catalog-filter__range
                      button(type='button').catalog-filter__range-handle.catalog-filter__range-handle--left 
                      .catalog-filter__range-track 
                      button(type='button').catalog-filter__range-handle.catalog-filter__range-handle--right

                  .catalog-filter__item
                    label(for='method').catalog-filter__label Метод наращивания
                    select(name='method')#method.catalog-filter__field.catalog-filter__field--wide
                      option(value='') —
                      option(value='') Холодное наращивание
                      option(value='') Горячее наращивание
                      option(value='') Голливудское наращивание
                      option(value='') Ленточное наращивание

                  .catalog-filter__item.catalog-filter__item--show
                    button(type='button').btn.catalog-filter__show-btn Показать
                    button(type='button').btn.catalog-filter__show-btn.catalog-filter__show-btn--reset Сбросить

              //- Сортировка на мобильном 
            .catalog-mobile-filter__block.hidden-hd.hidden-xl.hidden-l.hidden-m
              .catalog-sort
                select(name='sort')#sort.catalog-sort__select
                  option(value='popular') По популярности
                  option(value='cheap') По цене (сначала недорогие)
                  option(value='expensive') По цене (сначала дорогие)
                  option(value='new') Новые

        +grid__item({'m':9,'xs':12}).page-cols__main.page-section
          .page-section.hidden-xs.hidden-s
            .catalog-sort
              label(for='sort') #[strong Сортировать:]
              select(name='sort')#sort.catalog-sort__select
                option(value='popular') По популярности
                option(value='cheap') По цене (сначала недорогие)
                option(value='expensive') По цене (сначала дорогие)
                option(value='new') Новые

          .page-section.catalog
            .catalog__item
              .catalog-product
                a(href='/').catalog-product__image 
                  +img({
                    name: 'na-capsule-catalog',    
                    path: '/images/new-catalog/',
                    formats: [
                      { ext: 'jpg', orig: true },
                      { ext: 'webp', mime: 'image/webp' },
                    ],
                  })(alt= 'Волосы для наращивания на капсуле' title= 'Волосы для наращивания на капсуле')

                .catalog-product__inner
                  .catalog-product__description
                    a(href='/').catalog-product__link Волосы для наращивания на капсуле, 40 см, № 8 — коньяк
                  .catalog-product__features
                    span.catalog-product__length 40 см
                    .catalog-product__color-block
                      img(src='https://dummyimage.com/24x24' alt='коньяк' title='коньяк' width='24' height='24')
                      span.catalog-product__color коньяк
                  .catalog-product__price-block
                    .catalog-product__price 12 640 руб.
                      p.catalog-product__availability в наличии
                    span.catalog-product__clarification за упаковку (20 капсул)
                .catalog-product__buy
                  form(method='post' action='').catalog-product-buy
                    .catalog-product-buy__value
                      button(type='button').catalog-product-buy__change.catalog-product-buy__change--dec
                      input.catalog-product-buy__field(type='number' min='1' value='1')
                      button(type='button').catalog-product-buy__change.catalog-product-buy__change--inc
                    button(type='button').btn.catalog-product-buy__button В корзину
            - for (i=0; i<8; i++)   
              .catalog__item
                .catalog-product
                  a(href='/').catalog-product__image 
                    +img({
                      name: 'na-capsule-catalog',    
                      path: '/images/new-catalog/',
                      formats: [
                        { ext: 'jpg', orig: true },
                        { ext: 'webp', mime: 'image/webp' },
                      ],
                    })(alt= 'Волосы для наращивания на капсуле' title= 'Волосы для наращивания на капсуле')

                  .catalog-product__inner
                    .catalog-product__description
                      a(href='/').catalog-product__link Волосы для наращивания на капсуле, 40 см, № 8 — светлый блонд-платиновый 
                    .catalog-product__features
                      span.catalog-product__length 40 см
                      .catalog-product__color-block
                        img(src='https://dummyimage.com/24x24' alt='коньяк' title='коньяк' width='24' height='24')
                        span.catalog-product__color светлый блонд-платиновый
                    .catalog-product__price-block
                      .catalog-product__price 12 640 руб.
                        p.catalog-product__availability в наличии
                      span.catalog-product__clarification за упаковку (20 капсул)
                  .catalog-product__buy
                    form(method='post' action='').catalog-product-buy
                      .catalog-product-buy__value
                        button(type='button').catalog-product-buy__change.catalog-product-buy__change--dec
                        input.catalog-product-buy__field(type='number' min='1' value='1')
                        button(type='button').catalog-product-buy__change.catalog-product-buy__change--inc
                      button(type='button').btn.catalog-product-buy__button В корзину

          +catalogPagination.page-section   
          .page-section.catalog-description
            p Купить натуральные славянские (славянка) волосы для наращивания на капсулах – <strong>лучший выбор, если вы хотите нарастить волосы на длительный период</strong>.
            p Капсульные волосы <strong>используются для "горячего" типа наращивания волос</strong>. Данный вид позволяет наращивать волосы при короткой длине своих волос от 6-8 см, а так же можно наращивать волосы в зоне челки при помощи микрокапсул. В среднем, на одно наращивание может потребоваться до 100 - 140 капсул на средний объем и длину волос.
            p При изготовлении используются только <strong>100% натуральные человеческие волосы</strong>, а так же итальянский тугоплавкий кератин. У нас представлены волосы на капсулах различных длин от 40 и 60 см до 95 см, цвета всегда в наличии.
            p Все волосы <strong>окрашиваются бережным способом</strong> в палитру 54 цвета, кутила и структура волос сохранены. При желании под заказ вы можете купить волосы омбре для наращивания на капсулах.
            p Волосы не покрываются силиконом. <strong>В результате ношения волос и их мытья, структура волос сохраняется</strong> и вас <strong>не</strong> ожидают неприятные "сюрпризы", когда блеск и гладкость быстро исчезают при нескольких процедур мытья головы, а цвет полностью смывается. С нашими волосами такого не будет.
            p Волосы на капсулах <strong>перебранные (double drawn)</strong> — это волосы, которые при изготовлении тщательно перебирают по длинам. Волосы в каждой капсуле могут иметь разную длину, но не короче 15-20 см. При этом большая часть волос той длины, что указана на этикетке. Кончики волос достаточно густые, что достигается благодаря сортировке и стрижке кончиков волос.
            p Если вы хотите длинные волосы и хотите, чтобы это было естественно и красиво, тогда вам подойдет именно данный вариант волос для наращивания. При наращивании важно подобрать <a href="/info/kak-podobrat-kolichestvo-volos/">нужное количество волос</a>, которое требуется именно в вашем случае (с учетом густоты волос, стрижки, желаемой длины и пр.).
            p <strong>При уходе</strong> у вас <strong>не будет хлопот</strong>, ведь он будет таким же, как и за своими окрашенными волосами.
            h2 Как заказать волосы для наращивания на капсулах недорого (дешевые) в Санкт-Петербурге, сколько стоят?
            p Оптовые цены на волосы со скидкой до 20%. Скидка зависит от объема закупки. Полные цены и условия на странице <a href="/optovym-pokupateliam/">"Оптовикам"</a>.
            include ../blocks/socials/socials
