extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная','Обучение'], 'current':'Обучение наращиванию волос'})
      include ../blocks/training/training-header/training-header
      include ../blocks/training/training-courses/training-courses
      include ../blocks/training/training-results/training-results
      include ../blocks/training/training-courses-detail/training-courses-detail
      include ../blocks/training/training-teachers/training-teachers
      include ../blocks/training/training-products/training-products
      include ../blocks/training/training-form/training-form
