extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная','Обучение'], 'current':'Постижерные работы'})
      p Проводим обучение индивидуально по&nbsp;Вашему запросу. Стоимость обучения, день и&nbsp;сроки обучения оговариваются индивидуально в&nbsp;зависимости от&nbsp;объема и&nbsp;сложности. Обучение подходит Вам, если есть опыт работы в&nbsp;парикмахерском деле от&nbsp;1&nbsp;года.

      h2 Программа семинара по&nbsp;постижерным работам
      p Мы&nbsp;разработали гибкую программу обучения. Ее&nbsp;можно изменить в&nbsp;зависимости от&nbsp;Ваших пожеланий по&nbsp;обучению. Сделать упор на&nbsp;одной технологии или убрать другую.
      
      ul.list-marked
        li
          strong Введение
          ul.list-marked
            li Материалы и&nbsp;инструменты для постижерных работ. Подготовка волос к&nbsp;работе;
      ul.list-marked
        li
          strong Тресс
          ul.list-marked
            li Изготовление тресса в&nbsp;один, два и&nbsp;более оборотов в&nbsp;две и&nbsp;три нити;
            li Изготовление тресса для шиньона и&nbsp;косы. Различные модели накладных волос на&nbsp;основе тресса. Использование трессовых изделий для наращивания волос;
            li Изготовление трессового украшения;
            li Изготовление клеевого украшения;
        li
          strong Изготовление комбинированного украшения;
        li
          strong Использование постижей в&nbsp;салонных работах. Прически для торжественных случаев, свадебные прически;
        li
          strong Примеры работ при обучении
        li
          strong Изготовление трессового украшения&nbsp;&mdash; красные пряди.
      h2 Примеры работ при обучении
      p Изготовление трессового украшения&nbsp;&mdash; красные пряди.
      .gallery.gallery_small
        .gallery__item
          a(href='/images/training/1.jpg').image-open
            img(src='/images/training/1_small.jpg' alt='Изготовление трессового украшения')
        .gallery__item
          a(href='/images/training/2.jpg').image-open
            img(src='/images/training/2_small.jpg' alt='Изготовление трессового украшения')
        .gallery__item
          a(href='/images/training/3.jpg').image-open
            img(src='/images/training/3_small.jpg' alt='Изготовление трессового украшения')




      p Изготовление клеевого украшения&nbsp;&mdash; цветок.
      .gallery.gallery_small
        .gallery__item
          a(href='/images/training/4.jpg').image-open
            img(src='/images/training/4_small.jpg' alt='Изготовление клеевого украшения' title='Изготовление клеевого украшения')
        .gallery__item
          a(href='/images/training/5.jpg').image-open
            img(src='/images/training/5_small.jpg' alt='Изготовление клеевого украшения' title='Изготовление клеевого украшения')
        .gallery__item
          a(href='/images/training/6.jpg').image-open
            img(src='/images/training/6_small.jpg' alt='Изготовление клеевого украшения' title='Изготовление клеевого украшения')





      h2 Стоимость обучения
      p Стоимость обучения складывается из&nbsp;навыков которым хотите научиться. Программу составим индивидуально. Мы&nbsp;не&nbsp;включаем &laquo;уроки&raquo; если они не&nbsp;пригодятся Вам в&nbsp;работе.

      p Например обучение постижерным работам (клеевые украшения и&nbsp;украшения на&nbsp;заколках)&nbsp;&mdash; 6&nbsp;000&nbsp;рублей.
      p Обучение плетению ручного тресса (работа с&nbsp;трессом и&nbsp;на&nbsp;трессбанке)&nbsp;&mdash; 6&nbsp;000&nbsp;рублей.
      p Узнайте стоимость обучения подходящего для Вас по&nbsp;телефону: +7(812) 612-37-36

      h2 Выдаем сертификат
      p По&nbsp;окончании выдается сертификат. Участники семинара смогут приобрести необходимое оборудование.
      img(src='/images/training/sertifikat.jpg' atl='Сертификат' title='Сертификат').article-illustration.article-illustration--wide
      h2 Преподаватель курсов — Ирина Богданова
      section.training-teachers
        .training-teacher
          .training-teacher__info
            +grid({'justify':'center'}).training-teacher__description
              +grid__item({'m':8,'xs':12}).training-teacher__description-inner
                h4 Опыт работы
                ul.list-marked
                  li В области парикмахерского искусства более 15 лет.
                  li В настоящее время работает в Центре дизайна волос мастером по безоперационному замещению и наращиванию волос. Проводит учебные семинары по различным техникам наращивания волос. Работает на международных выставках парикмахерского искусства. Постоянно совершенствуется в области стрижек и окраски, посещает учебные семинары по последним технологиям в этой области.
                h4 Сфера деятельности
                ul.list-marked
                    li Наращивание волос различными методами
                    li Прически, укладки, стрижки любой сложности
                    li Наращивание ресниц
                    li Постижерные работы
                    li Безоперационное замещение волос
              +grid__item({'m':4,'s':6,'xs':12}).training-teacher__photo
                img(src='/images/training/teacher.jpg')
      
      h2 Появились вопросы по&nbsp;обучению?
      p Специалист по&nbsp;семинару ответит по&nbsp;телефону на&nbsp;любые вопросы и&nbsp;расскажет о&nbsp;деталях процесса обучения

      p(style='font-size: 1.25rem').comagic_phone +7(812) 612-37-36
