extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Оптовикам'})
      include ../blocks/wholesale/wholesale-header/wholesale-header
      include ../blocks/wholesale/wholesale-discounts/wholesale-discounts
      include ../blocks/wholesale/wholesale-product/wholesale-product
      include ../blocks/wholesale/wholesale-get-price/wholesale-get-price
      include ../blocks/wholesale/wholesale-advantages/wholesale-advantages
      include ../blocks/wholesale/wholesale-vip/wholesale-vip
      include ../blocks/wholesale/wholesale-about/wholesale-about
      include ../blocks/wholesale/wholesale-become/wholesale-become
      //- include ../blocks/wholesale/wholesale-get-price/wholesale-get-price
      include ../blocks/wholesale/wholesale-feedback/wholesale-feedback
      include ../blocks/wholesale/wholesale-order/wholesale-order
      include ../blocks/wholesale/wholesale-samples/wholesale-samples
      
