extends /blocks/layout/layout

block content
  .container
    .content
      #conv_buy_wrapper
        #conv_buy_trigger
          +grid({'tag':'ul','justify':'center'}).payment-delivery-tabs
            +grid__item({'tag':'li'}).payment-delivery-tabs__item
              a(href='#about_zakaz')
                img(src='/images/icons/buy.jpg', alt='')
                | Как заказать
            +grid__item({'tag':'li'}).payment-delivery-tabs__item
              a(href='#about_oplata')
                img(src='/images/icons/pay.jpg', alt='')
                | Как оплатить
            +grid__item({'tag':'li'}).payment-delivery-tabs__item
              a(href='#about_dostavka')
                img(src='/images/icons/delivery.jpg', alt='')
                | Доставка
        #conv_buy_inner_wrapper
          #about_zakaz.conv_buy_inner
            h3 Как оформить заказ на&nbsp;сайте?
            ol.list-numbered.list-numbered--about
              li Выберите в&nbsp;каталоге понравившийся товар с&nbsp;указанием необходимых параметров (например, для волос: цвет, длина), количество и&nbsp;добавьте его в&nbsp;корзину
              li Перейдите в&nbsp;корзину или сразу нажмите кнопку &laquo;Оформить заказ&raquo;
              li Выберите способ получения: Доставка или Самовывоз. Если выбрана доставка, укажите регион доставки.
              li Выберите вариант оплаты
              li Заполните информацию для оформления заказа (ФИО, e-mail, телефон, адрес доставки)
              li Оплатите заказ (в&nbsp;случай онлайн оплаты) или нажмите &laquo;Оформить заказ&raquo;
              li После поступления заказа мы&nbsp;свяжемся с&nbsp;вами для его подтверждения
              li Вы&nbsp;получите на&nbsp;почту информацию о&nbsp;заказе, а&nbsp;также информацию для совершения оплаты выбранным способом
              li После получения оплаты в&nbsp;случае доставки мы&nbsp;вышлем посылку и&nbsp;сообщим вам номер отправления
          #about_oplata.conv_buy_inner
            h3 Как оплатить заказ на сайте?
            p Оплата производится после утверждения заказа в&nbsp;размере 100% любым удобным для Вас способом.
            h4 Оплата возможна следующими способами:
            p
              strong Для физических лиц:
            ol.list-numbered.list-numbered--about
              li Онлайн оплата на&nbsp;сайта (Банковские карты, электронные деньги, терминалы, салоны связи, интернет-банки)
              li На&nbsp;счет юридического лица
              li Наличными или картой в&nbsp;магазине (самомовывоз)
            p: srtong Возможны и&nbsp;другие варианиы оплаты, утрчняйте информацию у&nbsp;менеджеров.
            p
              strong Для юридических лиц:
            ol.list-numbered.list-numbered--about
              li Оплата по&nbsp;счету
              li Наличными в&nbsp;магазине (самомовывоз)
          #about_dostavka.conv_buy_inner
            h3 Доставка по&nbsp;Санкт-Петербургу и&nbsp;Ленинградской области
            p По&nbsp;Санкт-Петербург доставку осуществляем курьерской службой &laquo;Dostavista&raquo; (доставка возможна в&nbsp;день заказа, при оплате до&nbsp;18:00).
            p
              strong по&nbsp;Санкт-Петербургу
            ul.list-marked
              li до&nbsp;5&nbsp;кг&nbsp;&mdash; 390&nbsp;руб.
              li до&nbsp;10&nbsp;кг&nbsp;&mdash; 490&nbsp;руб.
              li 10&nbsp;кг и&nbsp;больше&nbsp;&mdash; 590&nbsp;руб.
            p
              strong по&nbsp;Ленинградской области
            ul.list-marked
              li до&nbsp;5&nbsp;кг&nbsp;&mdash; 590&nbsp;руб.
              li до&nbsp;10&nbsp;кг&nbsp;&mdash; 650&nbsp;руб.
            h3 Доставка по&nbsp;всей России
            p Наша компания осуществляет доставку заказов по&nbsp;всей России различными способами: курьерской службой СДЭК и&nbsp;EMS Почта России (доставка до&nbsp;двери) и&nbsp;Почтой России (доставка до&nbsp;почтового отделения в&nbsp;Вашем городе).
            p Отправку заказов мы&nbsp;осуществляем после 100% оплаты за&nbsp;товар.
            p Срок доставки посылки может составлять несколько дней, в&nbsp;зависимости от&nbsp;способа и&nbsp;города назначения.
            p Стоимость доставки зависит от&nbsp;способа, города назначения и&nbsp;веса посылки.
            p Вы&nbsp;всегда можете обратиться к&nbsp;нам, и&nbsp;мы&nbsp;сориентируем Вас по&nbsp;срокам и&nbsp;стоимости доставки.
            p: strong Почта России
            p Сроки: от&nbsp;2&nbsp;рабочих дней. Стоимость: от&nbsp;300 руб
            p Отслеживание посылки на&nbsp;сайте: 
              a(href='https://pochta.ru/') https://pochta.ru/
            p: strong EMS Почта России
            p Сроки: от&nbsp;1&nbsp;рабочего дня. Стоимость: от&nbsp;450&nbsp;руб.
            p Отслеживание посылки на&nbsp;сайте: 
              a(href='http://www.emspost.ru/ru/tracking/') http://www.emspost.ru/ru/tracking/
            p: strong СДЭК
            p Сроки: от&nbsp;1&nbsp;рабочего дня. Стоимость: от&nbsp;450&nbsp;руб.
            p Отслеживание посылки на&nbsp;сайте: 
              a(href='https://www.cdek.ru/track.html') https://www.cdek.ru/track.html
            h3 Информирование о заказе
            table.table
              tbody
                tr
                  td Заказ подтвержден
                  td Оповещение по e-mail или контактному телефону
                tr
                  td Заказ сформирован в посылку и передан в службу доставки (мы сообщаем номер посылки для отслеживания на сайте курьерской службы)
                  td Оповещение по e-mail или контактному телефону
                tr
                  td Посылка доставлена в город доставки
                  td Отслеживание на сайте курьерской службы/Почты России по номеру отправления самостоятельно (либо можете обратиться к нам за помощью)
                tr
                  td Посылка готова к доставке курьерской службой
                  td Отслеживание на сайте курьерской службы/Почты России по номеру отправления самостоятельно (либо можете обратиться к нам за помощью). В зависимости от компании, кто доставляет посылку, с Вами может связаться курьер для согласования времени доставки, либо доставка осуществляется согласно графику работы курьера
