extends /blocks/layout/layout

include /blocks/list-features/list-features
include /blocks/highlighted-subtitle/highlighted-subtitle
include /blocks/landing-section/landing-section
include /blocks/landing-feedback/landing-feedback

block content
  .container: .content
    +landiongSection: +grid({ 'justify': 'center', paddingy: true }).page-cols
      +grid__item({ m: 6, s: 10, xs: 12 })
        h1.text-align--center Спасибо за подписку!
        p: strong Благодарю вас, что оставили заявку на ценную инструкцию (ссылка на нее внизу) и подписались на нашу рассылку.
        p Периодически мы будем высылать вам 
          strong уникальные материалы
          |  и 
          strong практические советы
          |  о том, как сделать бизнес по наращиванию волос в салоне успешным.
        p Если вы заинтересованы получать нашу рассылку, то обязательно 
          strong добавьте
          |  адрес 
          strong hello@volosy24.ru
          |  в адресную книгу своей почты, чтобы гарантированно получать от меня письма.
        p Желаю вам успехов!
    +grid({ 'justify': 'center', paddingy: true }): +grid__item({ m: 4, s: 6, xs: 12 }): a(href='/').btn.btn--big Скачать инструкцию
