extends /blocks/layout/layout

block content
  include /blocks/tabs/tabs
  include /blocks/socials-inline/socials-inline
  .container
    .content
      +breadcrumbs({'parents':['Главная','Каталог','Инструменты и материалы для наращивания волос','Материалы'], 'current':'Волосы для наращивания в срезе'})
      h1 Волосы для наращивания в срезе
      include ../blocks/product-layout/product-layout
      +pageSection
        +tabs
          +tab({'name':'Описание'})
            h2.product-subheader Описание
            p Волосы в срезе (пучке) могут использоваться как для наращивания, так и для производства разнообразных изделий из волос.
            p При изготовлении мы используем только 100% натуральные человеческие волосы. Все волосы формируются в хвосты разнообразных цветов и структур, которые всегда в наличии.
            p Волосы в срезе окрашиваются бережным способом, кутила и структура волос сохранены. Волосы не покрываются силиконом. В результате ношения волос и их мытья, структура волос сохраняется и вас не ожидают неприятные "сюрпризы".
            p Волосы в срезе не перебранные по длине (single drawn) – волосы, которые имеют разнообразную длину в пучке. Кончики легкие, как будто с легкой филировкой, выглядят очень естественно. Такие волосы будут смотреться естественно, как и свои длинные волосы. Если Вы хотите иметь длинные волосы и хотите, чтобы это было незаметно и естественно, тогда вам подойдут именно такой вариант волос.
            p Для капсуляции волос из среза, мы советуем применять карду. С помощью этого инструмента сокращается количество потерь, и мастер избежит вероятность появления перевертышей.
            p При уходе за волосами вы не будете иметь хлопот, ведь уход будет таким, как и за своими окрашенными волосами.
            p Оптовикам. Оптовые цены на волосы со скидкой до 35%. Скидка зависит от объема закупки. Полные цены и условия на странице "Оптовикам".

          +tab({'name':'Доставка'})
            h2.product-subheader Доставка
            p После оформления заказа, менеджер магазина подберет варианты доставки, проверит наличие товара и&nbsp;позвонит для подтверждения заказа.

            h3 Для розничных клиентов
            +grid
              +grid__item({'m':6,'xs':12})
                p
                  strong Санкт-Петербург
                ul.list-marked
                  li По&nbsp;Санкт-Петербургу&nbsp;&mdash; курьерской службой &laquo;Dostavista&raquo;&nbsp;&mdash; 390&nbsp;руб. (при весе посылки до&nbsp;5&nbsp;кг) (сегодня, при оплате до&nbsp;18:00&nbsp;в рабочий день)
                  li По&nbsp;Ленинградской области&nbsp;&mdash; от&nbsp;590&nbsp;руб. (при весе посылки до&nbsp;5&nbsp;кг)
                  li Самовывоз из&nbsp;салона &laquo;Волосы24&raquo;&nbsp;&mdash; Бесплатно
              +grid__item({'m':6,'xs':12})
                p
                  strong Россия
                ul.list-marked
                  li Почта России&nbsp;&mdash; от&nbsp;300&nbsp;руб. (от&nbsp;2&nbsp;рабочих дней)
                  li EMS Почта России&nbsp;&mdash; от&nbsp;450&nbsp;руб. (от&nbsp;1&nbsp;рабочего дня)
                  li СДЭК&nbsp;&mdash; от&nbsp;450&nbsp;руб. (от&nbsp;1&nbsp;рабочего дня)
                p
                  strong Зарубежье
                p Уточнять у&nbsp;менеджера по&nbsp;телефону: +7 (812) 612-37-36 или при оформлении заказа укажите город и&nbsp;страну доставки. Менеджер магазина подберет варианты доставки в&nbsp;зарубежье и&nbsp;согласует с&nbsp;вами.
            h3 Для оптовых клиентов
            p Стоимость доставки в&nbsp;два раза больше, чем для розничного клиента, так как вес посылки больше. Точную стоимость рассчитает менеджер магазина при оформлении заказа.
          +tab({'name':'Доставка'})
            h2.product-subheader Оплата
            p Заказ отправляем после 100% оплаты.
            +grid
              +grid__item({'m':6,'xs':12})
                p
                  strong Для физических лиц:
                ul.list-marked
                  li Онлайн оплата на&nbsp;сайте (Банковские карты, электронные деньги, терминалы, салоны связи, интернет-банки)
                  li На&nbsp;счет юридического лица
                  li Наличными или картой при самовывозе из&nbsp;магазина
                p: strong Возможны и&nbsp;другие варианты оплаты, утрчняйте информацию у&nbsp;менеджеров
              +grid__item({'m':6,'xs':12})
                p
                  strong Для юридических лиц:
                ul.list-marked
                  li Оплата по счету
                  li Наличными при самовывозе из магазина
          +tab({'name':'Отзывы'})
            include ../blocks/product-feedback/product-feedback
          +tab({'name':'Подобрать цвет'})#product-choose-color
            h2 Подобрать цвет
            h3 Подобрать цвет по&nbsp;фотографии
            p Вы&nbsp;можете отправить нам фотографию волос с&nbsp;помощью 
              a(href='#form-color' data-fancybox) специальной формы
              | , либо в&nbsp;мессенджере или социальной сети: 
            +socialsInline()
            p Лучше сделать 
              strong несколько фотографий
              |  при разном 
              strong освещении
              |  для сравнения.
            h3 Подобрать цвет по&nbsp;бесплатной палитре Estel
            +grid
              +grid__item({m:9,xs:12})
                p Вы&nbsp;можете выбрать понравившийся вам цвет из&nbsp;образцов 
                  strong палитры красок Estel
                  | . А&nbsp;потом либо сообщить нам номер из&nbsp;палитры, на&nbsp;основе которого мы&nbsp;подберем вам цвет. Либо самому с&nbsp;помощью 
                  a(href='#colours-table' data-fancybox) таблицы
                  |  найти соответствие цвета образца Estel и&nbsp;нашей палитры.
                p Палитру Estel можно найти в&nbsp;
                  strong профессиональных магазинах
                  |  или в&nbsp;
                  strong отделах косметики
                  |  продовольственных магазинов 
                  strong (не&nbsp;нужно покупать)
                  | . Также данная палитра есть в&nbsp;большинстве салонов, где используют данный краситель.
                #colours-table(style='display: none')
                  -
                    const ct = [
                      ['1/0', '1'],
                      ['3/0', '1в'],
                      ['4/7', '2'],
                      ['5/3', '3'],
                      ['6/0', '3в'],
                      ['6/3', '4'],
                      ['7/75', '5'],
                      ['7/3', '8'],
                      ['8/3', '12'],
                      ['9/7', '16'],
                      ['9/0', '19'],
                      ['10/0', '24'],
                      ['8/34', '33'],
                      ['8/74', '33в'],
                      ['7/71', '61'],
                      ['8/1', '77'],
                      ['8/1', '810'],
                      ['10/7', '83'],
                      ['9/1', '87'],
                      ['9/73', '97'],
                      ['7/34', '135'],
                      ['8/74', '135в'],
                      ['10/8', '201'],
                      ['0/00N', '602'],
                      ['0/00A', '000'],
                    ]
                  table.table-price
                    tr
                      th Палитра Estel essex
                      th Палитра «Волосы 24»
                    each row in ct
                      tr
                        each i in row
                          td !{i}
              +grid__item({m:3,xs:12})
                p: img(src='/images/palette-estel.jpg' alt='Палитра Estel')
            h3 Подобрать цвет на&nbsp;основе вашего текущего цвета нарощенных волос
            p Если вы&nbsp;уже приобретали у&nbsp;нас волосы, вы&nbsp;можете просто сообщить нам 
              strong ваши данные
              | . Мы&nbsp;проверим по&nbsp;базе и&nbsp;узнаем номер цвета.
            h3 В&nbsp;нашем магазине
            p Предлагаем вам посетить наш магазин по&nbsp;адресу&nbsp;
              strong г. Санкт-Петербург, наб. Обводного канала, д.&nbsp;108
              | . В&nbsp;наличии огромный ассортимент. Наши менеджеры с&nbsp;большим опытом подберут вам цвет, которые будет идеально соответстовать вашим ожиданиям.
            h3 По&nbsp;телефону или видео консультации
            p 
              a(href='tel:+78126123736') Звоните
              |  нам или оставьте 
              a(href='#' onclick='event.preventDefault(); Comagic.openSitePhonePanel()') заявку на&nbsp;обратный звонок
              | .
            p Звоните нам по&nbsp;видео связи:
            +socialsInline({facebook: false, vk: false, instagram: false})
            p Наш сотрудник подскажет возможные варианты и&nbsp;поможет выбрать цвет.
            #form-color(style='display: none')
              form.form.consultation-form
                h3 Определить цвет по фото
                .consultation-form__input
                  .consultation-form__label
                    label Фотографии
                  .consultation-form__input-text
                    input(type='file' name='photo')
                  .consultation-form__input-text
                    input(type='file' name='photo')
                  .consultation-form__input-text
                    input(type='file' name='photo')
                .consultation-form__input
                  .consultation-form__label
                    label Телефон
                  .consultation-form__input-text
                    input(type='phone' name='phone').form__input#form-color__phone
                .consultation-form__buttons
                  button(type='submit').btn Отправить
              p Мы свяжемся с вами, как только фотографии будут получены, и согласуем с вами выбор.
          +tab({'name':'Подобрать длину'})#product-choose-length
            h3 Инструкция по&nbsp;выбору длины волос для наращивания
            +grid({justify: 'center'})
              +grid__item({m:8,xs:12})
                p Для начала измерьте длину собственных волос: один конец ленты приложите к&nbsp;верхушке ушей, другой&nbsp;&mdash; к&nbsp;кончикам самых нижних прядей. Если ваша цель&nbsp;&mdash; только увеличение объема, тогда вам подойдут пряди той&nbsp;же длины, что и&nbsp;ваши волосы. В&nbsp;другом случае воспользуйтесь рекомендациями.
                ol.list-numbered
                  li Больше, чем в&nbsp;2&nbsp;раза от&nbsp;исходной длины волосы не&nbsp;удлиняют. Наращиваете волосы впервые? Выберите длину 40-50&nbsp;см (примерно до&nbsp;уровня лопаток). В&nbsp;результате получите естественный вид шевелюры. Аналогично поступите, если у&nbsp;вас короткая стрижка.
                  li Ориентируйтесь на&nbsp;свой рост. Например, 45&nbsp;см&nbsp;&mdash; это пряди до&nbsp;средины спины при росте 170&nbsp;см, и&nbsp;чуть выше талии при росте 160&nbsp;см. 
                  li Подбирайте длину, ориентируясь на&nbsp;форму лица. Длинные волосы подойдут обладательницам овальной, квадратной, сердцевидной формы лица. Волосы&nbsp;же средней длины лучше подбирать обладательницам круглой и&nbsp;удлиненной формы лица. 
                  li Учтите особенности ухода. Уход усложняется с&nbsp;увеличением длины. К&nbsp;тому&nbsp;же длина волос более 60&nbsp;см в&nbsp;повседневной жизни непрактична.
              +grid__item({m:4,s:8,xs:12}): img(src='/images/podbor_dliny.jpg' alt='Как подобрать длину волос')
          +tab({'name':'Вопросы и ответы'})
            include ../blocks/product-questions/product-questions
      include ../blocks/socials/socials
