extends /blocks/layout/layout


block content
  .container
    .content
      +breadcrumbs({'parents':['Главная'], 'current':'Оптовикам'})
      +pageSection
        include ../blocks/banner-industrial-coloring/banner-industrial-coloring
      +pageSection
        p Специализируется на получении 
          strong множества различных оттенков волос
          | , среди которых есть, как и самые востребованные на рынке — блондины, так и различные темные и русые оттенки.

      +pageSection
        +pageSubheader('Ваши выгоды')
        +grid({paddingy:true})
          +grid__item({m:6,xs:12})
            +featuresTitle() Ваши клиенты будут довольны
            p Волосы&nbsp;&mdash; окрашенные у&nbsp;нас, позволят вашим клиентам использовать их&nbsp;неоднократно, сохраняя при этом природный блеск и&nbsp;первоначальный оттенок, который не&nbsp;смоется при длительном использовании.
            p Волосы хорошо окрашиваются и&nbsp;тонируются в&nbsp;более темные тона.
            p Как у&nbsp;нас это получается?
          +grid__item({m:6,xs:12})
            +featuresTitle() Информируем о&nbsp;процессе
            p В&nbsp;процессе работы с&nbsp;вашими волосами, опытный технолог держит вас в&nbsp;курсе всей работы и&nbsp;процесса ваших волос.
            p По&nbsp;желанию, с&nbsp;каждым клиентом мы&nbsp;создаем отдельную группа в&nbsp;мессенджере
            p На&nbsp;каждом из&nbsp;этапов окраски технолог отправляет фото волос и&nbsp;информирует о&nbsp;работе.
          +grid__item({m:6,xs:12})
            +featuresTitle() Низкие потери
            p Объем потерь зависит от&nbsp;качества сырья. С&nbsp;хорошим сырьем&nbsp;&mdash; 10-15%, с&nbsp;плохим (большое количество перевертышей)&nbsp;&mdash; 15-20%. Без учета веса резинок.
          +grid__item({m:6,xs:12})
            +featuresTitle() Готовый продукт на&nbsp;выходе
            p Окрашенное сырье возвращается в&nbsp;виде идеальных срезов, которые в&nbsp;дальнейшем можно капсулировать для наращивания или&nbsp;же трессировать для изготовления шиньонов, париков и&nbsp;других накладных изделий.
      +pageSection
        +pageSubheader('Преимущества работы с нами')
      
        +grid({paddingy:true, justify: 'center'})
          +grid__item({s:9,xs:12})
            +grid({paddingy:true,widePadding:true})
              +grid__item({s:6,xs:12})
                img(src='/images/industrial-coloring/quality-control.jpg' alt='Контроль качества' title='Контроль качества')
                +featuresTitle({type:'secondary'}) Контроль качества
              +grid__item({s:6,xs:12})
                img(src='/images/industrial-coloring/hair-palette@2.png' alt='Богатая палитра оттенков – 54' title='Богатая палитра оттенков – 54')
                +featuresTitle({type:'secondary'}) Богатая палитра оттенков&nbsp;&mdash; 54
              +grid__item({s:6,xs:12})
                img(src='/images/industrial-coloring/rospotrebnadzor.jpg' alt='Получили экспертное заключение Роспотребнадзора' title='Получили экспертное заключение Роспотребнадзора')
                +featuresTitle({type:'secondary'}) Получили экспертное 
                  a(href='/o-kompanii/ekspertnoe-zakliuchenie-po-izdeliiam-iz-volos/') заключение
                  |  Роспотребнадзора
              +grid__item({s:6,xs:12})
                img(src='/images/industrial-coloring/technologies.jpg' alt='Отработанные технологии' title='Отработанные технологии')
                +featuresTitle({type:'secondary'}) Отработанные технологии
      +pageSection
        +pageSubheader('Почему мы выполняем промышленное окрашивание волос качественно?')
        +grid({paddingy:true})
          +grid__item({m:6,xs:12})
            +featuresTitle() Бережные технологии
            p Наша технология окрашивания волос отличается от&nbsp;технологий других компаний.
            p Мы&nbsp;используем специальные химические средства, которые позволяют избежать сожжения окрашиваемых волос. Сохраняем структуру волос, за&nbsp;счет этого волосы имеют более живой цвет и&nbsp;естественный вид и&nbsp;блеск, дольше прослужат.
            p Подробнее о&nbsp;процессе
          +grid__item({m:6,xs:12})
            +featuresTitle() Нет силикона
            p В&nbsp;процессе работы с&nbsp;вашими волосами, опытный технолог держит вас в&nbsp;курсе всей работы и&nbsp;процесса ваших волос.
            p По&nbsp;желанию, с&nbsp;каждым клиентом мы&nbsp;создаем отдельную группа в&nbsp;мессенджере
            p На&nbsp;каждом из&nbsp;этапов окраски технолог отправляет фото волос и&nbsp;информирует о&nbsp;работе.
          +grid__item({m:6,xs:12})
            +featuresTitle() Один тон от&nbsp;корней до&nbsp;кончиков
            p Волосы окрашиваются в&nbsp;3-4&nbsp;этапа, чтобы получился ровный цвет.
          +grid__item({m:6,xs:12})
            +featuresTitle() Равномерный срез
            p Каждый срез вычесывают, чтобы убрать короткие волосы и&nbsp;получить более равномерный срез.
            p Все вычесы сохраняются для контроля.
      +pageSection
        +pageSubheader('Цены')
        +grid({paddingy:true, justify:'center'})
          +grid__item({m:8,xs:12})
            +blockMarked()
              p: strong Окрашивание в&nbsp;базовые цвета:
              ul.list-marked.list-marked--w-prev-par
                li От&nbsp;1&nbsp;до&nbsp;3&nbsp;кг&nbsp;&mdash; 11&nbsp;000 руб./кг;
                li От&nbsp;3&nbsp;до&nbsp;5&nbsp;кг&nbsp;&mdash; 9&nbsp;000 руб./кг
                li От&nbsp;5&nbsp;до&nbsp;10&nbsp;кг&nbsp;&mdash; 8&nbsp;000 руб./кг
                li От&nbsp;10&nbsp;кг&nbsp;&mdash; 7&nbsp;000 руб./кг
              p
                strong Окрашивание волос в&nbsp;цвета омбре&nbsp;
                | &mdash; 13&nbsp;000 руб./1&nbsp;кг
      +pageSection
        +grid({paddingy:true, justify:'center'})
          +grid__item({m:4,s:6,xs:8}): p: a(href='#industrial-coloring-form' data-fancybox).btn.btn--big Заказать окрашивание волос
      +pageSection
        +pageSubheader('Пошаговый процесс промышленного окрашивания волос')
        +grid({justify:'center'})
          +grid__item({m:10,xs:12})
            ul.list-numbered.list-numbered--big-number
              li Каждый пучок (срез) волос прошиваем в&nbsp;верхней части для равномерного осветления и&nbsp;окрашивания, а&nbsp;также для уменьшения потерь волос во&nbsp;время всего процесса.
              li Выполняем процедуру подготовки волос к&nbsp;осветлению, которая позволяет бережно раскрыть кутикулы.
              li Осуществляем процесс осветления волос до&nbsp;требуемого базового уровня.
              li После каждого этапа осветления анализируем их&nbsp;состояние. Далее тщательно сортируем волосы в&nbsp;зависимости от&nbsp;возможности получения определенного цвета (не&nbsp;все сырье подходит для получения определенного цвета). Каждый срез волос осветляется именно до&nbsp;того уровня, до&nbsp;которого эти волосы смогут сохранить свою структуру в&nbsp;целости. Также между этапами волосы вымачиваются в&nbsp;специальных солевых растворах для укрепления структуры и&nbsp;подготовки к&nbsp;окрашиванию.
              li Производим окрашивание
              li Выполняем сушку
              li Осуществляем смешивание волос до&nbsp;однородного цвета (скрутку). Все пряди распределяем по&nbsp;оттенкам, корни идеально лежат в&nbsp;одну линию (Remy hair)
              li Отдаем волосы на&nbsp;перетяжку, для создания ровного верхнего края и&nbsp;собираются в&nbsp;пучки
              li Моем волосы специальным шампунем, также используем ухаживающие средства (бальзамы, маски) после окрашивания, которые восстанавливают состояние волос с&nbsp;помощью увлажняющих компонентов, восстанавливающих кутикулу.
              li Готовый продукт развешиваем в&nbsp;отдельном помещении с&nbsp;поддерживаемым температурным режимом для естественной сушки окрашенных волос.
              li Передаем волосы в&nbsp;цех капсуляции, где капсулируем окрашенные волосы разделяя их&nbsp;на&nbsp;прядки.
              li В&nbsp;заключении готовые к&nbsp;продажи волосы поступают в&nbsp;цех упаковки.
      +pageSection
        +pageSubheader('Фотографии нашего производства')
        +grid({paddingy: true, justify: 'center'})
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-1.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-1_thumb.jpg' alt='Производство: здание' title='Производство: здание')
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-2.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-2_thumb.jpg' alt='Производство: инструменты' title='Производство: инструменты')
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-3.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-3_thumb.jpg' alt='Производство: материал' title='Производство: материал')
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-4.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-4_thumb.jpg' alt='Производство: персонал' title='Производство: персонал')
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-5.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-5_thumb.jpg' alt='Производство: взвешивание' title='Производство: взвешивание')
          +grid__item({s:4,xs:6})
            a(href='/images/industrial-coloring/production-6.jpg' data-fancybox='gallery-production'): img(src='/images/industrial-coloring/production-6_thumb.jpg' alt='Производство: процесс' title='Производство: процесс')
      +pageSection
        +pageSubheader('Ответы на популярные вопросы')
        -
          const questions = [
            {
              question: 'Каким образом осуществляется контроль за&nbsp;моим сырьем? Исключена&nbsp;ли вероятность кражи/потери/порчи сырья?',
              answer: 'Наш производственный цех оборудован камерами видеонаблюдения, осуществляется постоянный контроль за&nbsp;работой с&nbsp;сырьем, особое внимание уделяется контролю за&nbsp;работой с&nbsp;сырьем заказчиков.',
            },
            {
              question: 'Каким образом происходит процесс оплаты? Есть&nbsp;ли предоплата? Можно&nbsp;ли заплатить вам только по&nbsp;факту?',
              answer: 'Мы&nbsp;берем оплату из&nbsp;расчета веса сдаваемого вами сырья. Оплата производится по&nbsp;окончании работ при сдаче готовой продукции заказчику из&nbsp;расчета стоимости за&nbsp;1&nbsp;кг при сдаче сырья на&nbsp;обработку (фиксируется входящий вес, за&nbsp;который клиент платит)',
            },
            {
              question: 'Насколько квалифицированный персонал у&nbsp;вас работает?',
              answer: 'Наши технологи имеют более чем 10-летний опыт работы с&nbsp;натуральными волосами разного происхождения и&nbsp;состояния. Производство работает с&nbsp;2009&nbsp;года. Многие технологи работают с&nbsp;самого начала.',

            },
            {
              question: 'Есть&nbsp;ли у&nbsp;вас скидки? Скидки действуют только на&nbsp;крупный опт?',
              answer: 'Скидки действуют от&nbsp;объема. Чем больше килограмм вы&nbsp;сдаете на&nbsp;окрашивание, тем меньше стоимость одного килограмма.',
            },
            {
              question: 'Получатся&nbsp;ли из&nbsp;моего сырья светлые оттенки и&nbsp;сколько? Какие будут потери?',
              answer: 'Мы&nbsp;можем предсказать результат уже на&nbsp;первых этапах обработки сырья (сколько будет блондов, например, какие потери ожидаются).',
            },
          ]
        each item in questions
          +blockMarked()
            p: strong !{item.question}
            p !{item.answer}
      +pageSection
        +grid({paddingy:true, justify:'center'})
          +grid__item({m:4,s:6,xs:8}): p: a(href='#industrial-coloring-form' data-fancybox).btn.btn--big Заказать окрашивание волос
      +pageSection
        +pageSubheader('Дополнительные услуги')
        +grid({paddingy:true, widePadding: true, justify: 'center'})
          +grid__item({m:6,xs:12})
            +blockMarked('<h3>Капсуляция волос</h3>')
              p(style='margin-top: -1.5rem; margin-left: -1.5rem; margin-right: -1.5rem'): img(src='/images/industrial-coloring/capsulation.jpg' alt='Капсуляция волос' title='Капсуляция волос')
              p Стоимость: 1&nbsp;капсула&nbsp;&mdash; 9&nbsp;руб. (Ваш кератин)
                br
                | 1&nbsp;капсула&nbsp;&mdash; 10&nbsp;руб. (наш кератин)
          +grid__item({m:6,xs:12})
            +blockMarked('<h3>Восстановление спутанных и&nbsp;&laquo;вычесанных&raquo; волос</h3>')
              p(style='margin-top: -1.5rem; margin-left: -1.5rem; margin-right: -1.5rem'): img(src='/images/industrial-coloring/restoration.jpg' alt='Восстановление спутанных и «вычесанных» волос' title='Восстановление спутанных и «вычесанных» волос')
              p Стоимость: 20000&nbsp;руб.&nbsp;за&nbsp;кг.
          +grid__item({m:6,xs:12})
            +blockMarked('<h3>Продажа волос для наращивания</h3>')
              p
                strong 54 цвета
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/') Волосы в&nbsp;срезе
                | &nbsp;&mdash; длина 40-115&nbsp;см.
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-na-kapsule/') Волосы на&nbsp;капсуле
                | &nbsp;&mdash; длина 35-95&nbsp;см.
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-lente/') Волосы на&nbsp;ленте
                | &nbsp;&mdash; длина 30-80&nbsp;см.
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-tresse/') Волосы на&nbsp;трессе
                | &nbsp;&mdash; длина 35-80&nbsp;см.
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/mini-lenty/') Мини ленты
                | &nbsp;&mdash; длина 40-60&nbsp;см.
              p
                strong 10 цветов
                br
                a(href='http://www.volosy24.ru/shop/slavyanskie-volosy/volosy-na-zakolkakh-single-drawn/') Волосы на&nbsp;заколках
                | &nbsp;&mdash; длина 50&ndash;55&nbsp;см.
      +pageSection
        +pageSubheader('Остались вопросы?')
        +pageSection
          +grid({paddingy: true})
            +grid__item({m:6,xs:12})
              +grid({justify:'center', paddingy:true, align: 'center'})
                +grid__item({m:2,xs:4})
                  include ../styles/svg/telephone.svg
                +grid__item({m:8,xs:12})
                  p Позвоните нам по&nbsp;телефону<br><strong>+79817245628</strong>
            +grid__item({m:6,xs:12})
              +grid({justify:'center', paddingy:true, align: 'center'})
                +grid__item({m:2,xs:4})
                  include ../styles/svg/conversation.svg
                +grid__item({m:8,xs:12})
                  p Напишите нам на&nbsp;номер <strong>+79817245628</strong><br>в WhatsApp/Viber/Telegram
        p Наши консультанты с&nbsp;радостью 
          strong ответят на&nbsp;все вопросы
          |  относительно процесса и&nbsp;стоимости промышленного окрашивания волос.
        include ../blocks/industrial-coloring-form/industrial-coloring-form
