extends /blocks/layout/layout

include /blocks/table-price/table-price

block content
  .container
    .content
      +grid.page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          h1 Розничный прайс
          ul.list-marked
            li
              strong
                a(href='#volosy-dlja-narashhivanija') Волосы для наращивания цены
            li
              strong
                a(href='#volosy-ombre') Цены на волосы омбре
            li
              strong
                a(href='#instrumenty-dlja-narashhivanija') Цены на инструменты для наращивания
            li
              strong
                a(href='#materialy-dlja-postizherov') Цены на материалы для постижеров
          // Волосы для наращивания цены
          h2#volosy-dlja-narashhivanija.roznichnii-price__second-title Цены на волосы для наращивания
          h3(style='text-align: center;')
            a(href='shop/slavyanskie-volosy/volosy-dlya-narashivaniya-na-kapsule/') Стоимость славянских волос на кератиновой капсуле
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 упаковку (20 прядей)
              tr
                td до 40 см
                td 1&nbsp;826 руб.
              tr
                td до 45 см
                td 1&nbsp;936 руб.
              tr
                td до 50 см
                td 2&nbsp;275 руб.
              tr
                td до 55 см
                td 2&nbsp;396 руб.
              tr
                td до 60 см
                td 2&nbsp;904 руб.
              tr
                td до 65 см
                td 3&nbsp;025 руб.
              tr
                td до 70 см
                td 3&nbsp;872 руб.
              tr
                td до 75 см
                td 4&nbsp;840 руб.
              tr
                td до 80 см
                td 5&nbsp;324 руб.
              tr
                td до 85 см
                td 5&nbsp;445 руб.
              tr
                td до 90 см
                td 5&nbsp;962 руб.
              tr
                td до 95 см
                td 6&nbsp;556 руб.
          h3(style='text-align: center;')
            a(href='shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/') Цена славянских волос в пучках (срезе)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость (за 100 гр.)
                  br
                  | Стандарт
                th Стоимость (за 100 гр.)
                  br
                  | Люкс
              tr
                td до 40 см
                td 9 051 руб.
                td 10 648 руб.
              tr
                td до 45 см
                td 9 462 руб.
                td 11 132 руб.
              tr
                td до 50 см
                td 11 031 руб.
                td 12 978 руб.
              tr
                td до 55 см
                td 12 106 руб.
                td 14 242 руб.
              tr
                td до 60 см темные
                td 12 931 руб.
                td 14 936 руб.
              tr
                td до 60 см светлые
                td 13 576 руб.
                td 15 972 руб.
              tr
                td до 65 см темные
                td 13 239 руб.
                td 15 399 руб.
              tr
                td до 65 см светлые
                td 13 916 руб.
                td 16 371 руб.
              tr
                td до 70 см темные
                td 14 859 руб.
                td 17 305 руб.
              tr
                td до 70 см светлые
                td 15 743 руб.
                td 18 522 руб.
              tr
                td до 75 см темные
                td 15 899 руб.
                td 17 705 руб.
              tr
                td до 75 см светлые
                td 16 116 руб.
                td 18 961 руб.
              tr
                td до 80 см темные
                td 15 938 руб.
                td 18 104 руб.
              tr
                td до 80 см светлые
                td 16 490 руб.
                td 19 400 руб.
              tr
                td до 85 см темные
                td 16 178 руб.
                td 18 503 руб.
              tr
                td до 85 см светлые
                td 16 864 руб.
                td 19 840 руб.
              tr
                td до 90 см темные
                td 16 918 руб.
                td 19 903 руб.
              tr
                td до 90 см светлые
                td 17 237 руб.
                td 20 279 руб.
              tr
                td до 95 см темные
                td 17 357 руб.
                td 20 302 руб.
              tr
                td до 95 см светлые
                td 17 610 руб.
                td 20 717 руб.
          h3(style='text-align: center;') Волосы славянские в трессе
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 шт. (вес тресса 100 грамм)
              tr
                td До 35 см
                td 12 648 руб.
              tr
                td До 40 см
                td 13 132 руб.
              tr
                td До 45 см
                td 14 978 руб.
              tr
                td До 50 см
                td 16 242 руб.
              tr
                td До 55 см темные
                td 16 936 руб.
              tr
                td До 55 см светлые
                td 17 972 руб.
              tr
                td До 60 см темные
                td 17 399 руб.
              tr
                td До 60 см светлые
                td 18 371 руб.
              tr
                td До 65 см темные
                td 19 305 руб.
              tr
                td До 65 см светлые
                td 20 522 руб.
              tr
                td До 70 см темные
                td 19 705 руб.
              tr
                td До 70 см светлые
                td 20 961 руб.
              tr
                td До 75 см темные
                td 20 104 руб.
              tr
                td До 75 см светлые
                td 21 400 руб.
              tr
                td До 80 см темные
                td 20 503 руб.
              tr
                td До 80 см светлые
                td 21 840 руб.
          h3(style='text-align: center;') Волосы на заколках
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 шт.
              tr
                td До 40 см
                td 15 132 руб.
              tr
                td До 45 см
                td 16 978 руб.
              tr
                td До 50 см
                td 18 242 руб.
              tr
                td До 55 см темные
                td 18 936 руб.
              tr
                td До 55 см светлые
                td 19 972 руб.
              tr
                td До 60 см темные
                td 19 399 руб.
              tr
                td До 60 см светлые
                td 20 371 руб.
              tr
                td До 65 см темные
                td 21 305 руб.
              tr
                td До 65 см светлые
                td 22 522 руб.
              tr
                td До 70 см темные
                td 21 705 руб.
              tr
                td До 70 см светлые
                td 22 961 руб.
              tr
                td До 75 см темные
                td 22 104 руб.
              tr
                td До 75 см светлые
                td 23 400 руб.
              tr
                td До 80 см темные
                td 22 503 руб.
              tr
                td До 80 см светлые
                td 23 840 руб.
          h3(style='text-align: center;')
            a(href='shop/slavyanskie-volosy/volosy-dlya-narashchivaniya-na-lente/') Волосы славянские на ленте 
            br
            small (окрашенные, ширина ленты 3 см)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 10 шт. 
              tr
                td До 40 см
                td 3 146 руб.
              tr
                td До 45 см
                td 3 267 руб.
              tr
                td До 50 см
                td 3 993 руб.
              tr
                td До 55 см
                td 4 259 руб.
              tr
                td До 60 см темные
                td 4 392 руб.
              tr
                td До 60 см светлые
                td 4 525 руб.
              tr
                td До 65 см темные
                td 4 659 руб.
              tr
                td До 65 см светлые
                td 4 792 руб.
              tr
                td До 70 см темные
                td 4 925 руб.
              tr
                td До 70 см светлые
                td 5 058 руб.
              tr
                td До 75 см темные
                td 5 191 руб.
              tr
                td До 75 см светлые
                td 5 324 руб.
              tr
                td До 80 см темные
                td 5 457 руб.
              tr
                td До 80 см светлые
                td 5 590 руб.
          h3(style='text-align: center;')
            | Волосы славянские на ленте (мини-ленты)
            br
            small (натуральные волосы славянского типа, окрашенные) (ширина ленты 1 см)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 20 шт. (1 уп.)
              tr
                td До 40 см
                td 2 090 руб.
              tr
                td До 50 см
                td 2 662 руб.
              tr
                td До 60 см
                td 2 977 руб.
          p
            | * Темные цвета:
            br
            | 1, 1в, 2, 2в, 3, 3в, 4, 4в, 5, 5в, 6, 8, 10, 12, 28, 28в, 33, 33в, 61, 71в, 77, 81в, 88, 810, 97, 135, 135в
          p
            | ** Светлые цвета:
            br
            | 16, 16в, 18, 19, 20, 20в, 22, 22в, 24, 24в, 29, 29в, 81, 83, 87, 91, 98, 98в, 100, 201, 602, 613, 903, 917, 000, 110, 110в, 220, 330, 440, 550, 660, 990
          p
            | Мы понимаем, что условием успешного взаимодействия с клиентами являются наши 
            strong выгодные предложения
            | . Именно поэтому стоимость волос у нас всегда останется оптимальной для каждого клиента.
          p(style='text-align: center;')
            strong
              | Приглашаем Вас 
              a(href='http://www.volosy24.ru/') купить волосы
              |  — наши цены Вас приятно удивят!
          p
            | Являясь производителями предлагаемого продукта, мы имеем возможность самостоятельно формировать конкурентную стоимость натуральных волос.
            br
            |  Вы сами сможете в этом убедиться: достаточно всего лишь один раз обратиться к нам!
            br
            |  Заботясь о простоте вашего выбора и экономии времени, мы подготовили прайс, в который поместили все цены на покупку волос.
            br
            |  Приобретая волосы в нашей компании, Вы сможете получить 
            strong качественный материал
            | , существенно сэкономив свои финансы.
          p
            | Обязательно изучите цены на натуральные волосы для наращивания, ведь у нас только лучшие предложения!
          // //Волосы для наращивания цены
          p  
          h2#volosy-ombre Цены на волосы омбре
          h3 Волосы славянские омбре на кератиновой капсуле (не перебранные по длинам)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за упаковку (20 прядей)
              tr
                td до 40 см
                td 2740 руб.
              tr
                td до 45 см
                td 2900 руб.
              tr
                td до 50 см
                td 3410 руб.
              tr
                td до 55 см
                td 3586 руб.
              tr
                td до 60 см
                td 4356 руб.
              tr
                td до 65 см
                td 4532 руб.
              tr
                td до 70 см
                td 5808 руб.
              tr
                td до 75 см
                td 7260 руб.
              tr
                td до 80 см
                td 7986 руб.
              tr
                td до 85 см
                td 8162 руб.
          h3 Славянские волосы омбре в пучках (срезе) (неперебранные, окрашенные)
          table.table-price
            tbody
              tr
                th Длина
                th Стоимость (за 100 гр.)
              tr
                td До 40 см
                td 15 972 руб.
              tr
                td До 45 см
                td 16 698 руб.
              tr
                td До 50 см
                td 19 466 руб.
              tr
                td До 55 см
                td 21 363 руб.
              tr
                td До 60 см
                td 23 559 руб.
              tr
                td До 65 см
                td 24 158 руб.
              tr
                td До 70 см
                td 27 343 руб.
              tr
                td До 75 см
                td 28 003 руб.
              tr
                td До 80 см
                td 28 661 руб.
              tr
                td До 85 см
                td 29 543 руб.
          h3 Волосы славянские омбре в трессе (натуральные волосы славянского типа, окрашенные)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 шт. (вес тресса 100 грамм)
              tr
                td До 40 см
                td 20 328 руб.
              tr
                td До 45 см
                td 23 460 руб.
              tr
                td До 50 см
                td 25 356 руб.
              tr
                td До 55 см
                td 27 552 руб.
              tr
                td До 60 см
                td 28 151 руб.
              tr
                td До 65 см
                td 28 851 руб.
              tr
                td До 70 см
                td 32 395 руб.
              tr
                td До 75 см
                td 33 053 руб.
              tr
                td До 80 см
                td 33 712 руб.
          h3 Волосы омбре на заколках (натуральные волосы славянского типа, окрашенные)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 шт. (вес набора 100 - 120 грамм)
              tr
                td До 40 см
                td 18651 руб.
              tr
                td До 45 см
                td 20601 руб.
              tr
                td До 50 см
                td 22551 руб.
              tr
                td До 55 см
                td 24346 руб.
              tr
                td До 60 см
                td 26484 руб.
              tr
                td До 65 см
                td 28410 руб.
              tr
                td До 70 см
                td 32364 руб.
              tr
                td До 75 см
                td 34458 руб.
              tr
                td До 80 см
                td 36603 руб.
          h3 Волосы омбре на лентах (натуральные волосы славянского типа, окрашенные)
          table.table-price
            tbody
              tr
                th Длина, см
                th Стоимость за 1 шт. (вес набора 100 - 120 грамм)
              tr
                td До 40 см
                td 4 719 руб.
              tr
                td До 45 см
                td 4 901 руб.
              tr
                td До 50 см
                td 5 990 руб.
              tr
                td До 55 см
                td 6 389 руб.
              tr
                td До 60 см
                td 6 688 руб.
              tr
                td До 65 см
                td 7 087 руб.
              tr
                td До 70 см
                td 7 487 руб.
              tr
                td До 75 см
                td 7 886 руб.
              tr
                td До 80 см
                td 8 285 руб.
          // Цены на инструменты для наращивания
          h2#instrumenty-dlja-narashhivanija.roznichnii-price__second-title Материалы и инструменты для наращивания волос
          p
            | В магазине "Волосы 24" существует накопительная система скидок для розничных покупателей и большие скидки на оптовые закупки на выгоднях условиях!
          h3(style='text-align: center;')
            a(href='shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/instrumenty/') Инструменты для наращивания волос
          table.table-price.table-price--uncentered
            tbody
              tr
                th Наименование
                th Цена
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/apparat-dlya-goryachego-narashchivaniya/') Аппарат для горячего наращивания
                td 2 200 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shchiptsy-dlya-formirovaniya-kapsul-4-mm/') Щипцы для формирования капсул 4 мм или 6 мм
                td 880 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shchiptsy-dlya-snyatiya-naroshchennykh-volos/') Щипцы для снятия нарощенных волос
                td 880 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shchiptsy-3-v-1/') Щипцы 3 в 1
                td 1 320 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shipzy-dlya-formirovania-kapsul-4-mm-mizuka/') Щипцы для формирования капсул 2,5 мм, 4 мм, 6 мм (Mizuka)
                td 1 300 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shipzy-dlya-snitia-mizuka/') Щипцы для снятия нарощенных волос (Mizuka)
                td 1 300 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shipzy-dlya-snatia-metall-mizuka/') Щипцы для снятия нарощенных волос металл (Mizuka)
                td 1 680 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/shipzy-dlya-snatia-metall-mizuka/') Щ
                  | ипцы "3 в 1" для создания и снятия капсул (Mizuka)
                td 1 300 руб.
              tr
                td Щипцы для формирования плоских капсул "3 в 1" (Mizuka)
                td 1 300 руб.
              tr
                td Щипцы для формирования "2 в 1" (Mizuka)
                td 1 300 руб.
              tr
                td
                  | Щипцы для формирования и снятия 
                  span(style='color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;', data-mce-mark='1') "2 в 1" (Mizuka)
                td 1 300 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/aksessuary/zashchitnyj-disk-protektor/') Диск защитный
                td 44 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/aksessuary/rascheska-dlya-naroshchennykh-volos-bolshaya/') Расческа для нарощенных волос большая
                td 386 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/aksessuary/rascheska-dlya-naroshchennykh-volos-bolshaya/') Расческа для нарощенных волос малая
                td 352 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/karda-dlya-raboty-so-srezom/') Карда для работы со срезом
                td 2 200 руб.
              tr
                td
                  a(href='instrumenty/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/karda-dlya-raboty-so-srezom-bolshaya/') Карда для работы со срезом (большая)
                td 8 000 руб.
              tr
                td
                  a(href='instrumenty/instrumenty-i-materialy-dlya-narashchivaniya-volos/instrumenty/karda-dlya-raboty-so-srezom-bolshaya/') П
                  | алитра из натуральных волос, 54 цвета
                td
                  | 8 000 руб
                  strong *
                  | .
          p
            strong *
            | Розничная цена при заказе только одной палитры волос, при оформлении оптового заказа цена на палитру будет существенно ниже. По всем вопросам обращайтесь к нашим сотрудницам.
          p  
          h3(style='text-align: center;')
            a(href='shop/instrumenty-i-materialy-dlia-narashchivaniia-volos/materialy/') Материалы для наращивания волос
          table.table-price.table-price--uncentered
            tbody
              tr
                th Наименование
                th Цена
              tr
                td
                  strong Кератин прозрачный, Италия
                td
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 5 грамм)
                td 110 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 10 грамм)
                td 186 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 20 грамм)
                td 330 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 50 грамм)
                td 880 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 100 грамм)
                td 100 650 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 250 грамм)
                td 3 850 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 500 грамм)
                td 7 700 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/keratin-prozrachnyj/') Кератин в гранулах (1 упаковка 1 кг)
                td 15 400 руб.
              tr
                td
                  strong Кератин цветной (черный, темно-коричневый, светло-коричневый), Италия
                td
              tr
                td Кератин в гранулах (1 упаковка 5 грамм)
                td 164 руб.
              tr
                td Кератин в гранулах (1 упаковка 10 грамм)
                td 252 руб.
              tr
                td Кератин в гранулах (1 упаковка 20 грамм)
                td 440 руб.
              tr
                td Кератин в гранулах (1 упаковка 50 грамм)
                td 990 руб.
              tr
                td Кератин в гранулах (1 упаковка 100 грамм)
                td 1 650 руб.
              tr
                td Кератин в гранулах (1 упаковка 250 грамм)
                td 3 300 руб.
              tr
                td Кератин в гранулах (1 упаковка 500 грамм)
                td 5 500 руб.
              tr
                td Кератин в гранулах (1 упаковка 1 кг)
                td 11 000 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/lenty-dlya-korrektsii-lentochnogo-narashchivaniya/') Ленты для коррекции ленточного наращивания, ширина 3 см (20 шт./1 уп.)
                td 105 000 500 руб.
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/lenty-dlya-korrektsii-lentochnogo-narashchivaniya-shirina-1cm/') Ленты для коррекции ленточного наращивания, ширина 1 см (60 шт./1 уп.)
                td 500 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-narashchivaniya-volos/materialy/zhidkost-dlya-snyatiya-naroshchennykh-volos-remuver/') Жидкость для снятия нарощенных волос
                td 300 руб.
              tr
                td Маска для нарощенных волос, 250 мл.
                td 500 руб.
          h3(style='text-align: center;')
            a(href='shop/instrumenty-dlia-ukladki-volos/') Инструменты для укладки волос
          table.table-price.table-price--uncentered
            tbody
              tr
                th Наименование
                th Цена
              tr
                td
                  a(href='shop/instrumenty-dlya-ukladki-volos/utyuzhok-dlya-vypryamleniya-volos-mini/') «Утюг» для выпрямления волос Loof Beauty
                td 1 100 руб.
              tr
                td
                  a(href='shop/instrumenty-dlya-ukladki-volos/gofre-mini/') «Гофрe» мини Loof Beauty
                td 1 100 руб.
          // //Цены на инструменты для наращивания
          p  
          // Цены на материалы для постижеров
          h2#materialy-dlja-postizherov.roznichnii-price__second-title Материалы и инструменты для постижерных работ
          h3(style='text-align: center;')
            a(href='shop/instrumenty-i-materialy-dlia-postizhernykh-rabot/instrumenty/') Инструменты для постижеров
          table.table-price.table-price--uncentered
            tbody
              tr
                th Наименование
                th Цена
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/karda-dlya-postizhernykh-rabot-osnovanie-i-kryshka/') Карда для крупных работ (основание+крышка)
                td 15 750 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/karda-dlya-postizhernykh-rabot-osnovanie/') Карда для крупных работ (основание)
                td 9 800 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/karda-dlya-postizhernykh-rabot-kryshka/') Карда для крупных работ (крышка)
                td 7 050 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/tress-bank/') Тресс банк
                td 8 800 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/ruchka-dlya-kryuchka/') Ручка для крючка
                td 440 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/kryuchok-dlya-tamburovki-1-2/') Крючок (размеры: 1-1, 1-2, 2-3, 3-4)
                td 100 руб.
              tr
                td
                  a(href='instrumenty/instrumenty-i-materialy-dlya-postizhernykh-rabot/instrumenty2013-05-04-17-40-43/ruchka-s-kruychkom/') Ручка с крючком (размеры: 1-2, 2-3, 3-4)
                td 500 руб.
          h3(style='text-align: center;')
            a(href='shop/instrumenty-i-materialy-dlia-postizhernykh-rabot/materialy/') Материалы для постижеров
          table.table-price.table-price--uncentered
            tbody
              tr
                th Наименование
                th Цена
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/tyul-dlya-postizhernykh-izdelij/') Основа для изделий "тюль" (монофиламент), 1х1 метр
                td 1 650 руб.
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/tyul-monofilament-dlya-postizhernykh-izdelij-0-2x1metr-0-5kh1-1metr/') Основа для изделий "тюль" (монофиламент), 0,5х1,1 метр
                td 1 380 руб.
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/tyul-monofilament-dlya-postizhernykh-izdelij-0-2x1metr/') Основа для изделий "тюль" (монофиламент), 0,2х1 метр
                td  440 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/aksessuary2013-05-04-17-52-09/grebeshok-dlya-postizhernykh-izdelij-chernyj/') Гребешок
                td 88 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/aksessuary2013-05-04-17-52-09/zakolki-minizazhimy-klipsy-dlya-izdelij-3-1-sm/') Заколочки (минизажимы) для изделий
                td 40 руб.
              tr
                td
                  p
                    a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/shapochka-osnova-dlya-parika-pod-tressy/') Шапочка-основа для парика под трессы (с тканевой полоской)
                  p Цвета: черная, коричневая, бежевая
                td 990 руб.
              tr
                td
                  p
                    a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/shapochka-osnova-dlya-parika-standartnaya/') Шапочка-основа для парика стандартная (с тканевой полоской)
                  p Цвета: черная, коричневая, бежевая
                td 1200 руб.
              tr
                td
                  p
                    a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/shapochka-osnova-dlya-parika-s-silikonovoj-poloskoj/')
                      | Шапочка-основа для парика (с натуральной фронтальной линией, с силиконовой полоской)
                  p Цвета: черная, коричневая, бежевая
                td 1 600 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/osnova-dlya-nakladki-na-temennuyu-zonu/') Основа для накладок (с бежевой вставкой для пробора или без)
                td 1 650 руб.
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/osnova-dlya-nakladki-na-temennuyu-zonu/') Основа для накладок (мелкая сетка, мягкая)
                td 600 руб.
              tr
                td
                  a(href='shop/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/korotyshi-i-perevertyshi-dlya-izgotovleniya-izdelij-prodayutsya-na-ves/') Коротыши и перевертыши до 30 см
                td 1100 руб./100 грамм
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/korotyshi-i-perevertyshi-dlya-izgotovleniya-izdelij-do-45cm-prodayutsya-na-v/') Коротыши и перевертыши до 45 см
                td 2000 руб./100 грамм
              tr
                td
                  a(href='materialy/instrumenty-i-materialy-dlya-postizhernykh-rabot/materialy2013-05-04-17-48-00/korotyshi-i-perevertyshi-dlya-izgotovleniya-izdelij-bolee-45cm-prodayutsya-na-ves/') Коротыши и перевертыши более 45 см
                td 3000 руб./100 грамм
