extends /blocks/layout/layout

block content
  .container
    .content
      //- table
      //-   tbody
      //-     tr
      //-       td(style='width: 200px;')
      //-         span.uslugi
      //-           a(title='Наращивание волос', href='uslugi/narashchivanie-volos/')
      //-             img(alt='Наращивание волос', src='images/stories/service_3m.jpg')
      //-       td(style='vertical-align: middle;')
      //-         a(title='Обучение наращиванию волос', href='uslugi/narashchivanie-volos/') Наращивание волос
      //-     tr
      //-       td(style='width: 200px;')
      //-         span.uslugi
      //-           a(title='Капсуляция волос', href='uslugi/kapsuliatciia-volos/')
      //-             img(alt='Капсуляция волос', src='images/stories/kapsulizia_volos.jpg')
      //-       td(style='vertical-align: middle;')
      //-         a(title='Капсуляция волос', href='uslugi/kapsuliatciia-volos/') Капсуляция волос
      //-     tr
      //-       td(style='width: 200px;')
      //-         span.uslugi
      //-           a(title='Промышленное окрашивание волос', href='/uslugi/promyshlennoe-okrashivanie-volos/')
      //-             img(alt='Промышленное окрашивание волос', src='/images/stories/proizvodstvo/okrashennie_srezy_b.jpg')
      //-       td(style='vertical-align: middle;')
      //-         a(title='Промышленное окрашивание волос', href='/uslugi/promyshlennoe-okrashivanie-volos/') Промышленное окрашивание волос
      -
        var gal = {
          'images':[
            {'url':'/images/stories/service_3m.jpg', 'alt':'Наращивание волос','link':{
              'url':'uslugi/narashchivanie-volos/','text':'Наращивание волос'}
            },
            {'url':'/images/stories/kapsulizia_volos.jpg', 'alt':'Капсуляция волос','link':{
              'url':'uslugi/narashchivanie-volos/','text':'Капсуляция волос'}
            },
            {'url':'/images/stories/proizvodstvo/okrashennie_srezy_b.jpg', 'alt':'Промышленное окрашивание волос','link':{
              'url':'uslugi/narashchivanie-volos/','text':'Промышленное окрашивание волос'}
            },
          ]
        }
      
      .services-list
        each item in gal.images
          .services-list__item
            a(href= item.link.url).services-list__image
              img(src= item.url alt= item.alt)
            .services-list__name
              a(href= item.link.url) !{item.link.text}
              
        
