extends /blocks/layout/layout

include /blocks/table-price/table-price

block content
  .container
    .content
      +grid().page-cols
        //- +grid__item({'m':3,'xs':12}).page-cols__aside
        //- +grid__item({'m':9,'xs':12}).page-cols__main
        +grid__item({'m':12,'xs':12}).page-cols__main
          fieldset#rsform_7_page_0.formHorizontal.formContainer
            +grid({'align':'center','justify':'center'}).get-price
              +grid__item({'m':6,'xs':10}).get-price__left-side
                h3.get-price__title Получить актуальный прайс на почту
                p.get-price__text
                  | Отправим описание типов волос, цветов, размеров и цен на почту.
                  br
                  | Без спама.
              +grid__item({'m':4,'xs':12}).get-price__right-side
                .get-price__form
                  | {getPriceEmail:body}
                  | {getPricePhone:body}
                  | {getPriceButton:body}
                  | {getPriceEmail:validation}

      +grid({ 'justify':'center', 'padding-y':true })
        +grid__item({'m':4,'s':6,'xs':12}).wholesale-price-list
          h2 12% скидка для мастеров #[br] #[small (при предъявлении сертификата)]
          p Заказываете на сумму от 35 000 руб.#[br]Оплачиваете от 30 800 руб.#[br] #[strong экономия - от 4 200 руб.]
          p заказ может быть смешанным   
          .home-form(data-mrc-sh-body='areas-of-work').wholesale-price-list__form
            .home-form__title Заполните форму и мы вышлем ссылку на
              strong оптовый прайс
            +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='name' placeholder='Ваше имя').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='email' placeholder='Ваш email').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='tel' name='form[phone]' placeholder='Ваш телефон').form__input
              +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                button(type='submit').btn Получить прайс
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--checkbox
                input(type="checkbox").form__input
                label Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.
                
        +grid__item({'m':4,'s':6,'xs':12}).wholesale-price-list 
          h2 12% скидка для мастеров
          p Заказываете на сумму от 35 000 руб.#[br]Оплачиваете от 30 800 руб.#[br] #[strong экономия - от 4 200 руб.]
          p заказ может быть смешанным   
          .home-form(data-mrc-sh-body='areas-of-work').wholesale-price-list__form
            .home-form__title Заполните форму и мы вышлем ссылку на
              strong оптовый прайс
            +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='name' placeholder='Ваше имя').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='email' placeholder='Ваш email').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='tel' name='form[phone]' placeholder='Ваш телефон').form__input
              +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                button(type='submit').btn Получить прайс
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--checkbox
                input(type="checkbox").form__input
                label Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.

        +grid__item({'m':4,'s':6,'xs':12}).wholesale-price-list 
          h2 12% скидка для мастеров
          p Заказываете на сумму от 35 000 руб.#[br]Оплачиваете от 30 800 руб.#[br] #[strong экономия - от 4 200 руб.]
          p заказ может быть смешанным   
          .home-form(data-mrc-sh-body='areas-of-work').wholesale-price-list__form
            .home-form__title Заполните форму и мы вышлем ссылку на
              strong оптовый прайс
            +grid({tag:'form',justify: 'center', paddingy: true}).home-form__form
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='name' placeholder='Ваше имя').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='text' name='email' placeholder='Ваш email').form__input
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--input
                input(type='tel' name='form[phone]' placeholder='Ваш телефон').form__input
              +grid__item({m:6,xs:12}).home-form__item.home-form__item--submit
                button(type='submit').btn Получить прайс
              +grid__item({'m':10,'xs':12}).home-form__item.home-form__item--checkbox
                input(type="checkbox").form__input
                label Нажимая на кнопку, я даю свое <a href="/soglasheniya-na-obrabotku-personalnykh-dannykh/">согласие на обработку своих персональных данных</a>.
