extends /blocks/layout/layout

include /blocks/table-price/table-price

block content
  .container
    .content
      +grid().page-cols
        +grid__item({'m':3,'xs':12}).page-cols__aside
        +grid__item({'m':9,'xs':12}).page-cols__main
          fieldset#rsform_7_page_0.formHorizontal.formContainer
            +grid({'align':'center','justify':'center'}).get-price
              +grid__item({'m':6,'xs':10}).get-price__left-side
                h3.get-price__title Получить актуальный прайс на почту
                p.get-price__text
                  | Отправим описание типов волос, цветов, размеров и цен на почту.
                  br
                  | Без спама.
              +grid__item({'m':4,'xs':12}).get-price__right-side
                .get-price__form
                  | {getPriceEmail:body}
                  | {getPricePhone:body}
                  | {getPriceButton:body}
                  | {getPriceEmail:validation}
