.mobile-nav
  &__list
    display flex
    flex-direction column
    margin-left -(basePadding)
    margin-right -(basePadding)
    padding-x(basePadding)
    & > ^[-1]__item
      font-size font-s
      line-height line-s
      flex-grow 1
      position relative
      border-bottom .5px #cccccc solid
      display flex
      flex-wrap wrap
      align-items stretch
      > a
      > span
        text-decoration none
        border-bottom none
        padding font-s basePadding
        display inline-block
        width 100%
        color #000000
        transition .4s color, .4s background-color
      &--parent
        > a
        > span
          flex-basis calc(100% - 3rem)
  &__sublist
    display none
    flex-direction column
    background-color #f7f7f7
    width 100%
    &--display
      display flex
    & > ^[-1]__item
      font-size font-xs
      line-height line-xs
      display flex
      flex-wrap wrap
      align-items stretch
      a
      span
        text-align left
        padding font-xs basePadding
        display inline-block
        text-decoration none
        border-bottom none
        color #333333
        &:hover
          color #333333
      &--parent
        > a
        > span
          flex-basis calc(100% - 3rem)
    & ^[-1]__sublist
      background-color #ffffff
      margin-x basePadding
  &__parent-label
    width 3rem
    height calc(line-xs + (font-xs)*2)
    display flex
    justify-content center
    align-items center
    &::after
      content ''
      width font-m
      height font-m
      transform rotate(45deg)
      border-right .33rem solid #000000
      border-bottom .33rem solid #000000
      transition transform .4s
    &--active::after
      transform rotate(-135deg)
