nav.mobile-nav
  ul.mobile-nav__list
    li.mobile-nav__item.mobile-nav__item--parent
      a(href='#') Каталог
      label.mobile-nav__parent-label
      ul.mobile-nav__sublist
        li.mobile-nav__item.mobile-nav__item--parent
          a(href='#') Натуральные волосы для наращивания
          label.mobile-nav__parent-label
          ul.mobile-nav__sublist
            li.mobile-nav__item.mobile-nav__item--parent
              span Славянские волосы для наращивания
              label.mobile-nav__parent-label
              ul.mobile-nav__sublist
                li.mobile-nav__item
                  a(href='/') Славянские в срезе 
                li.mobile-nav__item
                  a(href='/') Славянские на капсулах
                li.mobile-nav__item
                  a(href='/') Славянские на капсулах
                li.mobile-nav__item
                  a(href='/') Славянские на капсулах

              span Цветные пряди
              label.mobile-nav__parent-label
              ul.mobile-nav__sublist
                li.mobile-nav__item
                  a(href='/') Красные
                li.mobile-nav__item
                  a(href='/') Красные
                li.mobile-nav__item
                  a(href='/') Красные

              span Оттенок
              label.mobile-nav__parent-label
              ul.mobile-nav__sublist
                li.mobile-nav__item
                  a(href='/') Коричневые (шатен, каштановый, шоколадный)
                li.mobile-nav__item
                  a(href='/') Белые (темный, средний, натуральный блонд)
                li.mobile-nav__item
                  a(href='/') Рыжие

              span Метод наращивания
              label.mobile-nav__parent-label
              ul.mobile-nav__sublist
                li.mobile-nav__item
                  a(href='/') Голливудское
                li.mobile-nav__item
                  a(href='/') Холодное
                li.mobile-nav__item
                  a(href='/') Горячее
        li.mobile-nav__item
          a(href='#') Инструменты и материалы для наращивания волос
        li.mobile-nav__item
          a(href='#') Инструменты для укладки волос
        li.mobile-nav__item
          a(href='#') Инструменты и материалы для постижерных работ
    li.mobile-nav__item.mobile-nav__item--parent
      a(href='#') О компании
      label.mobile-nav__parent-label
      ul.mobile-nav__sublist
        li.mobile-nav__item
          a(href='#') Славянские волосы
        li.mobile-nav__item
          a(href='#') Инструменты и материалы для наращивания волос
        li.mobile-nav__item
          a(href='#') Инструменты для укладки волос
    li.mobile-nav__item
      a(href='#') Услуги
    li.mobile-nav__item
      a(href='#') Наращивание
    li.mobile-nav__item
      a(href='#') Обучение
    li.mobile-nav__item
      a(href='#') Прайсы
    li.mobile-nav__item
      a(href='#') Информация
    li.mobile-nav__item
      a(href='#') Контакты
    li.mobile-nav__item
      a(href='#') Оптовикам
