-
  var coursesDetailList = [
    {
      "id":"hot-extention",
      "title":"Индивидуальный продвинутый курс горячего (капсульного) наращивания волос",
      "duration":"2 дня",
      "price":"12 000 руб.",
      titleShort: "Горячее наращивание",
      materials:"Стоимость материалов (волосы, кератин) оплачиваются моделью.",
      dates: ["25 января 2017 года", "1 марта 2017 года"],
      "photos":[
        "/images/obuchenie/course-1-1.jpg",
        "/images/obuchenie/course-1-2.jpg"
      ],
      "description": {
        "title": "Кератиновое наращивание",
        "text": "Самым популярным видом горячего наращивая является технология кератинового наращивания волос, у данной технологии наращивания есть наиболее распространенное название  – итальянское наращивание. Залог популярности этой технологии заключается в долговременном ношении наращенных волос. Этот вид наращивания направлен на визуальный объём и удлинение волос."
      },
      "sections":[
        {
          "title": {
            "count":"1 день",
            "body":"Теоретически-лекционная часть"
          },
          "subsections":[
            {
              "type":"list",
              "title":"История наращивания волос, история компании Волосы24 и ЦДВ",
              "items": [
                "Актуальные технологии наращивания волос, представленные на рынке: плюсы и минусы",
                "Виды волос (срезы, капсулы, ленты, трессы, накладки, парики)",
                "Типы волос ( REMY, NO REMY, SINGLE DRAWN и DOUBLE DRAWN)",
                "Методы обработки волос",
                "Трюки поставщиков - как выбрать качественные волосы",
                "Инструменты и материалы мастера по наращиванию - профессиональный опыт",
                "Противопоказания к наращиванию волос",
                "Профессиональная работа с клиенткой на наращивание: подбор структуры и качества волос, кол-во необходимых прядей"
              ]
            },
            {
              "type":"list",
              "title":"Эксклюзивное обучение: работа с кардой и срезом - 1 час",
              "items": [
                "Сортировка срезанных волос по длинам при помощи карды",
                "Смешивание цветов",
                "Как обеспечить минимальные потери волос и отсутствие перевертышей – 1 ч",
                "Капсуляция 2,5 ч"
              ]
            },
            {
              "type":"list",
              "title":"Отработка на манекене: наращивание и снятие капсул 0,5 ч",
              "items": [
                "Распределение прядей, зоны наращивания;",
                "Капсульное наращивание на манекене;",
                "Снятие капсул на манекене;",
                "Уход за наращенными волосами;",
                "Стрижка и окрашивание наращенных волос;"
              ]
            }
          ]
        },
        {
          "title": {
            "count":"2 день",
            "body":"Практическая часть"
          },
          "subsections":[
            {
              "type":"",
              "title":"Полноценное наращивание волос на модели  - 5 ч",
              "items": [
                "Работа с клиентом: диагностика, выбор стиля",
                "Подбор цветовой гаммы, волос по типу и структуре",
                "Распределение прядей, зоны наращивания",
                "Капсульное наращивание по итальянской технологии",
                "Уход за нарощенными волосами"
              ]
            }
          ]
        }
      ],
      diploma:"/images/obuchenie/sert.jpg"
    },
    {
      "id":"tress-extention",
      "title":"Индивидуальный продвинутый курс наращивания на трессе",
      "duration":"8 академ. часов",
      "price":"10000 руб.",
      "titleShort": "Наращивание на трессе",
      "materials":"Включены материалы для наращивания.",
      "dates": ["25 января 2017 года", "1 марта 2017 года"],
      "photos":[
        "/images/obuchenie/course-2-1.jpg",
        "/images/obuchenie/course-2-2.jpg"
      ],
      "description": {
        "title":"Наращивание на трессе (голливудское наращивание)",
        "text":"Технология голливудского наращивания только начинает набирать популярность среди красавиц нашей страны, у данной технологии есть и другие названия – африканское или трессовое наращивание волос.  Вид наращивания является недолговременной и абсолютно безопасным, которое никак не влияет отрицательным образом на структуру своих волос. "
      },
      "sections":[
        {
          "title": {
            "count":"1 час",
            "body":"Теоретическая  часть"
          },
          "subsections":[
            {
              "type":"list",
              "title":"История наращивания волос. История компаний Волосы 24 и ЦДВ",
              "items": [
                "Актуальные технологии наращивания волос, представленные на рынке: плюсы и минусы",
                "Виды волос (срезы, капсулы, ленты, трессы, накладки и парики)",
                "Типы волос (Remy, No Remy, single drawn, double drawn, славянские, южно-русские, европейские, азиатские)",
                "Методы обработки волос",
                "Трюки поставщиков: как выбрать качественные волосы",
                "Инструменты и материалы мастера по наращиванию - профессиональный опыт",
                "Противопоказания к наращиванию волос"
              ]
            }
          ]
        },
        {
          "title": {
            "count":"6 часов",
            "body":"Практическая часть"
          },
          "subsections":[
            {
              "type":"list",
              "title":"Профессиональная работа с клиенткой по наращиванию волос: подбор структуры и количества волос для наращивания",
              "items": [
                "Работа с кардой и срезом",
                "Сортировка срезанных волос по длинам при помощи карды",
                "Смешивание цветов",
                "Как обеспечить минимальные потери волос и отсутствие перевертышей",
                "Изготовление ручного тресса на трессбанке",
                "Различные методы крепления (накладки, стрипы, трессы)"
              ]
            }
          ]
        }
      ],
      diploma:"/images/obuchenie/sert.jpg"
    },
    {
      "id":"individual",
      "title":"Индивидуальный продвинутый курс по ленточному наращиванию",
      "duration":"3 академ. часа",
      "price":"3 000 руб.",
      titleShort: "Ленточное наращивание",
      materials:"Включены материалы для наращивания.",
      dates: ["25 января 2017 года", "1 марта 2017 года"],
      "photos":[
        "/images/obuchenie/course-3-1.jpg",
        "/images/obuchenie/course-3-2.jpg"
      ],
      "description":{
        "title":"Ленточное наращивание",
        "text":"Данная технология наращивания волос относится к холодному виду наращивания. Волосы не страдают от термического воздействия. Этот вид наращивания направлен на визуальное удлинение своих волос. Волосы на лентах наращивают  сравнительно на недолгий срок, но для многих это является одним из весомых  плюсов данной технологии."
      },
      "sections":[
        {
          "title": {
            "count":"1 час",
            "body":"Теоретическая  часть"
          },
          "subsections":[
            {
              "type":"list",
              "title":"История наращивания волос. История компаний Волосы 24 и ЦДВ",
              "items": [
                "Актуальные технологии наращивания волос, представленные на рынке: плюсы и минусы",
                "Виды волос (срезы, капсулы, ленты, трессы, накладки и парики)",
                "Типы волос (Remy, No Remy, single drawn, double drawn, славянские, южно-русские, европейские, азиатские)",
                "Методы обработки волос",
                "Трюки поставщиков: как выбрать качественные волосы",
                "Инструменты и материалы мастера по наращиванию - профессиональный опыт",
                "Противопоказания к наращиванию волос"
              ]
            }
          ]
        },
        {
          "title": {
            "count":"2 часа",
            "body":"Практическая часть"
          },
          "subsections":[
            {
              "type":"list",
              "title":"Работа с клиенткой: подбор по цвету, по структуре и количеству волос для наращивания",
              "items": [
                "Работа на болванке",
                "Оптимальное расположение лент, оптимальное количество",
                "Ленточное наращивание + снятие 1 ч",
                "Коррекция лент"
              ]
            }
          ]
        }
      ],
      diploma:"/images/obuchenie/sert.jpg"
    }
  ]
section.training-details
  ul.training-details__list
    each item in coursesDetailList
      li
        .training-details__item
          .training-details__count №
          h2.training-details__title.training-section__header= item.title
          +grid({'tag':'ul'}).training-details-gallery
            each photo in item.photos
              +grid__item({'tag':'li','m':6,'s':6,'xs':12})
                .training-details-gallery__image
                  img(src= photo)
          .training-details__description
            p
              strong !{item.description.title}
            p !{item.description.text}
          each section in item.sections
            .training-details__section
              h3
                span= section.title.count
                != section.title.body
              ul.training-details__subsections
                each subsection in section.subsections
                  li.training-details__subsection
                    if subsection.title
                      h4= subsection.title
                    ul.list-marked
                      each item in subsection.items
                        li!= item
          .training-details__sertificate
            img(src= item.diploma alt='')
        .training-form
          h3.training-form__header_marked
            strong Стоимость
            |  курса «!{item.titleShort}»
          p.training-form__duration-price !{item.duration} - !{item.price}
          p.training-form__materials= item.materials
          +grid({'tag':'form', 'justify': 'center'})
            +grid__item({'m':4,'xs':12}).training-form__col
              .training-form__col-header Выберите дату
              .training-form__dates
                each date in item.dates
                  label
                    input(type='radio', name=training-form__date required)
                    |  !{date}
            +grid__item({'m':8,'xs':12}).training-form__col
              .training-form__col-header Ваш номер телефона
              .training-form__phone-submit
                input(type='tel' required).form__input
                button(type='submit').btn Записаться
          p.training-form__coffee-break Обучение проходит с перерывом на кофе-брейк
