.banner-training.training-section
  .banner-training__title Акция!
  .banner-training__info Стартовый набор инструментов для мастера <strong>в подарок</strong> за обучение горячему капсульному наращиванию!
  a(href='/aktsii/startovyj-nabor-mastera-po-narashchivaniyu/').banner-training__button.btn Подробнее
