.banner-training
  position relative
  display flex
  flex-direction column
  align-items flex-start
  padding 3rem 1.5rem
  background-image image-set(url('../images/action-banner--training.webp') 1x, url('../images/action-banner--training@2x.webp') 2x)
  background-repeat no-repeat
  background-position center
  background-size cover
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 50%
    height 50%
    background-image image-set(url('../images/action-banner--training_before.webp') 1x, url('../images/action-banner--training_before@2x.webp') 2x)
    background-repeat no-repeat
    background-size contain
  &::after
    content ''
    position absolute
    top 3rem
    right 10%
    width 59px
    height 59px
    background-image url(../images/svg-sprites/common.svg#action-banner-gift)
    background-repeat no-repeat
    background-size contain
    @media (max-width point-l - 1)
      top 2rem
      right .75rem
  &__title
    z-index 2
    font-size 2rem
    line-height 3rem
    text-transform uppercase
    color #B81F33
  &__info
    z-index 2
    width 24rem
    max-width 70%
    margin-top 1.5rem
    font-size 1.25rem
    line-height 1.5
    color #222222
    @media (max-width point-l - 1)
      font-size 1rem
  &__button
    z-index 2
    margin-top 2.125rem
    padding .75rem 2.5rem
