.product-guarantees
  @media screen and (max-width point-m)
    margin-bottom (basePadding*2)
  &__title
    font-weight bold
    margin-bottom font-s
  &__img
    margin-bottom font-s
  &__text
    font-size font-s
    line-height line-s
