.product-guarantees
  .product-guarantees__title Гарантия 30 дней
  .product-guarantees__img 
    img(src='/images/guarantees/4.jpg' alt='')
  .product-guarantees__text Отправим волосы в запечатанной коробке и дополнительно тестовую прядь. Получив волосы проверяете цвет и качество тестовой пряди. Если все устраивает — вскрываете основную коробку. Если нет — не вскрывая отправляете обратно.
