.logo
  a
    color #000000
    text-decoration none
    background url('../images/svg-sprites/rest.svg#logo') center no-repeat
    background-size cover
  &__text
    padding-top basePadding
    color #202020
    font-weight 500
    font-size font-l
    line-height line-s
    margin-left 2rem
    @media screen and (max-width point-s)
      font-size font-xxs
      font-weight normal
      line-height 1.25
      padding-left 0.875rem
      padding-top 2rem
