.logo
  display flex
  position relative
  a
    font-size font-xs
    // line-height line-xs
    color #000000
    text-decoration none
    border-bottom none
    background url('../images/logo.png') left top no-repeat
    background-size contain
    height 5rem
    width 12rem
    display inline-block
    @media screen and (-webkit-min-device-pixel-ratio 1.5), (min-resolution 1.25dppx), (min-width (point-s + 1))
      background url('../images/logo@2.png') left top no-repeat
      background-size contain
  &__text
    padding-top basePadding
    color #202020
    font-weight 500
    font-size font-l
    line-height line-s
    margin-left 2rem
    @media screen and (max-width point-s)
      font-size font-xxs
      font-weight normal
      line-height 1.25
      padding-left 0.875rem
      padding-top 2rem
