.cart-item
  display flex
  padding-y (basePadding*2)
  line-height line-m
  border-bottom 1px dotted #DAB686
  @media screen and (max-width point-m)
    flex-wrap wrap
  &__item
    padding-right basePadding
    &--info
      flex-grow 1
      @media screen and (max-width point-m)
        max-width calc(100% - 5rem)
    &--photo
      width 8rem
      @media screen and (max-width point-m)
        max-width 5rem
    &--price
      display flex
      margin-x -(basePadding/2)
      & > *
        padding-x (basePadding/2)
      @media screen and (max-width point-m)
        flex-grow 1
        padding-left 5rem
        align-items center
    &--delete
      width 1rem
      height line-m
      display flex
      align-items center
      text-align center
      margin-left (basePadding*2)
      @media screen and (max-width point-m)
        align-self center
        margin-left basePadding
      a
        display block
        width 1rem
        height 1rem
        background url('../images/basket-delete.png') no-repeat
        background-size contain
        opacity 0.5
        transition opacity 0.4s
        &:hover
          opacity 1
          transition none
    &:last-child
      padding-right 0
  &__name
    font-weight bold
    margin-bottom (font-m/2)
  &__clarification
    margin-bottom font-m
  &__custom
    display flex
    margin-x -(basePadding/2)
  &__count
    .form__input
      text-align center
      width (font-m*3)
      margin-top -(basePadding/3)
    .quantity-controls
      display none
    
  &__count-controls
    font-size font-xxl
    margin-x (basePadding/3)
    color #868686
    transition .4s color
    &:hover
      color #000000
      transition none
  &__price
    display flex
    flex-direction column
    text-align right
    width 10rem
    @media screen and (max-width point-m)
      width auto
      flex-grow 1
  &__total
    font-weight bold
  &__single-price
    font-size font-xs
    color #aaaaaa
  .vm-customfield-cart
    display flex
    align-items center
    padding-x (basePadding/2)
    margin-x -(basePadding)
    & > *
      padding-x (basePadding)
    & > [class^='product-field-type-']
      display flex
      align-items center
      margin-x -(basePadding/3)
      color #868686
      @media screen and (max-width point-m)
        margin-bottom (basePadding*2)
      & > *
        padding-x (basePadding/3)
