.cart-item
  .cart-item__item.cart-item__item--photo
    img(src='http://volosy24.ru/images/stories/virtuemart/product/sample_v_sreze_1.jpg')
  .cart-item__item.cart-item__item--info
    .cart-item__name Волосы для наращивания в срезе
    .cart-item__clarification упаковка 100 гр.
    .vm-customfield-cart
      span.product-field-type-I Длина: 35 см.
      br
      span.product-field-type-M
        | Цвет: 
        img(src='https://volosy24.ru/images/stories/virtuemart/palette/000.jpg' alt='светлый блонд пепельный' title='светлый блонд пепельный')
        span.vm-img-desc № 000, светлый блонд пепельный
      br
      span.product-field-type-V Категория волос: single drawn
  .cart-item__item.cart-item__item--price
    .cart-item__count
      form(action='/shop/cart/' method='post').quantity-controls-form
        label.cart-item__count-controls -
          input(type='button').quantity-controls.quantity-minus
        input(type='text' title='Обновить количество в корзине' size='3' maxlength='3' name='quantity' value='10').inputbox.product-fields.quantity-input.form__input
        label.cart-item__count-controls +
          input(type='button').quantity-controls.quantity-plus

        input(type='hidden' name='option' value='com_virtuemart')
        input(type='hidden' name='view' value='cart')
        input(type='hidden' name='task' value='update')
        input(type='hidden' name='cart_virtuemart_product_id' value='1871::8723:18;8678:22;')
        input(type='hidden' name='virtuemart_product_id[]' value='1871')
    .cart-item__price
      .cart-item__total 96 800 руб.
      .cart-item__single-price 1 шт. = 9 680 руб.
  .cart-item__item.cart-item__item--delete
    a(href='/shop/cart/delete/?cart_virtuemart_product_id=1871::8723:18;8678:22;') 
