.product-ask
  &__button
    margin-bottom basePadding
  &__switcher
    display none
    &:checked + ^[-1]__form
      display block
  &__form
    display none
    background-color #dfd3b4
    padding (basePadding*2)
  &__field
    display flex
    margin-bottom basePadding
    label
      width 8rem
      margin-right basePadding
    &--comment
      flex-direction column
      label
        width auto
        margin-bottom (basePadding/2)
      textarea
        height (line-m*4 + basePadding)
        padding (basePadding/2)
        line-height line-m
        resize none
  &__input
      flex-grow 1
      display flex
      flex-direction column
      align-items stretch
