.consultation-list-item
  margin-bottom (basePadding*2)
  padding basePadding
  background-color #fafafa
  border #f6f6f6 solid 1px
  &--new
    border 1px solid #f00
  &__header
    display flex
    flex-wrap wrap
    flex-direction column
    margin-x -(basePadding)
  &__title
    padding-x (basePadding)
    margin-bottom (basePadding/2)
    a
      font-weight bold
      // color #000000
      // text-decoration none
  &__top

    padding-x (basePadding/2)
    margin-bottom (basePadding/2)
    display flex
  &__category
    padding-x (basePadding)
    font-size font-s
    line-height font-s
    color #585858
    margin-bottom basePadding
  &__body
      font-size 1rem
  margin-bottom 1rem
  line-height 1.5rem
  &__author
    font-weight bold
    padding-x (basePadding/2)
  &__date
    padding-x (basePadding/2)
