mixin consListItem(item)
  -
    const itemClass = [
      'consultation-list-item',
      item.new ? 'consultation-list-item--new' : ''
    ]
  article(class != itemClass)
    header.consultation-list-item__header
      .consultation-list-item__top
        .consultation-list-item__author !{item.author}
        .consultation-list-item__date !{item.date}
      .consultation-list-item__category !{item.category}
      .consultation-list-item__title
        a(href='') !{item.title}
    .consultation-list-item__body !{item.question}
