.banner-march
  &.content
    padding 2rem 2rem 2rem 4.8rem
  display flex
  flex-direction column
  align-items flex-start
  @media(max-width point-m - 1)
    &.content
      padding 2rem 1.25rem 2rem 4.5rem
  @media(max-width point-s - 1)
    &.content
      padding 2rem 1.25rem 2rem 3.5rem
  &__duration
    margin-bottom 1rem
    font-size 1rem
    font-weight 700
    @media(max-width point-m - 1)
      margin-bottom 0.5rem
  &__promocode
    position relative
    padding-right 0.3rem
    font-weight 700
  &__clarification
    width 640px
    margin-bottom 3.25rem
    margin-left 1rem
    font-size 1.875rem
    line-height 1
    font-weight 700
    @media(max-width point-l - 1)
      width 570px
      line-height 1.5
    @media(max-width point-m - 1)
      width 100%
      margin-bottom 2rem
      font-size 1.5rem
      line-height 1.6
    & span
      font-size 2.875rem
      line-height 1
      font-weight 700
      @media(max-width point-l - 1)
        line-height 0.4
      @media(max-width point-m - 1)
        font-size 2.25rem
      @media(max-width point-s - 1)
        font-size 1.5rem
