.header-main-top
  background-color #f7f0ca
  background-image linear-gradient(to bottom, #f7f0ca 0%, #e6cda7 100%)
  border 1px solid #dab686
  border-top none
  border-radius 0 0 0.33rem 0.33rem
  display flex
  align-items center
  margin 0 -0.75rem
  justify-content space-between
  &__item
    padding 0.75rem
  &__address
    font-size 0.8rem
    line-height 1.2rem
    text-align center
    color #444444
