.hair-extention-preparation
  &__item
    margin-bottom (basePadding*2)
    h3
      margin-bottom font-s
      padding-left 1.5rem
      padding-bottom font-s
      line-height 30px
      border-bottom 1px solid #dab686
      background url('/images/hair-extention/star.png') no-repeat left 2px
  &__subtitle
    font-family fontHeader
    font-style italic
    font-size font-l
