.training-products
  &__title
    margin-bottom 30px
    font-size 24px
    line-height 30px
    text-align center
  &__list
    list-style none
    counter-reset trainingProductsList
  .training-product
    margin-bottom (basePadding*2)
    counter-increment trainingProductsList
    h3
      display flex
      align-items center
      margin-bottom 20px
      font-size font-xl
      font-weight normal
      line-height line-xl
      &::before
        content counter(trainingProductsList)
        margin-right basePadding
        font-family fontHeader
        font-size (font-xl*2)
        line-height line-xl
    &__description
      padding-top basePadding
      position relative
      @media screen and (max-width point-m)
        order 2
      &::before
        $width = 'calc(100% - ' + (basePadding*2) + ')'
        content ''
        display block
        position absolute
        top 0
        left basePadding
        width unquote($width)
        border-top 1px solid #dcbb8e
    &__price
      padding basePadding (basePadding*2)
      background-color #fefcf7
      border 1px solid #dab686
    &__image
      @media screen and (max-width point-m)
        order 1
        margin-bottom basePadding
      img
        width 100%
