-
  var hairExtentionTypes = [
    {
      "id":"hot-extention",
      "title":"Капсульное (горячее) наращивание",
      "description":`
        <p>В данной технологии используются пряди волос с капсулами.</p>
        <p>Позволяет наращивать волосы при короткой длине своих волос от 6-8 см. А также можно наращивать волосы в зоне челки при помощи микрокапсул.</p>
        <p>Можно экспериментировать с цветом волос по длине, добавляя прядки различных цветов, например, делать эффект мелирования.</p>`,
      "clarification":"Лучший выбор если вы планируете нарастить волосы на длительный период",
      "details":[
        "В среднем на голову требуется 140 прядей;",
        "Коррекция каждые 3 месяца;",
        "Срок службы волос 8 - 12 месяцев;",
        "Время на процедуру 2-4 часа."
      ],
      "photo":"type-1"
    },




    {
      "id":"tape-extention",
      "title":"Ленточное (холодное) наращивание",
      "description":`
        <p>В данной технологии волосы на ленте крепятся посредством клеевой ленты.</p>
        <p>Актуально, если вы планируете посетить мероприятие и вам нужно срочно нарастить и привести волосы в порядок.</p>
        <p>Подойдет для девушек с небольшим объемом своих волос.</p>
        <p>Длина своих волос от 10 см.</p>
      `,
      "clarification":"Лучший выбор для обладательниц редких и тонких волос",
      "details":[
        "В среднем на голову требуется 40 лент;",
        "Коррекция каждые 1,5 - 2 месяца;",
        "Срок службы волос 6-8 месяцев;",
        "Время на процедуру 1-1,5 часа.",
      ],
      "photo":"type-2"
    },
    {
      "id":"tress-extention",
      "title":"Голливудское (холодное) наращивание",
      "description":`
        <p>В данной технологии волосы в трессах (накладные пряди) крепятся к собственным волосам, заплетенным в небольшие косички, посредством пришивания специальной нитью.</p>
        <p>Можно наращивать волосы близко к лицу и в области челки, что придает более естественный и натуральный вид прическе.</p>
        <p>При перекидывании волос на две стороны вперед, сзади абсолютно ничего не заметно.</p>
        <p>Не подойдет для девушек с редкими и ослабленными волосами.</p>
        <p>Длина своих волос от 10 см.</p>
      `,
      "clarification":"Лучший выбор для безопасности и здоровья своих волос",
      "details":[
        "В среднем на голову требуется 2 тресса: 30 и 20 см, общим весом около 100 грамм;",
        "Коррекция каждые 2 месяца;",
        "Срок службы волос: около 6-8 мес. (3-4 коррекции);",
        "Время на процедуру 2-3 часа.",
      ],
      "photo":"type-3"
    }
  ]




.hair-extention-section.hair-extention-types#hair-extention-section__how-to-choose
  h2.hair-extention-subheader Как выбрать тип наращивания?
  each type in hairExtentionTypes
    .hair-extention-types__item.hair-extention-type
      h3= type.title
      .hair-extention-type__inner
        +grid
          +grid__item({'m':5,'xs':12})
            .hair-extention-type__image
              - var photoSrc = '/images/hair-extention-2/' + type.photo + '.jpg'
              img(src= photoSrc alt= type.title)
            if type.time
              .hair-extention-type__time Время !{type.time}
          +grid__item({'m':7,'xs':12}).hair-extention-type__description
            p.hair-extention-type__description !{type.description}
            p.hair-extention-type__clarification= type.clarification
            if type.details.length
              ul.list-marked
                each item in type.details
                  li= item
