.wholesale-order.wholesale-section
  h2 Как заказать по оптовой цене
  +grid
    +grid__item({'m':9,'xs':12})
      ol.list-numbered
        li
          strong Отправьте заявку с сайта или позвоните
          | <br>Укажите в заявке свою почту и мы пришлем образец для оптового заказа.
        li
          strong Вам ответит наш менеджер по важным клиентам.
          | <br>Менеджер поможет оформить оптовый заказ.<br>И ответит на все ваши вопросы: о продукции, доставке, оплате.
        li
          strong Офомите оптовый заказ
          | <br>Пришлем образец оптового заказа, будут вопросы - ответим. Нужен договор - заключим.
        li
          strong Оплачиваете заказ
          | <br>Выставим счет на оплату, у нас 100% предоплата
        li
          strong Отправляем посылку транспортной компанией или подготавливаем заказ для самовывоза
          | <br>Сообщим номер отправления, сможете отслеживать месторасположение заказа
    +grid__item({'m':3,'xs':12})
      .wholesale-order__phone +7(499) 766-24-88
