.header-cart-module
  position absolute
  top line-xl
  right 0
  background #cf052b
  padding (basePadding*2)
  width 20rem
  z-index 20
  border-radius 0.25rem 0 0.25rem 0.25rem
  .active + &
    display block
  &__inner
    background-color #ffffff
    padding basePadding
    border-radius 0.25rem
  &__summary
    display flex
    margin-x -(basePadding/2)
    justify-content space-between
    padding-y basePadding
  &__price
  &__count
    padding-x (basePadding/2)
    color #ffffff
  &__open
    a.btn
      background-color #f9f3e3
      color #000000
      &:hover
        background-color #ffffff
