.header-cart-module
  .header-cart-module__inner
    include header-cart-item/header-cart-item
    include header-cart-item/header-cart-item
  .header-cart-module__summary
    .header-cart-module__count 2 товаров
    .header-cart-module__price Итого: 
      strong 11340 руб.
  .header-cart-module__open
    a(href='/shop/cart/').btn Показать корзину
