.hair-extention-section.hair-extention-masters
  h2.hair-extention-subheader Средний стаж мастеров салона — 12 лет
  .hair-extention-masters__description.hair-extention-masters__description--center
    p Мастера обучались в ведущих студиях и академиях: 
      strong Coiffure, Локон, Londa, Shwarzkopf, Wella.
      | <br>Сотрудники салона неоднократно участвовали в международном фестивале красоты 
      strong «Невские берега»
      | , крупнейшей в Европе парфюмерно-косметической выставке 
      strong Intercharm
      | .


  +grid
    +grid__item({'m':3,'xs':6}).hair-extention-masters__item
      .hair-extention-masters__image
        img(src='/images/hair-extention-2/darya-ivanova.jpg' alt='Дарья Иванова')
      .hair-extention-masters__name Дарья Иванова
    +grid__item({'m':3,'xs':6}).hair-extention-masters__item
      .hair-extention-masters__image
        img(src='/images/hair-extention-2/natalya-mihajlova.jpg' alt='Наталья Михайлова')
      .hair-extention-masters__name Наталья Михайлова
    +grid__item({'m':3,'xs':6}).hair-extention-masters__item
      .hair-extention-masters__image
        img(src='/images/hair-extention-2/irina-bogdanova.jpg' alt='Ирина Богданова')
      .hair-extention-masters__name Ирина Богданова
    +grid__item({'m':3,'xs':6}).hair-extention-masters__item
      .hair-extention-masters__image
        img(src='/images/hair-extention-2/ekaterina-smirnova.jpg' alt='Екатерина Смирнова')
      .hair-extention-masters__name Екатерина Смирнова
