.contacts-icon
  display inline-block
  line-height inherit
  padding-left (basePadding*1.5)
  background-size 1rem
  background-position left center
  background-repeat no-repeat
  &--viber
    background-image url('../images/viber.svg')
  &--whatsapp
    background-image url('../images/whatsapp.svg')
