.hair-extention-section.hair-extention-contacts
  h2.hair-extention-subheader Контакты
  +grid({'justify':'space-between', 'align':'center'}).hair-extention-contacts__row
    +grid__item({'m':5,'xs':12})
      .hair-extention-contacts__map
          img(src='/images/hair-extention/contacts-map.jpg')
    +grid__item({'m':4,'s':6,'xs':12})
      .hair-extention-contacts__contacts
        p Санкт-Петербург
          | <br>наб. Обводного канала д. 108
          | <br>ст. м. Фрунзенская (или Балтийская)
          p Режим работы: ежедневно с 10 до 21
          p.hair-extention-contacts__phone +7 (812) 385-01-51
    +grid__item({'m':3,'s':6,'xs':12})
      .hair-extention-contacts__entrance
        img(src='/images/hair-extention/contacts-entrance.jpg')
        span Вход
