.wholesale-get-price
  padding (basePadding*2)
  background-color #dfd3b4
  margin-bottom (basePadding*4)
  &__info
    line-height line-m
    font-size font-m
    @media screen and (max-width point-m)
      margin-bottom (basePadding*2)
  &__title
    font-size font-l
    line-height line-l
    font-weight bold
    margin-bottom (font-l/2)
  &__input
    margin-bottom (basePadding)
    display flex
    flex-wrap wrap
    justify-content center
    input, .validation-msg
      width 100%
      max-width 20rem
  &__submit
    display flex
    justify-content center
    .btn
      width 100%
      max-width 20rem
