.wholesale-header
  margin-bottom (basePadding*4)
  &__subheader
    font-size font-xl
    line-height line-xl
    font-family fontHeader
    margin-bottom (font-xl/2)
  &__clarification
    font-size font-s
    line-height line-s
  &__price
    display flex
    justify-content center
    align-items center
    .btn
      font-size font-s
      padding-y (basePadding/2)
