.product-feedback
  h2.product-subheader Отзывы клиентов
  .product-feedback__item.product-feedback__item--video
    .product-feedback__title Спасибо вам большое, что уделили мне столько времени!
    .product-feedback__body
      +grid
        +grid__item({'m':6,'xs':12})
          +iframe-responsive('<iframe src="https://vk.com/video_ext.php?oid=12685241&amp;id=171390821&amp;hash=0c0b2b76d678e157" allowfullscreen=""></iframe>')
        +grid__item({'m':6,'xs':12})
          p Спасибо вам большое, что уделили мне столько времени! У меня знакомая наращивала ваши волосы они вообще по качеству мне очень понравились. А я раньше всегда волосы покупала в хайр шопе и качество ужасное, волосы через неделю как старые становятся, а подруга сделала коррекцию второй раз вашими волосами и они как новые. Теперь буду у вас всегда заказывать!
          .product-feedback__author Марина, г. Москва
  .product-feedback__item
    .product-feedback__title Спасибо вам большое, что уделили мне столько времени!
    .product-feedback__body
      p Спасибо вам большое, что уделили мне столько времени! У меня знакомая наращивала ваши волосы они вообще по качеству мне очень понравились. А я раньше всегда волосы покупала в хайр шопе и качество ужасное, волосы через неделю как старые становятся, а подруга сделала коррекцию второй раз вашими волосами и они как новые. Теперь буду у вас всегда заказывать!
      .product-feedback__author Марина, г. Москва
  p
    a(href='/o-kompanii/otzyvy-o-kompanii-volosy-24/') Смотреть все отзвывы о продукции и компании
  .product-feedback__leave
    label(for='product-feedback__switcher').btn.product-feedback__button Оставить отзыв
    input(type='checkbox').product-feedback__switcher#product-feedback__switcher
    form(method="post" action="/shop/slavyanskie-volosy/volosy-dlya-narashivaniya-v-sreze/" name="reviewForm").form.product-feedback__form.validated-form#reviewform
      +grid
        +grid__item({'m':7,'xs':12}).product-feedback__field
          label(for='product-feedback__author') Имя: 
          .product-feedback__input
            input(type='text' name='author').form__input.validated.required#product-feedback__author
            span.validation-msg.validation-msg-required Поле обязательно
        +grid__item({'m':7,'xs':12}).product-feedback__field
          label(for='product-feedback__phone') Телефон: 
          .product-feedback__input
            input(type='tel' name='phone').form__input.validated.required#product-feedback__phone
            span.validation-msg.validation-msg-required Поле обязательно
        +grid__item({'m':7,'xs':12}).product-feedback__field
          label(for='product-feedback__email') E-Mail: 
          .product-feedback__input
            input(type='text' name='email').form__input.validated.required#product-feedback__email
            span.validation-msg.validation-msg-required Поле обязательно
        +grid__item({'m':7,'xs':12}).product-feedback__field
          label(for='product-feedback__theme') Тема: 
          .product-feedback__input
            input(type='text' name='theme').form__input.validated.required#product-feedback__theme
            span.validation-msg.validation-msg-required Поле обязательно
        +grid__item({'m':8,'xs':12}).product-feedback__field.product-feedback__field--comment
          label(for='product-feedback__comment') Пожалуйста напишите (краткий) отзыв....(мин. 5, макс. 2000 символов)
          .product-feedback__input
            textarea.form__input.inputbox.validated.required.min-chars.max-chars#product-feedback__comment
            span.validation-msg.validation-msg-required Поле обязательно
            span.validation-msg.validation-msg-min-chars Минимальное количество символов: <b>5</b>
            span.validation-msg.validation-msg-max-chars Максимальное количество символов: <b>2000</b>
      input(type="submit" name="submit_review" title="Добавить отзыв" value="Добавить отзыв").highlight-button.btn
