+grid.product-layout
  +grid__item({'m':4,'xs':12}).product-layout__left
    include ../product-photos/product-photos
    include ../product-guarantees/product-guarantees
  +grid__item({'m':8,'xs':12}).product-layout__right
    include ../product-main/product-main
