.home-form
  padding (basePadding*2)
  background linear-gradient(#ede5bf, #d6b384)
  border-radius (basePadding/3)
  &:not(:last-child)
    margin-bottom (basePadding*3)
  &__title
    font-weight bold
    margin-bottom (basePadding*2)
    text-align center
  &__item
    .form__input
      width 100%
    .btn
      padding 0.5rem 0.5rem
      font-size font-s
      width 100%
