include ../action-banner/action-banner

-
  var slides = [
    {
      'title':'Акция на карду для работы с волосами',
      'info':'',
      'clarification':'',
      'class':'aktsiya-na-kardu-dlya-raboty-s-volosami',
      'countDate':'2020, 02, 01',
      'countNum':'4',
      'background':'aktsiya-na-kardu-dlya-raboty-s-volosami'
    },
    {
      'title':'Подарок при покупке от 15000 руб.',
      'info':'',
      'clarification':'',
      'class':'podarok-pri-pokupke-ot-15000-rub',
      'countDate':'2020, 02, 01',
      'countNum':'5',
      'background':'podarok-pri-pokupke-ot-15000-rub'
    },
    {
      'title':'Распродажа инструментов для наращивания волос',
      'info':'',
      'clarification':'',
      'class':'rasprodazha-instrumentov-dlya-narashchivaniya-volos',
      'countDate':'2020, 02, 01',
      'countNum':'6',
      'background':'rasprodazha-instrumentov-dlya-narashchivaniya-volos'
    },
    {
      'title':'Скидка 25% на волосы для наращивания',
      'info':'',
      'clarification':'',
      'class':'skidka-25-na-volosy-dlya-narashchivaniya',
      'countDate':'2020, 02, 01',
      'countNum':'7',
      'background':'skidka-25-na-volosy-dlya-narashchivaniya'
    },
  ]
.home-slider.js-slider
  //- ul.home-slider__list.fotorama(data-width='100%' data-ratio='1064/288')
  ul.home-slider__list.js-slider__list
    each slide in slides
      li.home-slider__item.js-slider__item
        +action-banner(slide)
  
