.home-slider
  position relative
  // margin-x -(basePadding)
  margin-bottom (basePadding*2)
  &__list
    display flex
  .flex-nav-prev
  .flex-nav-next
    position absolute
    top 0
    width calc(4rem - 10px)
    height 100%
    background-color transparent
  .flex-next
  .flex-prev
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    transition .4s background-color, .4s box-shadow
    &::after
      width 1.75rem
      height 1.75rem
      border-left .5rem solid rgba(0,0,0,0.25)
      border-top .5rem solid rgba(0,0,0,0.25)
      transition .4s border
      content ''
    &:hover
      background-color rgba(255,255,255,0.125)
      transition none
      box-shadow 0 0 5px 5px rgba(255,255,255,0.125)
      &::after
        border-left .5rem solid rgba(0,0,0,0.5)
        border-top .5rem solid rgba(0,0,0,0.5)
        transition none
  .flex-nav-prev
    left 0
    .flex-prev::after
      transform translateX(25%) rotate(-45deg)
  .flex-nav-next
    right 0
    .flex-next::after
      transform translateX(-25%) rotate(135deg)
