.hair-extention-feedback
  background-color #f1f1f1
  padding 2rem 1.5rem
  margin-bottom 2rem
  &__item
    margin-bottom (basePadding*2)
  h2
    margin-top 0
    margin-bottom 1.5rem
    text-align center
  &__photo
    position relative
    order 2
    img
      width 100%
      display block
    &::after
      position absolute
      top 75%
      left 0
      transform translate(-100%, -50%)
      content ''
      width 2.5rem
      height 0.125rem
      display block
      background-color #000000
      z-index 2
      // @media screen and (max-width 1024px)
      //   top auto
      //   bottom 0
      //   left 50%
      //   transform translate( -50%, 100%)
      //   height 2.5rem
      //   width 0.125rem
    ^[-1]__item_large &
      order 1
      &::after
        right 0
        left auto
        transform translate(100%, -50%)
        content ''
        width 2.5rem
        height 0.125rem
        display block
        background-color #000000
        z-index 2
        @media screen and (max-width 1024px)
          top auto
          bottom 0
          left 50%
          transform translate( -50%, 100%)
          height 2.5rem
          width 0.125rem
    ^[-1]__item:nth-of-type(2n) &
      @media screen and (max-width 768px)
        order 3
    ^[-1]__item:nth-of-type(2n-1):not(^[-1]__item_large) &
      @media screen and (max-width 768px)
        order 1
        &::after
          top 75%
          left auto
          right 0
          transform translate(100%, -50%)
  &__info
    order 2
    @media screen and (max-width 768px)
      padding 1rem
  &__info-inner
    width 100%
    height 100%
    background-color #ffffff
    padding 1rem 2rem
  &__name
    margin-top 0
    margin-bottom 0.25rem
    font-size 1.25rem
    line-height 1.875rem
  &__clarification
    margin-bottom 1.5rem
    font-size 0.75rem
    text-transform uppercase
  &__info
    blockquote
      line-height 1.5rem
      p
        &:first-child
          &::before
            content '\201C'
            line-height 1.5rem
            transform scale(2)
            display inline-block
            margin-right .5rem
            // float left
        &:last-child
          &::after
            content '\201D'
            line-height 1.5rem
            transform scale(2)
            display inline-block
            margin-left .5rem
            // float left
