.hair-extention-feedback#hair-extention-feedback
  h2.hair-extention-subheader Нам доверяют известные люди
  +grid()
    +grid__item({xs:12}).hair-extention-feedback__item.hair-extention-feedback__item_large
      +grid()
        +grid__item({m:4,xs:12}).hair-extention-feedback__photo
          img(src='/images/hair-extention-2/feedback-2.jpg' alt='' title='')
        +grid__item({m:8,xs:12}).hair-extention-feedback__info
          .hair-extention-feedback__info-inner
            h3.hair-extention-feedback__name Глафира Козулина
            .hair-extention-feedback__clarification актриса театра и кино
            blockquote
              p Сейчас очень сложно найти своего мастера по волосам , так как выбор большой , салонов много.
              p Я рада , что я познакомилась с мастером Дашей из салона Волосы24.  Теперь если у меня возникают вопросы по уходу за волосами , я всегда обращаюсь к ней. 

    +grid__item({m:6,xs:12}).hair-extention-feedback__item
      +grid()
        +grid__item({m:6,xs:6}).hair-extention-feedback__info
          .hair-extention-feedback__info-inner
            h3.hair-extention-feedback__name Анна Кудимова
            .hair-extention-feedback__clarification участница ДОМ2
            //- blockquote Вы сделали мой день! 
        +grid__item({m:6,xs:6}).hair-extention-feedback__photo
          img(src='/images/hair-extention-2/feedback-1.jpg' alt='' title='')

    +grid__item({m:6,xs:12}).hair-extention-feedback__item
      +grid()
        +grid__item({m:6,xs:6}).hair-extention-feedback__info
          .hair-extention-feedback__info-inner
            h3.hair-extention-feedback__name Катя Король
            .hair-extention-feedback__clarification участница ДОМ2
            //- blockquote Вы сделали мой день!
        +grid__item({m:6,xs:6}).hair-extention-feedback__photo
          img(src='/images/hair-extention-2/feedback-3.jpg' alt='' title='')
