article.consultation-item
  header.consultation-item__header
    h1.consultation-item__title Цена клеевого набора
  .consultation-item__question
    .consultation-item__question-body Цена клеевого набора?)
    .consultation-item__question-footer
      .consultation-item__question-author Елена
      span |
      .consultation-item__question-date 10.01.2018
  .consultation-item__answer
    .consultation-item__answer-title Ответ
    .consultation-item__answer-header
      .consultation-item__answer-photo
        img(src='/images/consultation/expert-1.jpg') 
      .consultation-item__question-author Консультант компании
      
    .consultation-item__answer-body
      .consultation-item__answer-text 
        p Здравствуйте, Елена.
        p У нас имеются в наличии инструменты и материалы для горячего наращивания, а также материалы для холодного ленточного наращивания. 
        p Клеев для наращивания волос у нас нет в продаже. 
        p Какой именно клеевой набор Вас заинтересовал?
