.header-address
  p
    color #444444
    a
      text-decoration-style dashed
  &__tab
    cursor pointer
    color #333333
    border-radius 0 0 (basePadding/4) (basePadding/4)
    &:hover
      color #000000
    @supports (text-decoration-style dashed)
      text-decoration-style dashed
    &--active
      border-top 1px solid transparent
      color #333333
      background-color #fefaf1
      &:hover
        cursor default
      @supports (text-decoration-style dashed)
        text-decoration none
  &__item
    text-align center
    color #444444
