.header-address
  p
    strong: a(href='#header-cities' data-fancybox) Санкт-Петербург
    | <br>наб. Обводного канала д. 108
    | <br>ежедневно с 10 до 21
  #header-cities(style='display: none; min-width: 20rem;')
    h2 Выберите ваш город
    p(style='margin-bottom: 0')
      a(href='https://volosy24.ru') Санкт-Петербург
      br
      a(href='https://msk.volosy24.ru') Москва
    
