.header-address
  align-self stretch
  padding basePadding
  margin-left auto
  min-width 16rem
  p
    font-size font-xs
    line-height line-xs
    text-align center
    color #444444
    margin-bottom 0
    a
      display inline-block
      margin-bottom .375rem
      font-size font-m
      text-decoration-style dashed
  &__tabs
    display flex
    font-size font-s
    margin-bottom (basePadding/4)
  &__tab
    margin-right basePadding
    padding (basePadding/3) (basePadding/2)
    cursor pointer
    border 1px solid transparent
    color #333333
    border-radius 0 0 (basePadding/4) (basePadding/4)
    flex-shrink 0
    &:last-child
      margin-right 0
    &:hover
      color #000000
    @supports (text-decoration-style dashed)
      text-decoration underline
      text-decoration-style dashed
    &--active
      border 1px solid #dab686
      border-top 1px solid transparent
      color #333333
      background-color #fefaf1
      &:hover
        cursor default
      @supports (text-decoration-style dashed)
        text-decoration none
  &__contents
    // flex-grow 1
    margin-y auto
  &__item
    display none
    font-size font-xs
    line-height line-xs
    text-align center
    color #444444
    &--active
      display block
