.list-features
  margin-bottom (basePadding*3)
  &:last-child
    margin-bottom 0
  &__list
    margin-left 0
  &__item
    padding-left (basePadding*2)
    font-size font-m
    line-height line-m
    margin-bottom font-m
    border-left 3px solid transparent
    background-image svgImport('svg/feature.svg')
    background-size auto font-s
    background-repeat no-repeat
    background-position left ((line-m - font-s)/2)
    &:last-child
      margin-bottom 0
  &__item-title
    font-weight bold
    & + ^[-1]__item-body
      margin-top (font-m/4)
