.landing-header
  +grid({ 'justify': 'center' })
    +grid__item({m: 8, s: 10, xs: 12}): h1 Бесплатно
      br
      small Получите пошаговую инструкцию, как увеличить доход услуги наращивания в 2 раза!
    +grid__item({m: 6, s: 8, xs: 12}): ul.list-marked
      li Услуга наращивания малорентабельна?
      li Доходы салона упали?
      li Сложно конкурировать с мастерами на дому?
      li Теряете клиентов из-за некачественных материалов?
