.table-price
  font-size font-m
  line-height line-m
  text-align center
  width 100%
  margin-bottom (basePadding*2)
  th
    padding (basePadding/2) (basePadding)
    max-width 50%
    background-color #f5f5f5
    border-bottom 1px solid #dfdfdf
    font-size font-s
    line-height line-m
  td
    padding (basePadding/2) (basePadding)
    max-width 50%
    border-bottom 1px solid #dfdfdf
    &:nth-child(2)
      white-space nowrap
