.list-marked
  margin-bottom font-m
  padding-left (basePadding*3)
  font-size font-m
  line-height line-m
  > li
    margin-bottom (font-m/4)
    list-style disc
  &--w-prev-par
    margin-top -.75rem
