.home-announcement
  .content
    padding-y 0.5rem
    text-align center
    border-bottom 1px solid rgba(204,204,204,0.5);
  :last-child
    margin-bottom 0
  & + .home-section h1
    margin-top 0.5rem
