.home-discount
  display flex
  justify-content center
  &__body
    width 100%
    max-width 26rem
    background-color #f9eadd
    border-radius (basePadding/3)
    padding basePadding
    padding-left (basePadding*8)
    padding-right (basePadding*2)
    margin-bottom (basePadding*2)
    font-size font-l
    line-height 1.375
    font-weight 500
    background-image url('../images/percentage.svg')
    background-size (basePadding*5)
    background-repeat no-repeat
    background-position (basePadding/3*5) center
