.wholesale-properties
  +grid
    +grid__item({'m':4,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Выберите тип волос
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723') в срезе
        option(value='8724') на капсуле
    +grid__item({'m':4,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Длина
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723')  40см. (9680р.) 
        option(value='8724')  45см. (10120р.) 
    +grid__item({'m':4,'xs':12}).wholesale-properties__item
      .wholesale-properties__title Ваша скидка
      select(name='customPrice[][18]').wholesale-properties__select
        option(value='8723') 25%
        option(value='8723') 30%
        option(value='8724') 35%
  .wholesale-properties__item
    .wholesale-properties__title Цвет
    .wholesale-properties__list
      -
        var colors = [
          '1','1b','2','3','3b','4','4b','5','5b','6',
          '8','10','12','16','16b','18','19','20','20b','22',
          '22b','24','24b','28','33','33b','61','71b','77','81',
          '81b','83','87','88','810','91','903','97','135','135b',
          '201','602','613','100','000','110','110b','220','330','440',
          '550','660','990'
        ]
      each color, index in colors
        - var image = '/images/stories/virtuemart/palette/' + color + '.jpg'
        label.other-customfield
          if index === 0
            input(checked='checked' type='radio' value='8678' name='customPrice[0][22]')
          else
            input(type='radio' value='8678' name='customPrice[0][22]')
          span.other-customfield-dec
          img(src= image)
          span.vm-img-desc !{color}
          span.customPrice
