.wholesale-properties
  &__item
    margin-bottom (basePadding*2)
  &__title
    font-size font-m
    line-height line-m
    margin-bottom (font-m)
    font-weight bold
  &__list
    position relative
    margin -(basePadding/4)
    margin-bottom -(basePadding*2)
    padding-bottom 1rem
    display flex
    flex-wrap wrap
  .other-customfield
    display flex
    flex-direction column
    align-items center
    position relative
    margin (basePadding/4)
    margin-bottom (basePadding*2)
    width 40px
    input[type='radio']
      display none
      &:checked ~ .other-customfield-dec
        box-shadow 0 0 5px 1px #FF3300
        display block
        position absolute
        width 44px
        height calc(100% + 0.25rem)
        top -2px
        left -2px
    .vm-img-desc
      font-size font-s
    img
      margin-bottom (basePadding/2)
