-
  var hairExtentionTypes = [
    {
      "id":"hot-extention",
      "title":"Капсульное (горячее) наращивание",
      "description":"В данной итальянской технологии используются пряди волос с капсулами. Если пряди в срезе, волос капсулируются кератином, разделяются на пряди средним весом 1 грамм (вес различается в зависимости от длины волос и предпочтения мастера и клиента). Данный вид наращивания позволяет наращивать волосы при короткой длине своих волос от 6-8 см, а также можно наращивать волосы в зоне челки при помощи микрокапсул. При капсульном наращивании можно экспериментировать с цветом волос по длине, добавляя прядки различных цветов, можно, например, делать эффект мелирования.",
      "clarification":"Лучший выбор если вы планируете нарастить волосы на длительный период;",
      "details":[
        "Рекомендуемая длина волос 50 - 55 см;",
        "В среднем на голову требуется 140 прядей;",
        "Гарантия на работу мастера 1 месяц;",
        "Гарантия на качество волос во время носки 2-3 месяца;",
        "Коррекция каждые 3 месяца;",
        "Срок службы волос 8 - 12 месяцев;"
      ],
      "time":"2 - 4 часа",
      "photo":"type-1"
    },
    {
      "id":"tape-extention",
      "title":"Ленточное (холодное) наращивание",
      "description":"В данной технологии используются как славянские так и европейские волосы. При данном наращивании волосы крепятся посредством клеевой ленты. Эта технология лучший выбор для обладательниц редких и тонких волос. Так же, технология подойдет если вы планируете посетить мероприятие и вам нужно срочно нарастить и привести волосы в порядок. Данное наращивание подойдет для девушек с небольшим объемом своих волос. Наращивание волос по данной технологии возможно при условии, что длина своих волос от 10 см.",
      "clarification":"Лучший выбор для обладательниц редких и тонких волос. Так же, технология подойдет если вы планируете посетить мероприятие и вам нужно срочно нарастить и привести волосы в порядок;",
      "details":[
        "Рекомендуемая длина волос от 50 до 60 см;",
        "В среднем на голову требуется 40 лент;",
        "Гарантия на работу мастера 1 месяц;",
        "Гарантия на качество волос во время носки 2-3 месяца;",
        "Коррекция каждые 1,5 - 2 месяца;",
        "Срок службы волос 6-8 месяцев;"
      ],
      "time":"1 - 1,5 часа",
      "photo":"type-2"
    },
    {
      "id":"tress-extention",
      "title":"Голливудское (холодное) наращивание",
      "description":"При наращивании волос по данной технологии используются заранее подобранные трессы из натуральных волос.<br>Трессы подбираются необходимой ширины с подходящими по цвету волосами.Сразу после наращивания можно мыть голову.<br>При перекидывании волос на две стороны вперед, сзади абсолютно ничего не заметно, нет торчащих прядей.<br>Такая техника дает возможность проводить наращивание волос близко к лицу и в области челки, что придает более<br>естественный и натуральный вид прическе.Первые 3-4 дня не рекомендуется завязывать высокий хвост.<br>Не подойдет для девушек с редкими и ослабленными волосами. Наращивание волос по данной технологии возможно при условии, что длина своих волос от 10 см. ",
      "clarification":"Лучший выбор для безопасности и здоровья своих волос;",
      "details":[
        "В среднем на голову требуется 2 тресса: 30 и 20 см, общим весом около 100 грамм;",
        "Гарантия на работу мастера 1 месяц;",
        "Гарантия на качество волос во время носки 2-3 месяца (в случае выявления производственного брака); ",
        "Коррекция каждые 2 месяца;",
        "Длина наращиваемых волос сохраняется при коррекции;",
        "Срок службы волос: около 6-8 мес. (3-4 коррекции)."
      ],
      "time":"2 - 3 часа",
      "photo":"type-3"
    }
  ]
.hair-extention-section.hair-extention-types
  h2.hair-extention-subheader Как выбрать тип наращивания?
  each type in hairExtentionTypes
    .hair-extention-types__item.hair-extention-type
      h3= type.title
      .hair-extention-type__inner
        +grid
          +grid__item({'m':5,'xs':12})
            .hair-extention-type__image
              - var photoSrc = '/images/hair-extention/' + type.photo + '.jpg'
              img(src= photoSrc alt= type.title)
            .hair-extention-type__time Время !{type.time}
          +grid__item({'m':7,'xs':12}).hair-extention-type__description
            p.hair-extention-type__description !{type.description}
            p.hair-extention-type__clarification= type.clarification
            if type.details.length
              ul.list-marked
                each item in type.details
                  li= item
