.catalog-product
  position relative
  display flex
  flex-direction column
  align-items center
  @media(max-width point-l - 1)
    height 100%
  @media(min-width point-l)
    padding 0 1rem 1rem
    margin 0 -1rem
    &::after
      content ''
      position absolute
      width 100%
      height 100%
      box-shadow 0 0 0 1px #F7F0CA inset, 0px 8px 36px rgba(174, 172, 168, 0.7), 0px 4px 8px rgba(174, 172, 168, 0.05)
      opacity 0
      transition opacity 0.4s ease
      z-index -1
    &:hover::after
      opacity 1
      transition-duration 0.2s
    &:hover
      z-index 100
      background-color #ffffff
      & .catalog-product__buy
        display block
      & .catalog-product__image
        clip-path polygon(0% 0, 100% 0, 100% 100%, 0% 100%)
        transition clip-path 0.2s ease
  &__image
    & img 
      display block
    &:hover + .catalog-product__inner .catalog-product__link
      color #b81f33
    @media(min-width point-l)
      margin 0 -1rem
      clip-path polygon(6% 0, 94% 0, 94% 100%, 6% 100%)
      transition clip-path 0.4s ease
      & img 
        width 280px
  &__buy
    @media(min-width point-l)
      display none
  &__inner
    display flex
    flex-direction column
    justify-content space-between
    padding-top 1rem
    flex-grow 1
    @media(min-width point-l)
      height 170px
  &__description
    margin-bottom 0.5rem
    font-size 0.875rem
    line-height 1.2
  &__link
    font-weight 700
    color #222
    text-decoration none
    &:hover 
      color #b81f33
  &__features
    display flex
    align-items center
    margin-bottom 1rem
    column-gap 1.25rem
    @media(max-width point-l - 1)
      flex-direction column
      align-items flex-start
      row-gap 0.8rem
  &__color-block
    display flex
    align-items center
    gap 0.5rem
  &__length
  &__color
  &__clarification
    font-size 0.875rem
    line-height 1.2
    font-weight 700
    color #7D7D7D
  &__length
    position relative
    padding-left 1.875rem
    white-space nowrap
    &::before
      position absolute
      top -3px
      left 0
      content ''
      width 1.5rem
      height 1.5rem
      mask-image url(../images/svg-sprites/inner.svg#arrows)
      mask-repeat no-repeat
      mask-size cover
      mask-position center
      background-color #7D7D7D
  &__clarification
    width 35%
    font-size 0.75rem
    line-height 1.3
    text-align right
    @media(max-width point-l - 1)
      width 100%
      text-align left
  &__price-block
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between
    column-gap 0.5rem
    row-gap 0.2rem
    margin-bottom 1rem
  &__price
    font-size 1.25rem
    line-height 1
    font-weight 700
    color #222222
    text-align center
    white-space nowrap
  &__availability
    margin-bottom 0
    font-size 0.75rem
    line-height 1.3
    font-weight 700
    color #008000
