mixin iframe-responsive(code, description)
  -var src = 'https://www.youtube.com/embed/' + videoId
  .iframe-responsive
    .iframe-responsive__iframe
      | !{code}
    if description
      .iframe-responsive__desc !{description}
