.hair-extention-section.hair-extention-gallery
  .hair-extention-gallery__type
    .hair-extention-gallery__title Капсульное (горячее) наращивание волос
    +grid({'justify':'center'}).hair-extention-gallery__row
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-1-1.jpg' alt='Капсульное (горячее) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-1-2.jpg' alt='Капсульное (горячее) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-1-3.jpg' alt='Капсульное (горячее) наращивание волос')
  .hair-extention-gallery__type
    .hair-extention-gallery__title Ленточное (холодное) наращивание волос
    +grid({'justify':'center'}).hair-extention-gallery__row
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-2-1.jpg' alt='Ленточное (холодное) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-2-2.jpg' alt='Ленточное (холодное) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-2-3.jpg' alt='Ленточное (холодное) наращивание волос')
  .hair-extention-gallery__type
    .hair-extention-gallery__title Голливудское (холодное) наращивание волос
    +grid({'justify':'center'}).hair-extention-gallery__row
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-3-1.jpg' alt='Голливудское (холодное) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-3-2.jpg' alt='Голливудское (холодное) наращивание волос')
      +grid__item({'m':4,'s':6,'xs':12})
        .hair-extention-gallery__image
          img(src='/images/hair-extention/gallery-3-3.jpg' alt='Голливудское (холодное) наращивание волос')
