.hair-extention-gallery
  &__type
    padding 0 (basePadding*2)
    background-color #faeadd
    &:nth-of-type(2n)
      background-color #fefbf8
  &__title
    padding (basePadding*2) 0
    font-size font-xl;
    line-height line-xl
    text-align center
  &__image
    margin-bottom (basePadding*2)
    img
      display block
      width 100%
      border 0.3333rem solid #fff
