.highlighted-subtitle
  font-size font-l
  font-weight bold
  padding basePadding (basePadding/3*5)
  background-color #f9eadd
  border-left 3px solid #ad0a31
  margin-bottom (basePadding)
  &:not(:first-child)
    margin-top 2.25rem
