.highlighted-subtitle
  font-size font-l
  font-weight bold
  padding basePadding (basePadding/3*5)
  background-color #f9eadd
  border-left 3px solid #ad0a31
  margin-bottom (basePadding)
  &:not(:first-child)
    margin-top 2.25rem
  &--icon
    --icon none
    position relative
    padding-left 3.75rem
    &::before
      content ''
      position absolute
      top .25rem
      left .625rem
      width 2.375rem
      height 2.375rem
      background-image var(--icon)
      background-repeat no-repeat
      background-position center
      background-size contain
    &--control
      --icon url(../images/svg-sprites/home.svg#highlighted-subtitle--icon--control)
    &--hair
      --icon url(../images/svg-sprites/home.svg#highlighted-subtitle--icon--hair)
    &--technology
      --icon url(../images/svg-sprites/home.svg#highlighted-subtitle--icon--technology)
