-
  var reviews = [
    {
      "topic":"Волосы шикарные! Не путаются, гладкие, здоровые, упругие и самое главное-вообще нет вычеса!",
      "review":[
        "До этого также наращивала славянские волосы, но хочу сказать, что ваши волосы понравились намного больше! Трудно найти длинный блонд такого качества- чтобы не истонченный, не сеченый и не обламывался)",
        "Девочки, огромное спасибо!!! У вас замечательные волосы и отличные мастера по наращиванию, которым можно доверять на 100%, зная наперед, что результат будет просто шикарный!"
      ],
      "name":"Санкт-Петербург",
      "city":"Вероника"
    },
    {
      "topic":"Приобрела волосы 60 см, капсулированные)",
      "review":[
        "Очень боялась, что после мытья волосы запушатся и станут непослушными.<br>Прошло уже три помывки, волосы мягкие, волосок к волоску и выглядят очень натурально )<br>Подобрали идеально в цвет, сразу в салоне нарастили.<br>Спасибо Вам за качество и профессиональное обслуживание) Вы супер )))"
      ],
      "name":"Наталья",
      "city":"Санкт-Петербург"
    },
    {
      "topic":"Сегодня посетила Салон \"Волосы 24\", осталось море положительных впечатлений :)",
      "review":[
        "Очень переживала за качество волос, цвет и их наращивание. Поскольку волосы у меня двух цветов - крашенные концы и корни своего цвета, подобрать волосы было мягко скажем проблематично. Девочки-консультанты смешали два оттенка, за что громадное им спасибо, в том числе и по толщине волос просто отлично, т.к волос у меня тонкий.",
        "При наращивании, мастер отрезала с капсул лишнее, т.к. размер был большой, подогнала по длине моих волос - получилось очень красиво, ровно и главное небольшой размер капсулы -все очень аккуратно, за что спасибо мастеру - просто золотые руки :)"
      ],
      "name":"Ольга",
      "city":"Санкт-Петербург"
    }
  ]
.hair-extention-section.hair-extention-reviews
  h2.hair-extention-subheader Отзывы клиенток
  each review in reviews
    .hair-extention-review
      .hair-extention-review__title !{review.topic}
      each par in review.review
        p !{par}
      .hair-extention-review__author
        strong !{review.name},
        |  !{review.city}
