form.wholesale-vip-form
  .wholesale-vip-form__input
    label(for='getNameInput') Имя
    input( type='text' value='' size='20' name='form[getNameInput]')#getNameInput.rsform-input-box.form__input
  .wholesale-vip-form__input
    label(for='getCityInput') Город
    input( type='text' value='' size='20' name='form[getCityInput]')#getCityInput.rsform-input-box.form__input
  .wholesale-vip-form__input
    label(for='getPhoneInput') Телефон
    input( type='tel' value='' size='20' name='form[getPhoneInput]')#getPhoneInput.rsform-input-box.form__input
  .wholesale-vip-form__submit
    button(type='submit' name='form[getFormButton]').btn.rsform-submit-button#getFormButton Отправить
