.banner-love
  position relative
  padding 2rem 3.125rem 1.8rem
  overflow hidden
  @media(max-width point-l - 1)
    padding 2rem 1.25rem
  @media(max-width point-m - 1)
    padding 2rem 3.125rem
  @media(max-width point-s - 1)
    padding 2rem 1rem
  &__bg
    position absolute
  &__inner
    position relative
    @media(max-width point-m - 1)
      margin-left 9rem
    @media(max-width point-s - 1)
      margin-left 5rem
  &__title
    font-size 2rem
    line-height 1.4
    font-weight 700
    letter-spacing 0.02em
    text-transform uppercase
    @media(max-width point-m - 1)
      font-size 1.5rem
      line-height 1.3
    @media(max-width point-s - 1)
      font-size 1.125rem
      line-height 1.2
  &__container
    display flex
    column-gap 7rem
    @media(max-width point-m - 1)
      flex-direction column
      align-items center
  &__left
    position relative
    &::before
    &::after
      position absolute
  &__right
    @media(max-width point-m - 1)
      margin-top 1.5rem
  &__discount
    margin-bottom 0
    font-size 5rem
    line-height 1.1
    font-weight 700
    @media(max-width point-m - 1)
      font-size 4rem
      line-height 1.1
  &__promocode
    margin-bottom 0
    font-size 1.25rem
    line-height 1.6
    font-weight 700
    & span 
      display block
      font-size 1.5rem
      line-height 1.4
      font-weight 700
    @media(max-width point-m - 1)
      font-size 1rem
      & span 
        font-size 1.25rem
    @media(max-width point-s - 1)
      font-size 0.875rem
      & span 
        font-size 1rem
  &__duration
    position relative
    padding 1.4rem 1.25rem 2.8rem
    font-family 'Fira Sans', 'Arial', sans-serif
    font-weight 600
    &::before
      position absolute
    @media(max-width point-m - 1)
      position absolute
  &__btn
    padding 0.75rem 1.875rem
    font-weight 700
    @media(max-width point-m - 1)
      padding 0.75rem 1.25rem
