.banner-love
  background url(../images/banner-love/banner-love-bg-layer.webp), linear-gradient(180deg, #F9E5DC 0%, rgba(249, 229, 220, 0.54) 100%) 
  background-repeat no-repeat
  background-size contain
  background-position right center
  @media(max-width point-l - 1)
    background linear-gradient(180deg, #F9E5DC 0%, rgba(249, 229, 220, 0.54) 100%) 
  &__bg
    left 0
    top 0
    width 100%
    height 100%
    background-image image-set(url(../images/banner-love/bg_l.webp) 1x, url(../images/banner-love/bg_l@2x.webp) 2x)
    background-repeat no-repeat
    @media(max-width point-l - 1)
      background-image image-set(url(../images/banner-love/bg_m.webp) 1x, url(../images/banner-love/bg_m@2x.webp) 2x)
    @media(max-width point-m - 1)
      background-image image-set(url(../images/banner-love/bg_s.webp) 1x, url(../images/banner-love/bg_s@2x.webp) 2x)
      background-position left top 1rem
    @media(max-width point-s - 1)
      background-image image-set(url(../images/banner-love/bg_xs.webp) 1x, url(../images/banner-love/bg_xs@2x.webp) 2x)
      background-position left top 
  &__inner
    display flex
    flex-direction column
    align-items flex-end
    z-index 1
    @media(max-width point-m - 1)
      align-items center
  &__title
    @media(max-width point-m - 1)
      text-align center
  &__container
    @media(max-width point-m - 1)
      flex-direction column
      align-items center
  &__left
    &::before
    &::after
      content ''
      top -20%
      width 206px
      height 237px
      mask-repeat no-repeat
      mask-size cover
      background-color #EAC6B5
    &::before
      left -55%
      mask-image url(../images/svg-sprites/home.svg#banner-love-promocode-left)
    &::after
      right -55%
      mask-image url(../images/svg-sprites/home.svg#banner-love-promocode-right)
    @media(max-width point-m - 1)
      &::before
      &::after
        top -28%
        width 150px
        height 200px
      &::before
        left -62%
      &::after
        right -46%
    @media(max-width point-s - 1)
      &::before
        left -68%
  &__right
    @media(max-width point-m - 1)
      display flex
      align-items center
      justify-content space-around
  &__discount
    color #B81F33
  &__promocode
    & span 
      color #B81F33
  &__duration
    text-align center
    &::before
      content ''
      top -42%
      left -1%
      width 232px
      height 167px
      mask-image url(../images/svg-sprites/home.svg#banner-love-heart)
      mask-repeat no-repeat
      mask-size cover
      background-color #EAC6B5
      z-index -1
    @media(max-width point-m - 1)
      bottom 0
      left -8rem
      margin-bottom 0
      padding 1rem 0 2rem
      &::before
        top -60%
        left -50%
    @media(max-width point-s - 1)
      left -5rem
      font-size 0.875rem
      &::before
        top -44%
        left -48%
        width 190px
        height 143px
