.hair-extention-sign-bottom.hair-extention-section
  p.hair-extention-sign-bottom__title Скидка 5% на все услуги при записи с сайта!
  a(href='' data-name='наращивание').hair-extention-sign-bottom__button.btn Записаться на наращивание
