.hair-extention-sign-bottom
  padding (basePadding*2)
  background linear-gradient(#ede5bf, #d6b384)
  border-radius 4px
  display flex
  flex-direction column
  align-items center
  &__title
    margin-bottom basePadding
    font-family 'georgia', 'times new roman', sans
    font-size font-l
    font-weight bold
    line-height line-l
    text-align center
    max-width 42rem
  &__button
    padding basePadding (basePadding*2)
