.form
  &__input
    font-size font-m
    line-height line-m
    padding 0.25rem 0.5rem
    display inline-block
    border 0.5px solid #cccccc
    transition .4s box-shadow
    &::placeholder
      color #999999
      transition .4s color
    &:focus
      outline none
      box-shadow 0 0 3px 2px rgba(153,153,158,0.5)
      transition none
      &::placeholder
        color #cccccc
        transition none
    textarea&
      resize none
.validation-msg
  display none
  background-color #ef6673
  font-size font-s
  line-height line-s
  padding (font-s/4) basePadding
  color #ffffff
