nav.header-nav
  ul.header-nav__list
    li.header-nav__item.header-nav__item--parent
      a(href='#') Каталог
      ul.header-nav__sublist
        li.header-nav__item
          a(href='#') Натуральные волосы для наращивания
          .header-nav__sub-sublist
            +grid({ paddingy: true })
              +grid__item({ m:6 })
                span Славянские волосы для наращивания
                ul 
                  li.header-nav__item 
                    a(href='#') Славянские в срезе 
                  li.header-nav__item 
                    a(href='#') Славянские на капсулах
              +grid__item({ m:6 })
                span Цветные пряди
                ul 
                  li.header-nav__item 
                    a(href='#') Красные
                  li.header-nav__item 
                    a(href='#') Красные
              +grid__item({ m:6 })
                span Оттенок
                ul 
                  li.header-nav__item 
                    a(href='#') Коричневые (шатен, каштановый, шоколадный)
                  li.header-nav__item 
                    a(href='#') Белые (темный, средний, натуральный блонд)
                  li.header-nav__item 
                    a(href='#') Рыжие
              +grid__item({ m:6 })
                span Метод наращивания
                ul 
                  li.header-nav__item 
                    a(href='#') Голливудское
                  li.header-nav__item 
                    a(href='#') Голливудское
                  li.header-nav__item 
                    a(href='#') Голливудское
        li.header-nav__item
          a(href='#') Инструменты и материалы для наращивания волос
        li.header-nav__item
          a(href='#') Инструменты для укладки волос
        li.header-nav__item
          a(href='#') Инструменты и материалы для постижерных работ
    li.header-nav__item
      a(href='#') О компании
      ul.header-nav__sublist
        li.header-nav__item
          a(href='#') Славянские волосы
        li.header-nav__item
          a(href='#') Инструменты и материалы для наращивания волос
        li.header-nav__item
          a(href='#') Инструменты для укладки волос
        li.header-nav__item
          a(href='#') Инструменты и материалы для постижерных работ
    li.header-nav__item
      a(href='#') Услуги
    li.header-nav__item
      a(href='#') Наращивание
    li.header-nav__item
      a(href='#') Обучение
    li.header-nav__item
      span.separator Цены
    li.header-nav__item
      a(href='#') Информация
    li.header-nav__item
      a(href='#') Контакты
    li.header-nav__item
      a(href='#') Оптовикам
