.header-nav
  &__list
    display flex
    background-color #f7f0ca
    background-image linear-gradient(to bottom, #f7f0ca 0%, #e6cda7 100%)
    border 1px solid #dab686
    margin-left -(basePadding)
    margin-right -(basePadding)
    padding-x(basePadding)
    border-radius 0.1666rem
    flex-wrap wrap
    & > ^[-1]__item
      font-size font-s
      line-height line-s
      flex-grow 0
      position relative
      z-index 1
      border-right 1px solid #dab686
      &:last-child
        border-right none
      &:hover
        z-index 2
        & ^[-3]__sublist
          transform scale(1)
          transition none
          opacity 1
        > a
        > .separator
          color #ffffff
          background-color #e3012d
          transition none
      > a
      > .separator
        text-decoration none
        border-bottom none
        padding 0.5rem (basePadding)
        display inline-block
        width 100%
        text-align center
        color #000000
        transition .4s color, .4s background-color
  &__sublist
    display flex
    flex-direction column
    transform scale(0)
    transform-origin 0 0
    opacity 0
    transition .4s transform, .2s opacity
    position absolute
    top calc(2.25rem)
    left 0
    width 18rem
    background-color #e3012d
    padding 0 basePadding basePadding
    & > ^[-1]__item
      font-size font-s
      line-height line-s
      border-bottom 1px solid rgba(0,0,0,.1)
      
      a
        text-align left
        padding 0.375rem 0
        display inline-block
        text-decoration none
        border-bottom none
        color #ffffff
        &:hover
          color #ffa2b4
