.article-illustration
  display block
  max-width 100%
  margin-x auto
  margin-bottom (basePadding*2)
  &--wide
    width 40rem
  &--medium
    width 26rem
  &--small
    width 12rem
  &--float-left
    float left
    margin-left 0
    margin-right (basePadding*2)
    margin-bottom (basePadding*2)
    @media screen and (max-width point-s)
      float none
      margin-x auto
  &--border
    border 1px solid #f0f0f0
