ul.home-menu-info
  li.home-menu-info__item.home-menu-info__item--how-to-order
    a(href='/o-kompanii/udobnye-pokupki-s-volosy24/#about_zakaz') Как заказать
  li.home-menu-info__item.home-menu-info__item--how-to-pay
    a(href='/o-kompanii/udobnye-pokupki-s-volosy24/#about_oplata') Как оплатить
  li.home-menu-info__item.home-menu-info__item--delivery
    a(href='/o-kompanii/udobnye-pokupki-s-volosy24/#about_dostavka') Доставка
