.training-teachers
  &__list
    list-style none
  &__description
    margin-bottom basePadding
  .training-teacher
    margin-bottom (basePadding*2)
    &__description
      padding 0 (basePadding*2) (basePadding*2)
      background-color #f7f7f7
      @media screen and (max-width point-m)
        padding-x 0
    &__photo
      // padding-left 20px
      background-color #f7f7f7
      padding-top (basePadding*2)
      // flex 0 0 260px
      img
        border 0.25rem solid #fff
        box-shadow 0 0 2px #ddd
        width 100%
