-
  var consultationQuestions = [ 
    {
      'title':'Наращивание гелем',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Эльмира',
      'date':'05.04.2018 18:34',
      'question':'Здравствуйте ! Хочу заказать Le Cristal de Paris гель для наращивания. Есть ли он у вас в наличии',
      'new': true,
    },
    {
      'title':'Продам волосы на капсулах',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Елена',
      'date':'05.04.2018 18:27',
      'question':'Продам натуральные южно-русские волосы на кератиновых капсулах. 50 см цвет светло-пусый пшеничный.',
      'new': true,
    },
    {
      'title':'Цена клеевого набора',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Елена',
      'date':'10.01.2018 13:31',
      'question':'Цена клеевого набора?)',
      'new': true,
    },
    {
      'title':'Коса',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Света',
      'date':'12.01.2017 12:51',
      'question':'Добрый вечер! Хочу продать косу. Некрашенная. 40 см с небольшим. Срезана в 13 лет.СПб.',
      'new': true,
    },
    {
      'title':'Заказ волос',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Екатерина',
      'date':'09.11.2016 16:13',
      'question':'Здравствуйте! Подскажите пожалуйста, высылаете ли вы товар в другие города ( в данном случае в Сыктывкар), сколько данная услуга стоит и сколько занимает времени (непосредственная обработка заказа и д...'
    },
    {
      'title':'волосы (8)',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Юлия',
      'date':'09.11.2016 16:03',
      'question':'Вы отправляете волосы в другие города?'
    },
    {
      'title':'волосы (7)',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'екатерина',
      'date':'09.11.2016 15:55',
      'question':'Скажите, пожалуйста, могу ли я и как переделать волосы на трессе на волосы на ленте??? если использовать клей one touch и ленту для наращивания, у меня получится или есть какой нибудь другой метод?...'
    },
    {
      'title':'Как стать официальным представителем?',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Виктория',
      'date':'09.11.2016 15:41',
      'question':'Здравствуйте! Что необходимо сделать, чтобы стать официальным представителем вашей продукции?'
    },
    {
      'title':'натуральные цветные пряди для капсульного наращивания',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Аноним',
      'date':'04.08.2016 15:15',
      'question':'Здравствуйте, у вас есть натуральные цветные пряди для капсульного наращивания ?'
    },
    {
      'title':'волосы (4)',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Зоя',
      'date':'15.06.2016 15:47',
      'question':'Как заказать волосы?'
    },
    {
      'title':'Доставка',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Татьяна',
      'date':'13.05.2014 18:06',
      'question':'Добрый день. Не нашла на сайте информацию о доставке. Интересует стоимость доставки 120 капсул 45см. Благодарю.'
    },
    {
      'title':'заказать волосы, отправить,',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Елена',
      'date':'05.01.2013 19:32',
      'question':'Здравствуйте скажите пожалуйста можно заказать волосы в г.Волгоград почтой их отправить а мы оплатим как вам удобно или заранее или как придет поставка то прям на месте на почте и расчитаемся...'
    },
    {
      'title':'заказать славянские волосы 35-40 см кудрявые, палитру кудрявых светлых волос',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Наталия',
      'date':'08.11.2012 22:02',
      'question':'Здравствуйте!Я хотела бы заказать славянские волосы 35-40 см кудрявые.Оттенок блонд с небольшой желтизной.Или совсем без желтизны.Есть ли у вас такие в наличии?И где посмотреть палитру кудрявых светлы...'
    },
    {
      'title':'приобрести волосы, славянские, отличного качества',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Наталия',
      'date':'23.09.2012 14:45',
      'question':'Добрый день! Хочется приобрести волосы славянские до. 60-65см, блонд. Где гарантия, что они действительно славянские, а не южно0русские и отличного качества? Спасибо. Тула...'
    },
    {
      'title':'заказать у вас волосы, стоимость доставки, волосы для наращивания',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Катя',
      'date':'18.09.2012 05:31',
      'question':'Здравствуйте,у меня возник вопрос,я собираюсь заказать у вас волосы в начале октября и мне интересно с момента подтверждения заказа сколько дней нужно ждать когда они придут?И какая стоимость доставки...'
    },
    {
      'title':'высылаете волосы по почте, посылка, набор прядей для капсульного наращивания',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Татьяна',
      'date':'01.08.2012 09:08',
      'question':'Здравствуйте! Вы высылаете волосы по почте? Сколько идет посылка? Мне срочно нужен набор прядей для капсульного наращивания....'
    },
    {
      'title':'волосы славянские ВЬЮЩИЕСЯ 70 см желательно тёмные, капсульного наращивания',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'елена',
      'date':'05.07.2012 14:53',
      'question':'здравствуйте, меня интересуют волосы славянские ВЬЮЩИЕСЯ 70 см желательно тёмные, для капсульного наращивания. есть ли такие и если да, то стоимость какая?...'
    },
    {
      'title':'магазине приобрести просто 160 прядей для наращивания (капсульного)',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Анна',
      'date':'27.06.2012 18:58',
      'question':'Здравствуйте, можно ли в вашем магазине приобрести просто 160 прядей для наращивания (капсульного)??'
    },
    {
      'title':'45см примерно сколько грамм',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'Илона',
      'date':'04.06.2012 07:19',
      'question':'скажите,45см примерно сколько грамм?'
    },
    {
      'title':'volasi 60sm',
      'category':'Славянские волосы на кератиновой капсуле',
      'author':'nona-natali',
      'date':'21.04.2012 08:36',
      'question':'skolka stoit volasi 60sm'
    },
  ]
