.wholesale-section
  h2 Преимущества нашей продукции
  ul.list-marked
    li  Все этапы производственного процесса в соответствии с международными стандартами.
    li  В нашей продукции нет силикона и перевертышей.
    li  Изготавливаем только из натуральных волос.
    li  Получено экспертное заключение по изделиям из волос.
