.landing-counter
  margin-top auto
  text-align right
  color #202020
  display flex
  flex-direction column
  align-items center
  font-size 1.5rem
  .countdownHolder
    display flex
    margin-top font-xs
    justify-content flex-end
    .position
      display inline-block
      height line-xxl
      overflow hidden
      position relative
      width line-xxl*(3/4)
    .digit
      background #b0986e
      box-shadow none
      position: absolute;
      display: block
      width line-xxl*(3/4)
      line-height line-xxl
      font-size font-xxl
      border-radius: 0.2rem
      text-align: center
      color: #fff
      letter-spacing: -1px
      @media screen and (max-width point-s)
        line-height line-xl
        font-size font-xl

    .digit.static
      background #b0986e
      box-shadow none
      display block
    .countDays::after
      font-size 12px
      content 'дней'
      display block
      text-align center
    .countHours::after
      font-size 12px
      content 'часов'
      display block
      text-align center
    .countMinutes::after
      font-size 12px
      content 'минут'
      display block
      text-align center
    .countSeconds::after
      font-size 12px
      content 'секунд'
      display block
      text-align center
    .countDiv
      display flex
      align-items center
      &::after
        margin-x .25rem
        line-height line-xxl
        font-size font-xxl
        content ':'
  .countdownHolder
    margin-top 1.5rem
    .countDays
      display none
      & + .countDiv
        display none
    .countHours::after
    .countMinutes::after
    .countSeconds::after
      font-size font-m
    .position
      width 2rem
      height 3rem
    .digit
      width 2rem
      height 3rem
      line-height 3rem
      font-size 2rem
    .countDiv::after
      margin-x .5rem
