.landing-counter
  @extend .action-banner__counter
  display flex
  flex-direction column
  align-items center
  font-size 1.5rem
  .countdownHolder
    margin-top 1.5rem
    .countDays
      display none
      & + .countDiv
        display none
    .countHours::after
    .countMinutes::after
    .countSeconds::after
      font-size font-m
    .position
      width 2rem
      height 3rem
    .digit
      width 2rem
      height 3rem
      line-height 3rem
      font-size 2rem
    .countDiv::after
      margin-x .5rem
