-
  var feedback = [
    {
      'video':'<iframe src="//vk.com/video_ext.php?oid=12685241&id=171390826&hash=41373a559b55e78c&sd"></iframe>',
      'text':'Всегда есть все волосы в наличии, длина, цвет.<br>Очень обширная цветовая палитра...<br>Они всегда очень быстро собирают заказ',
      'name':'Юлия Адаменко',
      'activity':'Руководитель студии наращивания волос г. Оренбург'
    },
    {
      'video':'<iframe src="//vk.com/video_ext.php?oid=12685241&id=171390821&hash=0c0b2b76d678e157&sd"></iframe>',
      'text':'Пробовала не только в России, в Латвии, но и в Европе: американские волосы, бразильские. И на данный момент наш салон AMI Studio остановился на "Волосы 24".',
      'name':'Алеся Мингинович',
      'activity':'Мастер по наращиванию волос, опыт 10 лет. Латвия, г. Рига'
    }
  ]

.wholesale-feedback.wholesale-section
  h2 Оптовые клиенты говорят о нас
  each item in feedback
    +grid.wholesale-feedback__item
      +grid__item({'m':6,'xs':12}).wholesale-feedback__video
        .youtube-responsive
          .youtube-responsive__iframe !{item.video}
      +grid__item({'m':6,'xs':12}).wholesale-feedback__info
        p !{item.text}
        .wholesale-feedback__name !{item.name}
        .wholesale-feedback__activity !{item.activity}
